{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% set linkurl %}
    {{ content.field_link_url }}
{% endset %}

{% block paragraph %}

  {% block content %}

  <div class="full-width-view-wrapper sgt-widget-wrapper">

    <div class="row subtitle-title-desc-wrap clear text-center">
      <div class="subtitle center-block text-center">
        {{ content.field_subtitle }}
      </div>
      <h3 class="center-block text-center section">
        {{ content.field_title }}
      </h3>
      {{ content.field_intro_text }}
    </div>

    {#Loop through the Destinations entities, output image, title and node url#}
    {#
      Array element names:

      $variables['cherry_groups']
    #}

    <div class="view-wrapper">
      <div class="inner three-cols cherry-picked-groups">
        <ul class="view-content">
        {% for item in content.field_sgt['#items'] %}

          <li class="view-item text-center">
          <div class="teaser-image"><img src="{{ file_url(item.entity.field_image.entity.fileuri) }}" /></div>
          <div class="teaser-title-summary">
            <div class="teaser-date text-uppercase"></div>
            <div class="teaser-group-title text-uppercase">
              {{ item.entity.field_country.0.entity.label }}
              {% set tid = item.entity.field_country.target_id %}
            </div>
            <div class="teaser-summary">{{ item.entity.field_description.value|t() }}</div>
          </div>

          <div class="button-wrapper">
            <a class="btn black learn-more" href="/form/register-your-interest?country={{ tid }}">Register Your Interest</a>
          </div>

          </li>
        {% endfor %}
                </ul>
            </div>
        </div>

        {#End destinations loop#}

        {% endblock %}
   </div>
    {% endblock paragraph %}
