{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{# CONTENT ARRAY CONTAINER #}
{% set contentArray = {} %}

{# ROUND UP VARS #}

{% for field in fields %}
    {% set contentArray = contentArray|merge({(field.class):(field.content)}) %}
{% endfor %}

{#CHECK OUT WHAT THE KEYS ARE#}
{#{% for key,value in contentArray %}#}
    {#{{ key }}#}
{#{% endfor %}#}

{% if contentArray['field-hero-image-landscape'] %}
    <div class="teaser-image">
      {{ contentArray['field-hero-image-landscape'] }}
    </div>
{% endif %}

  <div class="teaser-title-summary">
   {% if contentArray['title']|striptags|trim != '' %}
    <div class="teaser-title">
      <a href="{{ contentArray['path']|striptags|trim }}">{{ contentArray['title']|raw }}</a>
    </div>
{% endif %}

{#TRUNCATE THE STRING - Possibly not the way its supposed to be done#}
{% if contentArray['body']|raw %}
    <div class="teaser-summary">
      {{ contentArray['body-1']|striptags|slice(1,200) }}
    </div>
{% endif %}
  </div>

