{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{% set nodeid = fields.nid.content|raw|striptags %}
<div class="small-group-col">
  <div id="small-group-{{ nodeid|trim }}">
    <a onClick="setSelectedSmallGroup('{{ nodeid|trim }}', 'small-group-{{ nodeid|trim }}');window.status = '';return false;" class="clickable-area"></a>
    <div class="small-group-image" style="background-image: url({{ fields.field_croppable_image.content|striptags|trim }});"></div>
    <div class="small-group-content">
        <span class="small-group-date">{{ content.date_ranges }}</span>
        <span class="small-group-title">{{ fields.title.content }}</span>
    </div>
  </div>
</div>
