{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id, 'container-enquire-form'
]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {{ exposed }}
    {{ attachment_before }}

    {{ rows }}
    {{ empty }}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {{ feed_icons }}
</div>
<script>

    // Small travel group pre-selection based upon Querystring
    var valInit = getParameterByName('smgrpid');

    if(valInit){
        var divIdToPreSet = 'small-group-' + valInit;
        var elementToInit = document.getElementById(divIdToPreSet);
        elementToInit.classList.add('small-group-selected-div');
        updateSelectedSmallGroups(valInit, 'ADD');
        console.log('Currently selected IDs: ' + document.getElementsByName('selected_small_groups')[0].value);
        // small-group-col-selected
        elementToInit.parentNode.classList.add('small-group-col-selected');
    }


</script>