{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'paragraph-banner-wysiwyg'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

    <div class="image-h1-wrapper">
      <div class="h1-wrapper column">
        <!-- Overlayed H1 on top banner image -->
        {# Image #}

        {# wysiwyg text #}
        {% if content.field_wysiwyg_text|render %}
        <h1>
          {{ content.field_wysiwyg_text  }}
        </h1>
        {% endif %}
            
        <!-- Overlayed button on top banner image -->
        {# link #}
        {% if content.field_link|render %}
          {{ content.field_link  }}
        {% endif %} 

        
      </div>

      <div class="image-banner-wrapper desktop">
        <div class="image-banner-wrapper-inner">
        {% if content.field_image|render %}
          {{ content.field_image  }}
        {% endif %}
        </div>
      </div>

      {% if content.field_croppable_image_mobile|render %}
        <div class="image-banner-wrapper mobile">
          <div class="image-banner-wrapper-inner">
            {{ content.field_croppable_image_mobile }}
          </div>
         </div>
       {% endif %}
   
   {% if is_front %}<div id="arrow-down" class="arrow-down"></div>{% endif %} 
      
   </div><!-- /.image-h1-wrapper -->
   
   

    {% endblock %}
  </div>
{% endblock paragraph %}

<div id="down-target"></div>
