{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set enquire_form_url %}
{{ enquire_form_querystring }}
{% endset %}

<article{{ attributes }}>
  <div class="image-h1-wrapper">
    <div class="h1-wrapper">
      <h1>
        <span>
          {{ content.field_subtitle }}
        </span>
          {{label}}
      </h1>
    </div>
    
    <div class="image-banner-wrapper desktop">
      <div class="image-banner-wrapper-inner">
        {% if content.field_croppable_image|render %}
          {{ content.field_croppable_image }}
        {% endif %}
      </div>
    </div>

    {% if content.field_croppable_image_mobile|render %}
    <div class="image-banner-wrapper mobile">
      <div class="image-banner-wrapper-inner">
        {{ content.field_croppable_image_mobile }}
      </div>
    </div>
    {% endif %}

  </div>
  
  {{ content.custom_breadcrumbs }}

  <div class="field-wrapper row first-row">

    <div class="content-body col-sm-7">
      <div class="content-body-inner buffer">
        <h2 class="with-panel">
          {{ content.field_subtitle }}
        </h2>
        {{ content.body }}
      </div>
    </div>

    <div class="block-content col-sm-5">
      <div class="panel panel-default">
        <!-- HARD CODED BLOCK -->
        <div class="field field--name-field-wysiwyg-body field--type-text-long field--label-hidden field--item">
          <div class="panel-body text-center">
            <div class="panel-title">Begin your journey</div>

              {% if 'en-US' in cazloyd_url_language %}
                <a class="btn enquire move-right" href="{{ enquire_form_url }}">Inquire</a>
              {% else %}
                <a class="btn enquire move-right" href="{{ enquire_form_url }}">Enquire</a>
              {% endif %}
          </div>

          <div class="panel-body text-center">
            <div class="panel-title">Speak to an expert</div>
              {% if 'en-US' in cazloyd_url_language %}
                <span class="phone-number center-block">1-800-409-4233</span>
              {% else %}
                <span class="phone-number center-block">+44 (0)207 384 2332</span>
              {% endif %}
            </div>
        </div>
         {#{{ drupal_entity('block_content', 2) }}#}
      </div>
    </div>

  </div>

  <div{{ content_attributes }}>
    {{ content.field_paragraph_content }}
  </div>

</article>