{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

    {% if sgt_pricing_header|render %}
      {{ sgt_pricing_header }}
    {% endif %}
      <div id="accordion" class="accordion center-block small-group-travel role="tablist">

        {% for accordion_key,accordion_item in content.accordion_items %}
          
          <div class="accordion-single-item">
            <div class="inner">
              <div class="card-header text-uppercase" role="tab" id="heading_{{accordion_key}}">
                
                {# Set to TRUE if one panel has to 
                  expanded by default #}

                {% if accordion_key == 0 %}
                  {% set expand = "false" %}
                  {% set class_xp = "collapse" %}

                {% else %}
                  {% set expand = "false" %}
                    {% set class_xp = "collapse" %}
                {% endif %}
                <a data-toggle="collapse" href="#accord{{accordion_key}}" aria-expanded="{{expand}}" aria-controls="accord{{accordion_key}}">
                  {{ accordion_item.field_accordion_title }}
                </a>
            
              </div>
              <div id="accord{{accordion_key}}" class="{{class_xp}}" role="tabpanel" aria-labelledby="heading_{{accordion_key}}" data-parent="#accordion">
                <div class="accordion-body">
                  {{ accordion_item.field_wysiwyg_text }}   
                </div>
              </div>
            </div><!-- /.inner -->
          </div>
        {% endfor %}
      </div>
    {% if sgt_pricing_terms_conditions|render %}
        <div class="subtitle-title-desc-wrap clear text-center">{{ sgt_pricing_terms_conditions }}</div>
    {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}