// Button default styles
@mixin button-default {
  font-size: $font-size-smaller;
  border: 0;
  color: $color-white;
  text-transform: uppercase;
  padding: ( $padding-small-vertical * 3 )  ( $padding-small-vertical * 8 );
  border-radius: 0;
  font-family: $heading-panels-font-family;
  &:hover {
    opacity: .75;
  }
}