/* This is for 16:9 only and intended to YouTube video */
@mixin responsive-ratio-element($ratio: 56.25%){
  position: relative;
  padding-top: $ratio;
  width: 100%;
  iframe, video, .item {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
  }
}

/* This takes any ratio and apply it to the :before pseudo element and make sure the image fits the parent div on any breakpoints */
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}