///RWD MIXIN BELOW
@mixin rwd-first {
  display: block;
  tbody {
    border: none;
  }
  tbody, th, td, tr, tfoot {
    display: block; 
  }
  thead {
    display: none;
  }
  tr {
    float: left;
    width: 100%;
    margin: 0 0 1em;
    border: 1px solid $gray-darker;
    box-shadow: 0px 2px 5px 0px $gray-darker;
    border-top: 5px solid $brand-primary;
    td {
      padding: .5em .5em .5em 50%;
      float:left;
      width: 100%;
      &:before {
        width: 100%;
        display: block;
        float: left;
        padding: .5em .5em .5em 0;
        clear: both;
        margin: -.5em 0 0 -100%;
      }
    }
  tr:nth-of-type(even) {
    td {
        
      &:before {
          
      }
    }
  }
}
}

@mixin rwd-second {
  display: table;
  border: none;

  tbody {
    border-bottom: 3px solid brand-primary;
  }
  th, td {
    display: table-cell; 
  }
  tr {
    display: table-row;
    border: none;
    border-bottom: 1px solid #eee;
    float: none;
    margin: 0;
    box-shadow: none;
    td {
      padding: .75em 0 0.75em .25em;
      float: none;
      width: auto;
      &:before {
        padding: 0;
      }
    }
  }
  thead {
    display: table-header-group;
  }
  tbody,tfoot {
    display: table-row-group;
  }
  tr:nth-of-type(even) {
    background:none;
    td {
      
      &:before {
        
      }
    }
  }
}

%responive-tables {
  @include rwd-first;

  @media screen and (min-width: 768px) { 
    @include rwd-second;
    
  }
}

%responive-tables-large {
  @include rwd-first;

  @media screen and (min-width: 1440px) { 
    @include rwd-second;
    
  }
}

@mixin responive-tables($headings...) {
  $list: $headings;

  @each $list-headings in $list {
    $i: index($list, $list-headings);
    tbody tr td:nth-of-type(#{$i}):before { 
      content: $list-headings; 
    }
    
    @media screen and (min-width: 768px) { 
      tbody tr td:nth-of-type(#{$i}):before { 
        content: ''; 
      }
    }

  }
}

@mixin responive-tables-large($headings...) {
  $list: $headings;

  @each $list-headings in $list {
    $i: index($list, $list-headings);
    tbody tr td:nth-of-type(#{$i}):before { 
      content: $list-headings; 
    }
    
    @media screen and (min-width: 1440px) { 
      tbody tr td:nth-of-type(#{$i}):before { 
        content: ''; 
      }
    }

  }
}

#rwd-table {
  @extend %responive-tables;
  @include responive-tables('Heading Col 1', 'Heading Col 2', 'Heading Col 3');
}

#rwd-table-large {
  @extend %responive-tables-large;
  @include responive-tables-large('Heading Col 1', 'Heading Col 2', 'Heading Col 3','Heading Col 4');
}