@mixin display-flex($display: flex) {
  @if ($display == inline-flex) {
    display: -webkit-inline-box;  // Old Safari and (old) Android browser
  } @else {
    display: -webkit-box;         // As above
  }
  display: -webkit-#{$display};   // Safari
  display: -ms-#{$display}box;    // IE10 (only)
  display: #{$display};
}

// The 'flex' shorthand
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}

//noinspection CssOverwrittenProperties
@mixin flex-direction($direction) {
  @if ($direction == row) {
    -webkit-box-orient: horizontal;
    -webkit-box-orient: normal;
  } @else if ($direction == column) {
    -webkit-box-orient: vertical;
    -webkit-box-orient: normal;

  } @else if ($direction == row-reverse) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
  } @else if ($direction == column-reverse) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
  }
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

@mixin order($order) {
  -webkit-box-ordinal-group: $order + 1;
  -webkit-order: $order;
  -ms-flex-order: $order;
  order: $order;
}

@mixin flex-grow($flex-grow) {
  -webkit-box-flex: $flex-grow;
  -webkit-flex-grow: $flex-grow;
  -ms-flex-positive: $flex-grow;
  flex-grow: $flex-grow;
}

@mixin flex-shrink($flex-shrink) {
  -webkit-flex-shrink: $flex-shrink;
  -ms-flex-negative: $flex-shrink;
  flex-shrink: $flex-shrink;
}

@mixin flex-basis($flex-basis) {
  -webkit-flex-basis: $flex-basis;
  -ms-flex-preferred-size: $flex-basis;
  flex-basis: $flex-basis;
}

@mixin justify-content($justify-content) {
  -webkit-box-pack: $justify-content;
  -webkit-justify-content: $justify-content;
  -ms-flex-pack: $justify-content;
  justify-content: $justify-content;
}

@mixin align-items($align-items) {
  -webkit-box-align: $align-items;
  -webkit-align-items: $align-items;
  -ms-flex-align: $align-items;
  align-items: $align-items;
}

@mixin align-self($align-self) {
  -webkit-align-self: $align-self;
  -ms-flex-item-align: $align-self;
  align-self: $align-self;
}

@mixin align-content($align-content) {
  -webkit-align-content: $align-content;
  -ms-flex-line-pack: $align-content;
  align-content: $align-content;
}
