/**
 * Give an element full browser width when it’s already contained in an element with a width
 */
@mixin full-width-elem($margin: $grid-gutter-width, $padding: $grid-gutter-width) {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: 0;
  padding-right: 0;
  // fix for ipad bug with vw - cribbed from https://gist.github.com/seavor/36906178b8fc045c1d81
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation:landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 1024px;
    margin-left: calc(50% - 512px);
  }
  // center contained elements
  & > * {
    @include max-width-elem;
    display: block;
    float: none;
  }
}

@mixin max-width-elem {
  
  @media #{$tabletAndUp} {
    width: $container-tablet - ($grid-gutter-width);
  }

  @media #{$desktopAndUp} {
    width: $container-desktop - ($grid-gutter-width);
  }

  @media #{$wide} {
    width: $container-large-desktop - ($grid-gutter-width);
  }
  margin-left: auto;
  margin-right: auto;  
}

