{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div class="full-width-view-wrapper">
  <div class="row subtitle-title-desc-wrap clear">
    <div class="subtitle center-block text-center">Extraordinary</div>
    <h3 class="center-block text-center section">Destinations &plus; Experiences</h3>
  </div>

  <div{{ attributes.addClass(classes) }}>
   

   {% if header %}
     <header>
      {{ header }}
     </header>
   {% endif %}

   <div class="view-wrapper three no-padding dest-exp">
   
     {{ title_prefix }}
     {{ title }}
     {{ title_suffix }}
   
     {{ exposed }}
     {{ attachment_before }}

     {{ rows }}
     {{ empty }}
   </div> 
      
   <div class="pagination-wrapper">
     {{ pager }}
   </div>

   {{ attachment_after }}
   {{ more }}

   

   {% if footer %}
     <footer>
      {{ footer }}
     </footer>
   {% endif %}

   {{ feed_icons }}
  </div>

  <div id="two-buttons" class="subtitle center-block text-center">
    <a class="btn move-right transparent view-button-clear border-right" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/destinations">VIEW ALL DESTINATIONS</a>
    <span class="divider"></span>
    <a class="btn move-right transparent view-button-clear" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/be-inspired">VIEW ALL EXPERIENCES</span></a>
  </div>

</div>