{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

	{% set image_with_style %}
		{{ image_style_path }}
	{% endset %}

    {#'current_node_type' is determined in the view_view_fields preprocessor#}
    {% if current_node_type == 'region_landing_page' %}
        {% if fields.counter.content|striptags|trim == 1 %}
            {% set image_style_type = 'iwc_homepage_800x1200' %}
        {% elseif  fields.counter.content|striptags|trim == 2 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 3 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 4 %}
            {% set image_style_type = 'iwc_homepage_800x400' %}
        {% elseif  fields.counter.content|striptags|trim == 5 %}
            {% set image_style_type = 'iwc_homepage_800x400' %}
        {% elseif  fields.counter.content|striptags|trim == 6 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 7 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 8 %}
            {% set image_style_type = 'iwc_homepage_800x1200' %}
        {% endif %}
    {% else %}
        {#HOMEPAGE LAYOUT#}
        {% if fields.counter.content|striptags|trim == 1 %}
            {% set image_style_type = 'iwc_homepage_800x1200' %}
        {% elseif  fields.counter.content|striptags|trim == 2 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 3 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 4 %}
            {% set image_style_type = 'iwc_homepage_800x400' %}
        {% elseif  fields.counter.content|striptags|trim == 5 %}
            {% set image_style_type = 'iwc_homepage_800x400' %}
        {% elseif  fields.counter.content|striptags|trim == 6 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 7 %}
            {% set image_style_type = 'iwc_homepage_800x800' %}
        {% elseif  fields.counter.content|striptags|trim == 8 %}
            {% set image_style_type = 'iwc_homepage_800x1200' %}
        {% endif %}
    {% endif %}

    {% set page_nid = fields.nid.content|striptags|raw|trim %}
    {% set page_path = '/node/' ~ page_nid %}
    {% set alias_page_path = drupal_url(page_path, {absolute: false}) %}

	  <div class="dest-exp-thumbs" style="background-image: url({{ image_style_path|image_style(image_style_type) }})"></div>

      <a href="{{ alias_page_path }}">
        <div class="inner">
            <span>{{ fields.title.content }}</span>
            <span class="flex-end-pad">{{ fields.field_subtitle.content }}</span>
        </div>
      </a>
