/* Why Cazloyd
--------------------------------------------- */
.our-story-container {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  position: relative;

  // Date Triangle
  &:after {
    content: "";
    border-style: solid;
    border-width: 5px 5px 8px;
    border-color: transparent transparent $gray-lighter transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

}

.our-story-row {
  @include flex-basis(100%);
  border-top: 1px solid $gray-lighter;
  padding-top: $padding-large-vertical * 4;
  position: relative;
  margin-top: 60px;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  @media #{$tabletAndUp} {
    @include flex-basis(50%);
    max-width: 50%;
    margin-top: 0;
    text-align: left;

    // Date Dot Marker
    &:before {
      background: $brand-primary;
      border-radius: 100%;
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: -5px;
      right: -5px;
    }
  }

  // The date
  h4:first-child {
    margin: 0;
    position: absolute;
    padding: 0 $padding-small-horizontal * 2;
    top: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    @media #{$tabletAndUp} {
      left: 40px;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  h4 {
    font-family: $heading-panels-font-family;
  }

  p {
    color: $gray-darker;
  }

  img {
    margin-bottom: 30px;
  }

  // Left Column (Tablet Up)
  &:nth-child(odd) {
    @media #{$tabletAndUp} {
      border-right: 1px solid $gray-lighter;
      padding-right: $padding-small-horizontal * 4;
    }
  }

  // Right Column (Tablet Up)
  &:nth-child(even){
    @media #{$tabletAndUp} {
      margin-top: 80px;
      padding-left: $padding-small-horizontal * 4;

      &:before {
        left: -5px;
      }

      h4:first-child {
        left: auto;
        right: 40px;
      }
    }
  }

}
