.paragraph--type--charity-item {
  padding-bottom: $padding-large-vertical * 5;
  .field--name-field-charity-name {
    font-family: $heading-panels-font-family;
    font-size: $font-size-smaller;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-base;
    padding-bottom: $padding-small-vertical * 4;
    padding-top: $padding-large-vertical * 5;
  }

  .field--name-field-find-out-more-link {
    @extend .btn;
    margin: $padding-large-horizontal 0 ($padding-large-vertical * 7) 0;
    
    a {
    	color: $color-white;
    }

    &:hover {
      &:after {
        @extend .move-right;
      }
    }

  }

  > * > * > img:first-of-type {
    padding-top: $padding-large-vertical * 7;
  }

}