/* SMALL GROUP TRAVEL page */
.page-node-type-small-group-detail {

  .paragraph {
    .map-overlay-desc-inner {
      h2 {
        border-bottom: 0;
      }
    }
  }

  h2 {
    border-top: 0;
    border-bottom: 3px solid $color-small-group;
    padding-bottom: $padding-large-vertical * 2;
    margin-bottom: $padding-large-vertical * 3;
    text-align: left;
    font-size: ( $font-size-smaller * 1.8 );
    color: $gray-darker;
  }

  .bigger-fonts {
    margin:  $padding-large-vertical 0 0;
  }


  .panel.panel-default {
    .panel-body:first-of-type {
      border-bottom: 0;
    }
  }

}

/* Landing */
.page-node-type-small-group-travel {
  .image-h1-wrapper {
    .h1-wrapper {
      h1 {
        span {
          @include font-size(3.8);
        }
      }
    }
  }
  .small-groups {
    h2 {
      border-top: 0;
      border-bottom: 3px solid $color-small-group;
      padding-bottom: $padding-large-vertical * 2;
      margin-bottom: $padding-large-vertical * 3;
      text-align: left;
    }
  }

  .btn {
    &.enquire {
      background: $color-small-group;
    }
  }

  .icon > svg {
    height: 100px;
  }
  .paragraph--type--image-and-text-with-button {
    .btn {
      background: $color-small-group;
    }
  }

  .key-features-wrap {
    .inner-wrapper {
      .summary {
        padding-bottom: ($padding-large-vertical * 6);
      }
      .row {
        .key-features-wrap-item {

          span {
            padding: $padding-large-vertical 0;
          }

        }
      }
    }
  }

  // SGT Widget Wrapper Only
  .sgt-widget-wrapper {

    .view-wrapper .inner.cherry-picked-groups .view-content {
      justify-content: flex-start;

      .view-item {
        margin-bottom: 40px;

        @media #{$tabletAndUp} {
          flex-basis: 33.333%;
          padding-left: 0.2333%;
          padding-right: 0.2333%;
          position: relative;
        }

        .teaser-title-summary {
          margin-bottom: 30px;

          .teaser-date {
            padding-top: 0;
          }

          .teaser-group-title {
            padding-bottom: 0;
          }

          .teaser-summary {
            min-height: 0;
          }

        }
        
        .button-wrapper {
          @media #{$tabletAndUp} {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }

          // Reducing button padding to prevent overlap bug
          .btn {
            @media #{$tabletAndUp} {
              font-size: 10px;
              padding-left: 20px;
              padding-right: 20px;
            }
          }

        }

      }

    }

  }

}
