/* DESTINATION PAGES

  Set colours be default for elements on the page depending on the Region
  e.g #FAA21B = $color-africa
  For 
  - destinations
  - Meet the team pages

*/

.main-container {
  article {
    .field-wrapper {
      &.first-row {
        .content-body {
          
          @media #{$tabletAndUp} {
            padding-left: 0;
            padding-right: 0;
          }
          
        }
        .col-sm-5 {
          .panel {
            &.panel-default {
              
              @media #{$mobileOnly} {
                margin: 0;
              }

              div {
                .panel-body {
                  padding-top: $padding-large-vertical * 3;
                  padding-bottom: $padding-large-vertical * 3.5;
                  &:first-of-type {
                    padding-top: $padding-large-vertical * 4;
                    padding-bottom: $padding-large-vertical * 4;
                  }
                }
              }

            }
          }
        } 
      }
    }
	  &.africa-indian-ocean {
      .custom-breadcrumbs {
        ol {
          li {
            &:after {
              color: $color-africa;
            }
          }
        }
      }
      h2 {
        .field--name-field-subtitle {
          border-color: $color-africa;
      	 }
      }
      .btn {
        background-color: $color-africa;
        &:hover {
          background-color: darken($color-africa, 15%)
        }
        &.white {
          background-color: $color-white;
        }
      }

      .testimonials-wrapper {
        .carousel {
          .carousel-inner {
            .item {
              .author {
                color: $color-africa
              }
            }
          }
        }
      }

    }
    // Africa Indian Ocean region CT
    &.region {
      &.africa {
        .custom-breadcrumbs {
          ol {
            li {
              &:after {
                color: $color-africa;
              }
            }
          }
        }
        h2 {
          .field--name-field-subtitle {
            border-color: $color-africa;
           }
        }
        .btn {
          background-color: $color-africa;
          &:hover {
            background-color: darken($color-africa, 15%)
          }
          &.white {
            background-color: $color-white;
          }
        }
      }
    }
    // ASIA destinations
    &.asia-middle-east {
      .custom-breadcrumbs {
        ol {
          li {
            &:after {
              color: $color-asia;
            }
          }
        }
      }
      h2 {
        .field--name-field-subtitle {
          border-color: $color-asia;
        }
      }
      .btn {
        background-color: $color-asia;
        &:hover {
          background-color: darken($color-asia, 15%)
        }
        &.white {
          background-color: $color-white;
        }
      }
      
      .testimonials-wrapper {
        .carousel {
          .carousel-inner {
            .item {
              .author {
                color: $color-asia
              }
            }
          }
        }
      } 
      
    }
    // ASIA region CT
    &.region {
      &.asia {
        .custom-breadcrumbs {
          ol {
            li {
              &:after {
                color: $color-asia;
              }
            }
          }
        }
        h2 {
          .field--name-field-subtitle {
            border-color: $color-asia;
           }
        }
        .btn {
          background-color: $color-asia;
          &:hover {
            background-color: darken($color-asia, 15%)
          }
          &.white {
            background-color: $color-white;
          }
        }
      }
    }
    // SOUTH AMERICA DESTIATIONS
    &.central-south-america {
      .custom-breadcrumbs {
        ol {
          li {
            &:after {
              color: $color-americas;
            }
          }
        }
      }
      h2 {
        .field--name-field-subtitle {
          border-color: $color-americas;
        }
      }
      .btn {
        background-color: $color-americas;
        &:hover {
          background-color: darken($color-americas, 15%)
        }
        &.white {
          background-color: $color-white;
        }
      }
      
      .testimonials-wrapper {
        .carousel {
          .carousel-inner {
            .item {
              .author {
                color: $color-americas
              }
            }
          }
        }
      }

    }
    // SOUTH AMERICAS region CT
    &.region {
      &.central {
        .custom-breadcrumbs {
          ol {
            li {
              &:after {
                color: $color-americas;
              }
            }
          }
        }
        h2 {
          .field--name-field-subtitle {
            border-color: $color-americas;
           }
        }
        .btn {
          background-color: $color-americas;
          &:hover {
            background-color: darken($color-americas, 15%)
          }
          &.white {
            background-color: $color-white;
          }
        }
      }
    }
    &.antartica {
      .custom-breadcrumbs {
        ol {
          li {
            &:after {
              color: $color-antartica;
            }
          }
        }
      }
      h2 {
        .field--name-field-subtitle {
          border-color: $color-antartica;
        }
      }
      .btn {
        background-color: $color-antartica;
        &:hover {
          background-color: darken($color-antartica, 15%)
        }
        &.white {
          background-color: $color-white;
        }
      }
      
      .testimonials-wrapper {
        .carousel {
          .carousel-inner {
            .item {
              .author {
                color: $color-antartica
              }
            }
          }
        }
      } 

    }

    // AUSTRALASIA DESTIATIONS
    &.australasia {
      .custom-breadcrumbs {
        ol {
          li {
            &:after {
              color: $color-australasia;
            }
          }
        }
      }
      h2 {
        .field--name-field-subtitle {
          border-color: $color-australasia;
        }
      }
      .btn {
        background-color: $color-australasia;
        &:hover {
          background-color: darken($color-australasia, 15%)
        }
        &.white {
          background-color: $color-white;
        }
      }
      
      .testimonials-wrapper {
        .carousel {
          .carousel-inner {
            .item {
              .author {
                color: $color-australasia;
              }
            }
          }
        }
      }

    }
    // AUSTRALASIA region CT
    &.region {
      &.australasia {
        .custom-breadcrumbs {
          ol {
            li {
              &:after {
                color: $color-australasia;
              }
            }
          }
        }
        h2 {
          .field--name-field-subtitle {
            border-color: $color-australasia;
           }
        }
        .btn {
          background-color: $color-australasia;
          &:hover {
            background-color: darken($color-australasia, 15%)
          }
          &.white {
            background-color: $color-white;
          }
        }
      }
    }

	}
}

.page-node-type-destination-detail-v2 {
  article {
    
    .paragraph--type--blog-list-by-category {
      .curious {
        &.svg {
          padding-bottom: $padding-large-vertical;
        }
      }
    }

    .paragraph--type--cherry-picked-blogs {
      padding-bottom: 0;
      &:before {
        padding-top: 0;
      }
      .subtitle-title-desc-wrap.clear {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

  }
}

.path-destinations {

  .subtitle-title-desc-wrap {
    .description {
      padding-bottom: 0;
    }
  }
  
  .pagination-wrapper {
    > nav .pager li {
      a {
        padding: $padding-small-vertical ($padding-small-horizontal * 3);
      }
    }
  }

  .pagination-wrapper {
    > nav .pager {
      margin: ( $padding-large-vertical * 6) 0;
    }
  }
}