/* MEET THE TEAM - landing page */
article {
  .content-meet-the-team {
    .paragraph--type--two-column-wysiwyg {
      .row {
        > div {
          
          @media #{$desktopAndUp} {
            &:first-of-type {
              width: 60%;
              div {
                padding: 0 ( $padding-small-horizontal * 4 ) 0 0;
              }
            }
            &:last-of-type {
              width: 40%;
              blockquote {
                margin: 0;
                padding-left: 0;
                padding-top: ( $padding-small-vertical );
              }
            }
          }
        }

        h2 {
          padding-bottom: ( $padding-large-vertical * 2);
          border-bottom: 3px solid $brand-primary;
        }
        h3 {
          padding-bottom: ( $padding-large-vertical * 2);
          margin-bottom: ( $padding-large-vertical * 4 );
          border-bottom: 3px solid $brand-primary;
          width: 100%;
        }
        p {
          text-align: left;
          color: $gray-darker;
        }
        blockquote {
          font-family: $headings-font-family-extralight;
          font-style: italic;
          font-style: ( $font-size-base * 1.9 );
          border: 0;
          + p {
            font-family: $heading-panels-font-family;
            letter-spacing: 1px;
            color: $gray-darker;
            font-size: $font-size-smaller;
            line-height: ( $line-height-base * 1.2 );
            margin: 0;
            text-transform: uppercase;
          }
        }

        .col-sm-12:last-of-type {
          > div > p {
            font-family: $heading-panels-font-family;
            text-align: right;

            @media #{$desktopAndUp} {
              text-align: left
            }

          }
        }

      }

      

    }
  }

  .call-to-action-wrap {
    @include full-width-elem;
  }

}