.view-wrapper-press {

  ul > li {
    background: $background-panel-color;
    background-clip: padding-box;

    &:hover {

      .field--name-field-image {
        border-bottom-color: $brand-primary;
      }

      .field--name-field-article-title {
        &:before {
          color: $brand-primary;
        }
      }

    }
  }

  // Press Articles Images
  .field--name-field-image {
    border: 1px solid $gray-lighter;
    border-bottom: 5px solid $gray-darker;
    background: $color-white;
    height: 250px;
    @include display-flex;
    @include align-items(center);

    img {
      max-width: 200px;
      margin: 0 auto;
    }

  }

  // Press Article Date + Publication Name
  .field--name-field-date-as-text {
    padding: ( $padding-large-vertical * 2) 0 0 ( $padding-small-horizontal * 3 );
  }
  .field--name-field-date-as-text,
  .field--name-field-publication-name {
    display: inline-block;
    font-weight: $font-pn-proxima-semi-bold;
    font-size: $font-size-smaller;
  }

  .field--name-field-date-as-text {
    &:after {
      content: "|";
      display: inline-block;
      width: 1px;
      padding: ( $padding-base-horizontal / 2 );
    }
  }

  // Press Article Title
  .field--name-field-article-title {
    color: $gray-darker;
    font-family: $headings-font-family-regular;
    font-size: $font-size-small;
    padding: 0 ( $padding-small-horizontal * 3 ) ( $padding-large-vertical * 5 ) ( $padding-small-horizontal * 3 );
    text-transform: uppercase;
    &:before {
      content: "+";
      width: 15px;
      display: inline-block;
      color: $gray-darker;
    }
  }

}

.path-press {
  .view-wrapper {
    padding: 0;
  }
}