/* MEET THE TEAM - individual page */
.page-node-type-people {
  .people {
    .content {
      .inner {
        @media #{$tabletAndUp} {
          @include display-flex(flex);
        }
        @media #{$mobileOnly} {
          padding-left: ( $padding-xs-horizontal * 3 );
          padding-right: ( $padding-xs-horizontal * 3 );
        }
        .left {
          @include flex-basis(50%);
          @include display-flex(flex);
          @include justify-content(flex-start);
          @include align-items(center);
          @media #{$tabletAndUp} {
            flex-shrink: 0;
          }
          .staff-detail {
            width: 100%;
            @media #{$tabletAndUp} {
              padding-right: 70px;
            }
            @media #{$mobileOnly} {
              text-align: center;
            }
            .back-meet-team {
              @media #{$mobileOnly} {
                padding-top: ( $padding-large-vertical * 2 );
                display: inline-block;
              }
              color: $gray-custom;
              &:before {
                content: "";
                background: url(../images/arrow-back-blog.svg) no-repeat top left;
                width: 20px;
                height: 10px;
                display: inline-block;
                margin-right: ( $padding-small-horizontal );
              }
              &:hover {
                opacity: .8;
              }
            }
            h1 {
              font-size: ( $font-size-smaller * 2 );
              border-bottom: 3px solid $brand-primary;
              padding-bottom: ( $padding-large-vertical * 2 );
              margin-bottom: 20px;
              @media #{$tabletAndUp} {
                max-width: 65%;
              }
              div {
                display: inline;
              }
            }
            .job-title, .staff-region {
              a {
                color: $text-color;
                text-transform: capitalize;
              }
            }
            .job-bio{
              margin-top: 20px;
            }
          }
        }
        .right {
          @include flex-basis(50%);
          @media #{$mobileOnly} {
            padding-top: ( $padding-large-vertical * 2 );
          }

          img{
            width: 100%;
          }

        }
      }

      .staff-profile {
        padding-top: 80px;

        .inner {
          padding: 0;
        }

      }

      .staff-whereabouts {
        @media #{$desktopAndUp} {
          float: left;
          width: 50%;
        }
        .item {
          .field--name-field-title {
            padding: ( $padding-large-vertical * 2 );
            background: $background-panel-color;
            font-family: $heading-panels-font-family;
            font-size: $font-size-smaller;
            text-align: center;
            text-transform: uppercase;
            color: $gray-darker;
          }
          &:last-of-type {
            padding-left: ( $padding-small-horizontal /2 );
          }
          .field--name-field-image {
            img {
              /* PIERRICK: Colours, based on regions, gets added - below*/
              border-width: 5px;
              border-top-style: solid;
            }
          }
          .field--name-field-subtitle {
            color: $gray-darker;
            padding-top: ( $padding-large-vertical * 4 );
            padding-bottom: ( $padding-large-vertical * 1 );
          }
          .field--name-field-intro-text {
            text-align: center;
            padding: 0 $padding-small-horizontal * 2.5;
            p {
              color: $gray-darker;
            }
          }
        }
      }
      .paragraph--type--photo-gallery {
        clear: both;
        .photogallery-title {
          @include element-invisible;
        }
        .carousel {
          .carousel-inner {
            .item {
              border-bottom: 4px solid $brand-primary;
            }
          }
        }
      }
    }
    // Adding Regions Default colors
    &.asia-middle-east {
      .content {
        .staff-whereabouts {
          .item {
            .field--name-field-image {
              img {
                border-color: $color-asia;
              }
            }
          }
        }
        .testimonials-wrapper {
          .carousel {
            .carousel-inner {
              .item {
                .author {
                  color: $color-asia;
                }
              }
            }
          }
        }
      }
    }
    &.africa-indian-ocean {
      .content {
        .staff-whereabouts {
          .item {
            .field--name-field-image {
              img {
                border-color: $color-africa;
              }
            }
          }
        }
        .testimonials-wrapper {
          .carousel {
            .carousel-inner {
              .item {
                .author {
                  color: $color-africa;
                }
              }
            }
          }
        }
      }
    }
    &.central-south-america {
      .content {
        .staff-whereabouts {
          .item {
            .field--name-field-image {
              img {
                border-color: $color-americas;
              }
            }
          }
        }
        .testimonials-wrapper {
          .carousel {
            .carousel-inner {
              .item {
                .author {
                  color: $color-americas;
                }
              }
            }
          }
        }
      }
    }

    // Staff experiences view


        .view-person-blogs {
          display: inline-block;
          @include full-width-elem;
          background: $background-panel-color;

          .attachment-before {
            display: inline-block;
            width: 100%;
            h3 {
              margin-top: 0;
            }
          }
          .view-wrapper {
            padding-top: $padding-large-vertical * 5;
          }
          .view-footer {
            text-align: center;
            a {
              @extend .btn;
              font-family: $heading-panels-font-family;
              background: transparent;
              color: $gray-darker;
              &:hover {
                background: transparent;
                color: $gray-darker;
                &:after {
                  @extend .move-right;
                }
              }
            }
          }
        }


  }
}
