/* Enquire Form Defaults
--------------------------------------------- */
.webform-submission-enquire-form,
.webform-submission-register-your-interest-form {
  padding-bottom: $padding-large-vertical * 15;

  h2 {
    text-align: center;
    padding-top: $padding-large-vertical * 5;
    padding-bottom: $padding-large-vertical * 5;
    margin: 0 auto;
    width: 100%;
  }

  .panel-body { padding: 0; }

  .panel.panel-default {
    background: none;
    border: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .panel-heading {
    background: none;
    border: none;
    padding: 0;
  }

  legend {
    border: none;
    font-size: inherit;
    margin-bottom: 0;
  }

  .panel.panel-default .panel-title,
  .panel-title,
  .fieldset-legend,
  label {
    color: $gray-dark;
    display: block;
    font-family: $heading-panels-font-family;
    font-size: $font-size-smaller;
    font-weight: $btn-font-weight;
    letter-spacing: 1px;
    line-height: $line-height-large;
    margin-bottom: $padding-large-vertical * 2;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  // Form Validation
  .form-required:after {
    background-image: none;
    content: "*";
    color: $brand-primary;
    margin-left: 5px;
  }

  .alert-danger { @include element-invisible; }

  .panel-danger {
    border-color: $brand-primary;

    .panel-title, label {
      padding: ($padding-large-vertical * 2) ($padding-small-horizontal * 2);
    }

  }

  // Form Input Elements
  ::-webkit-input-placeholder { color: $gray-custom; }
  ::-moz-placeholder { color: $gray-custom; }
  :-ms-input-placeholder { color: $gray-custom; }
  :-moz-placeholder { color: $gray-custom; }

  .select-wrapper {
    &:after {
      color: $gray-darker;
      font-size: $font-size-small;
      margin: 0;
      padding: 0;
      right: 25px;
      top: 25px;
    }
  }

  .form-control {
    border-radius: 0;
    border-color: $gray-lighter;
    min-height: 60px;
    box-shadow: none;
    color: $gray-dark;
    padding: 0 $padding-small-horizontal * 3;
    margin-bottom: 50px;
    &.form-textarea {
      padding: ($padding-large-vertical * 2) ($padding-small-horizontal * 3);
    }
  }

  .form-time {
    background-image: url('../images/icon-clock.svg');
    background-repeat: no-repeat;
    background-position: 92% center;
    &:hover, &:active, &:focus {
      background-image: none;
    }
  }

  .form-actions {
    padding-top: $padding-large-vertical * 3;
    text-align: center;

    button {
      margin: 0;

      @media #{$mobileOnly} {
        width: 100%;
      }

    }

  }

  /* I would like to Block
  --------------------------------------------- */
  .i-would-like-to-block {

    .subtitle-title-desc-wrap.clear {
      padding-bottom: $padding-large-vertical * 2;
    }

    .panel-heading {
      @include element-invisible;
    }

    .form-flex-buttons label {
      background: $background-panel-color;
      margin:0 5px;
      border-radius:0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      flex:1;
      border:none;

      &:hover, &.input-selected, &.ui-state-active {
        background: $brand-primary;
        color: $color-white;
      }

    }

    .your-budget {
      .panel.panel-default .panel-title {
        padding: 0;
      }
      .panel-body {
        .description {
          font-size: $font-size-smaller;
          padding: 0 0 $padding-large-vertical 0;
        }
      }
    }

  }

  /* About Blocks
  --------------------------------------------- */
  .about-your-trip-block,
  .about-your-trip-2-block {
    @include full-width-elem;
    margin-bottom: 0;
    @media #{$mobileOnly} {
      padding-left: $padding-small-horizontal * 2;
      padding-right: $padding-small-horizontal * 2;
    }
  }

  /* About Your Trip Block (radio/select block)
  --------------------------------------------- */
  .about-your-trip-block .form-flex-buttons {
    .js-webform-webform-buttons {
      label {
        @media #{$mobileOnly} {
          border: 1px solid $gray-lighter;
        }

        border-radius:0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border:none;

        &:hover, &.input-selected, &.ui-state-active {
          background: $brand-primary;
          color: $color-white;
          border: none;
        }
      }
    }
    label[for=edit-region-buttons-inspire-me]{
      &:before {
        content: "";
        display: inline-block;
        background: url(../images/lightbulb.png) no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      &:hover, &.input-selected {
        &:before {
          background: url(../images/lightbulb-white.png) no-repeat;
          background-size: cover;
        }
      }
    }

    label.ui-checkboxradio-label {
      @include flex-grow(0);
      @include flex-basis(50%);
      max-width: 50%;
      margin: 0;

      @media #{$desktopAndUp} {
        @include flex-basis(25%);
        max-width: 25%;
      }
    }

    .checkbox {
      @include flex-grow(0);
      @include flex-basis(50%);
      max-width: 50%;

      @media #{$desktopAndUp} {
        @include flex-basis(25%);
        max-width: 25%;
      }
      &.form-item-which-destination-africa-inspire-me-africa,
      &.form-item-which-destination-asia-inspire-me-asia,
      &.form-item-which-destination-central-america-inspire-me-americas,
      &.form-item-which-of-our-destinations-would-you-like-to-visit--inspire-me-polar,
      &.form-item-which-destination-polar-inspire-me-polar,
      &.form-item-which-destination-australasia-inspire-me-australasia {
        label {
          &:before {
            content: "";
            display: inline-block;
            background: url(../images/lightbulb.png) no-repeat;
            background-size: cover;
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }

          &:hover, &.input-selected {
            &:before {
              background: url(../images/lightbulb-white.png) no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
  }

  /* About Your Trip 2 Block (small groups block)
  --------------------------------------------- */
  .about-your-trip-2-block {

    // Small Group Card Section
    .views-element-container {
      margin-left: -5px;
      margin-right: -5px;
    }

    .container-enquire-form {
      @include display-flex;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      padding-bottom: $padding-large-vertical * 4;
    }

    .views-row {
      @include display-flex;
      @include flex-basis(100%);
      padding-left: $padding-xs-horizontal;
      padding-right: $padding-xs-horizontal;
      padding-bottom: $padding-large-vertical * 3;
      position: relative;
      @media #{$desktopAndUp} {
        @include flex-basis(33.33%);
        max-width: 33.33%;
        padding-bottom: $padding-large-vertical;
      }
    }

    .webform-options-display-buttons-wrapper {
      margin: 0 5px 40px 5px;

      .webform-options-display-buttons-label {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: unset;
        background-color: $color-white;
        border: none;
        border-radius: unset;
        outline: none;
        box-shadow: none;
      }

      input.form-checkbox:checked + .webform-options-display-buttons-label {
        background-color: $brand-primary;
        border: none;
        border-radius: unset;
        outline: none;
        box-shadow: none;

        .views-field-field-start-date .field-content,
        .views-field-nothing .field-content,
        .views-field-field-end-date .field-content,
        .views-field-title .field-content {
          color: $color-white;
        }
      }

      input.form-checkbox:focus + .webform-options-display-buttons-label,
      input.form-checkbox:active + .webform-options-display-buttons-label {
        border: none;
        border-radius: unset;
        outline: none;
        box-shadow: none;
      }
    }

    .small-group-col {
      @include flex-basis(100%);
      background-color: $color-white;
      &.small-group-col-selected {
        background-color: $brand-primary;
        .small-group-date, .small-group-title { color: $color-white; }
      }
    }

    .small-group-image,
    .views-field-field-croppable-image img {
      min-height: 200px;
    }

    .small-group-content {
      padding: ($padding-large-vertical * 3) ($padding-small-horizontal * 3);
      text-align: center;
    }

    .small-group-date,
    .views-field-field-start-date .field-content,
    .views-field-nothing .field-content,
    .views-field-field-end-date .field-content {
      font-size: 16px;
      font-family: $headings-font-family-regular;
      text-transform: none;
      line-height: 1.628571429;
      color: $gray-custom;
      display: flex;
      justify-content: center;
      padding: 30px 30px 0 30px;
    }

    .small-group-title,
    .views-field-title .field-content {
      font-size: 16px;
      font-family: $headings-font-family-regular;
      text-transform: none;
      line-height: 1.628571429;
      color: $gray-dark;
      display: flex;
      justify-content: center;
      padding: 0 30px 30px 30px;
    }
    // End of card section

    .how-many-people-row .form-item {
      @media #{$desktopAndUp} {
        @include flex(0);
        @include flex-basis(33.33%);
        max-width: 33.33%;
      }
    }

  }

  /* About You Block
  --------------------------------------------- */
  .about-you-block {

    .preferred-contact-row {

      .form-flex-buttons {
        padding-top: $padding-base-vertical;
      }

      .webform-options-display-side-by-side {
        label {
          @include justify-content(left);
          background: $background-panel-color;
          color: $gray-custom;
          font-family: $font-family-sans-serif;
          min-height: 60px;
          padding-left: $padding-small-horizontal * 3;
          padding-right: $padding-small-horizontal * 3;
          &:hover {
            background: $brand-primary;
            color: $color-white;
          }

          input {
            @include element-invisible-off;
            margin: -2px 10px 0 0;
          }

        }
      }

    }

    .all-fields-required-text {
      p {
        color: $gray-custom;
        margin-top: -30px;
        margin-bottom: 40px;
      }
      span { color: $brand-primary; }
    }

  }

}

// Flex box styles for buttons
.webform-options-display-side-by-side,
.form-flex-row {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include flex-basis(100%);
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0;
  justify-content: center;

  .form-item {
    @include flex(1);
    @media #{$untilTablet} {
      @include flex-basis(100%);
    }
    margin: 0;
    padding: 0 $padding-xs-horizontal;

    &.hide-button {
      @include element-invisible;
    }

  }

  &.form-flex-row-auto .form-item {
    @include flex-grow(1);
    @include flex-shrink(0);
    @include flex-basis(auto);
  }

}

.form-item.form-flex-full-width {
  @include flex-basis(100%);
}

.form-item-hidden {
  @include element-invisible;
}

.webform-element-help {
  border-radius: 100%;
  font-size: $font-size-small;
  font-weight: normal;
  line-height: 18px;
  width: 22px;

  &:hover, &:focus, &:active {
    background: $brand-primary;
    border: 2px solid $brand-primary;
  }

}

.ui-tooltip.webform-element-help--tooltip {
  border: none;
  font-size: $font-size-small;
}

.panel.form-flex-buttons,
.form-flex-buttons {
  margin-bottom: 40px;
  label {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    background: $color-white;
    height: 80px;
    padding: ($padding-large-vertical * 2) ($padding-large-vertical * 1) ($padding-large-vertical * 2) ($padding-large-vertical * 1);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 0;

    &:hover, &.input-selected {
      background: $brand-primary;
      color: $color-white;
    }

    input { @include element-invisible; }
  }

}

// Newsletter Opt In
.form-item-newsletter-signup label {
    margin-bottom: 0;
}

#edit-where-would-you-like-to-go-row .js-webform-buttons .panel-body .js-webform-webform-buttons .form-item:last-of-type {
  label {
    &:before {
      content: "";
      display: inline-block;
      background: url(../images/lightbulb.png) no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    &:hover, &.input-selected {
      &:before {
        background: url(../images/lightbulb-white.png) no-repeat;
        background-size: cover;
      }
    }
  }
}

// Register your interest form only
.webform-submission-register-your-interest-form {

  .about-your-trip-block {
    margin-bottom: 50px;
    padding-bottom: 10px;
  }

}
