.page-node-type-page {
 
 h1 {
    border-bottom: 3px solid $brand-primary;
    padding-top: $padding-large-vertical * 2;
    padding-bottom: $padding-base-vertical * 2;
    text-align: left;
    font-size: ( $font-size-smaller * 1.8 );
    color: $gray-darker;
  }
  
  .image-h1-wrapper {
    h1 {
      border: 0;
      padding-top: 0;
    }
  }

  // Page specific
  &.path-frontpage {
    h1 {
      border-bottom: 0;
      padding-top: 0;
    }
  }

  // Contact us
  .contact-us {
    
    .paragraph--type--two-column-wysiwyg {
      .contact-content-wrapper * {
        text-align: left;
      }
    }

    h1 {
      border: 0;
      padding: 0;
      font-size: $font-size-smaller * 2;
      letter-spacing: 2px; 
    }

    h2,h3,h4,h5 {
      font-family: $heading-panels-font-family;
      font-size: $font-size-smaller;
      letter-spacing: 1px;
    }
  }
  
  // Some pages needs to have a reduced content width
  article.reduced-width {
  	
  	@media #{$desktopAndUp} {
  	  width: 70%;
  	  margin: 0 auto;
  	}

  	h1 {
  	  padding-top: $padding-large-vertical * 12;
      margin-bottom: $padding-large-vertical * 3;
  	}

  }

  // T&Cs
  // Table markup (temporary)

  .tc-table {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    width: 95%;
    outline: 1px solid $gray-lighter;
    text-align: center;
    margin: 30px auto;

    > .col {
      @include flex-basis(100%);
      
      @media #{$tabletAndUp} {
        @include flex-basis(50%);
      }

      .header {
        @include display-flex(flex);
        @include justify-content(center);
        @include align-items(center);
        font-weight: bold;
        color: $gray-darker;
        font-family: $headings-font-family;
        text-align: center;
        height: 60px;
        outline: 1px solid $gray-lighter;
      }

      .row {
        outline: 1px solid $gray-lighter;
        margin: 0;
      }

    }
  }

}


