/* EXTRAORDINARY CELEBRATIONS Landing */

.page-node-type-celebrations-landing {
  
  /*.image-h1-wrapper {
    .h1-wrapper {
      h1 {
        font-family: $headings-font-family-extralight;
        @include font-size(6.4);
      }
    }
  }*/ 
  
  .subtitle {
    + h3 {

      @media #{$desktopAndUp} {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
      @media #{$wide} {
        width: 40%;
      }

    }
  } 

  .field--name-field-paragraph-content {
    .field--item {
      &:first-of-type {
        .call-to-action-wrap {
          .row {
            @media #{$wide} {
              max-width: 35%;
            }
            h3 {
              font-family: $headings-font-family;
              padding-bottom: $padding-large-vertical * 2;
            }
          }
        }
      }
    }
  }

  .summary {
    .field--name-field-summary {
       color: $gray-darker;
    }
  }
  
}

/* EXTRAORDINARY CELEBRATIONS page */
.page-node-type-celebration-detail {
    .main-container {
     article {
      .custom-breadcrumbs {
        ol {
          li {
            &:after {
              color: $color-celebrations;
            }
          }
        }
      }

      .image-h1-wrapper {
        .h1-wrapper {
          h1 {
            font-family: $headings-font-family-extralight;
          }
        }
      }

      .field-wrapper {
        h2.with-panel {
          .field--name-field-subtitle {
            border-color: $color-celebrations;
          }
        }
      }

      .field--name-field-paragraph-content {
        > .field--item {
          .paragraph {
            &.paragraph--type--photo-gallery {
              @include clearfix;
              &:after {        
                padding-bottom: 0;
              }
            }
          }
        }
      }

      .btn {
        background-color: $color-celebrations;
        &:hover {
          background-color: darken($color-celebrations, 15%)
        }
        &.white {
          background-color: $color-white;
        }
      }

    }
  }
} 