/* HOME */
.path-frontpage {

  .image-h1-wrapper .h1-wrapper {
    .field--name-field-link {
      
      @media #{$mobileOnly} {
        margin: 0;
        width: 100%;

        > * {
          width: inherit;
        }

      }
      
      a {
        background: $brand-primary;
      }
    }
  }  


  .paragraph--type--image-wysiwyg-and-link {
    h2 {
      color: $color-white;
      letter-spacing: 3px;
      font-family: $headings-font-family-extralight;
      margin: 0;

      @media #{$mobileOnly} {
        font-family: $headings-font-family-extralight;
        @include font-size(2.5);
      }

      @extend .font-size-on-banner; 
    }
  }


  .subtitle-title-desc-wrap {
    &:not(.call-to-action-wrap) {
      h3 {
        font-family: $font-family-sans-serif;
        color: $gray-darker;
        text-align: center;
        font-size: ( $font-size-base * 1.3 );
        opacity: .5;
        text-transform: capitalize;
        margin: 0 auto;
        letter-spacing: 0;
      }
      .subtitle,
      .field--name-field-subtitle {
        font-family: $headings-font-family;
        line-height: ( $headings-line-height * .9 );
        font-size: ( $font-size-large * 1.5 );
        color: $gray-darker;
        letter-spacing: 2px;
      }
    }
  }
  
  .paragraph--type--cherry-picked-blogs {
    &:after {
      padding-bottom: $padding-large-vertical * 6;
    }
  }

  .paragraph--type--blog-list-by-category {
    @include full-width-elem;

    @include clearfix;
    &:before {
      padding-bottom: ( $padding-large-vertical * 6 );
    }
    .paragraph--type--blog-list-by-category {
      @include clearfix;
      &:before {
        padding-bottom: 0;
      }
      @include clearfix;
      &:after {
        padding-bottom: 0;
      }
    }
    .curious {
      &.svg {
        padding-bottom: $padding-large-vertical;
      }
    }
    .inner {
      .view-content {
        .views-row {
          background: $color-white;
          border-bottom: 5px solid $background-panel-color;
          .teaser-title-summary {
            background: $color-white;
            .teaser-title {
              &:before {
                background: $color-white;
              }
            }
          }
        }
      } 
    }
    
    
    .btn.white {
      background: $background-panel-color
    }
  }

}

.paragraph--type--image-wysiwyg-and-link {
  h2 {
    color: $color-white;
    letter-spacing: 3px;
    @extend .font-size-on-banner;
  }
}

  .arrow-down {
    position: absolute;
    background: url(../images/icon-hero-scroll.svg) no-repeat 50%;
    width: 100%;
    text-align: center;
    height: 50px;
    bottom: 40px;
    z-index: 10;
    cursor: pointer;
  }

// Responsive classes (up to tablet)
// Work in conjunction with js

.hero-image,
.home-hero-image,
.home-hero-image-page {
  height: calc(100vh - 50px);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  
}
.clipped {
  @include element-invisible;
}

