/* BLOG landing */
.path-magazine {
  
  .view-magazine-blog {
    > .pager-nav {
      @include element-invisible
    }
  }

  .view-magazine-blog-views {
    .view-wrapper {
      padding: 0;
    }
  }

  .view-magazine-blog-views {
    .description {
      color: $gray-darker;
    }
  }

  .view-wrapper .inner.snapshots .view-content .view-item .teaser-title-summary .teaser-summary {
    color: $gray-darker;
  }

  .image-h1-wrapper {
    .h1-wrapper {
      h1 {
        @media #{$desktopAndUp} {
          width: 55%;
          @include font-size(3.8);
        }
      }
      .field--name-field-link {
        a {
          background: $gray-darker;
        }
      }
    }
  }
  
}

/* BLOG page */
.page-node-type-blog {

  article {
    .back-to-blog {
      padding-top: $padding-large-vertical * 3;
      a {
        color: $gray-custom;
        &:before {
          content: "";
          background: url(../images/arrow-back-blog.svg) no-repeat top left;
          width: 20px;
          height: 10px;
          display: inline-block;
          margin-right: ( $padding-small-horizontal );
        }
      }
      &:hover {
        opacity: .8;
      }
    }

    .image-banner-wrapper {
      @include clearfix;
      &:after {
        padding-bottom: $padding-large-vertical * 6;
      }
    }
    
    .image-h1-wrapper {
      .h1-wrapper h1 {
        font-family: $headings-font-family;
      }
    }

    
    .author-detail {
      @include clearfix;
      &:before {
        padding-bottom: ( $padding-large-vertical * 2 );
      }
      &:after {
        padding-bottom: ( $padding-large-vertical * 4 );
      }
      .author-pic {
        img {
          width: 50px;
          height: 50px;
          border-radius: 25px;
        }
      }
      .by {
        display: inline;
        a {
          color: $text-color;
          font-weight: $font-pn-proxima-semi-bold;
        }
      }
    }
    .field--name-body {
      @include clearfix;
      h2, h3, h4 {
        font-family: $heading-panels-font-family;
        font-size: $font-size-smaller;
        letter-spacing: 1px;
      }
      p, h2, h3, h4, ul {
        @media #{$desktopAndUp} {
          margin: 0 auto;
          width: 70%;
        }
      }

      p, ul {
        margin-bottom: 30px;
      }
      
      + h2, h3, h4, h5, h6 {
        margin-top: 30px;
        padding-bottom: $padding-large-vertical * 2;
      }

      .p-blog-image {
        margin-bottom: 0;
        padding: ( $padding-large-vertical * 6 ) 0;
        .blog-image {
          @include display-flex(flex);
          @include align-items(center);
          @include justify-content(center);
          @include full-width-elem;
          
          img {
            width: auto;
          }

        }
      }

      // Work in conjunction with addong classes via Javascript (to cope with Design)
      .p-blog-image {
        &.prev-image {
          padding: ( $padding-large-vertical * 6 ) 0 ( $padding-large-vertical * 2 ) 0;
        }
      }  

      .prev-image {
        margin-bottom: 0;
        
        + .next-image {
          padding-top: 0;
        }
        
      }

      .next-image {
        margin-top: 0;
      }

      
    }
    .field--type-entity-reference {
      @include element-invisible;
    }

    .call-to-action-wrap {
      
      > .row {
        h3 {
          @media #{$wide} {
            max-width: 35%;
            margin: 0 auto;
          }
        }
        .summary {
          @media #{$wide} {
            max-width: 30%;
            margin: 0 auto;
          }
        }
      }
      &.anything-like {
        padding-bottom: ( $padding-large-vertical * 8 );
        background-color: $color-white;
        padding-top: 0;
        > .row {
          background-color: $background-panel-color;
          padding-top: ( $padding-large-vertical * 8 );
          &:last-of-type {
            padding-top: 0;
            padding-bottom: ( $padding-large-vertical * 8 );
          }
        }
      }
    }

    .paragraph--type--blog-list-by-category {
      @include full-width-elem;
    
      .teaser-title-summary {
        background: $color-white;
      }
      .btn {
        &.white {
          background-color: transparent;
        }
      }
    }

  }

  // Coping for the customised style for the blog by category widget
  .view-wrapper {
    .inner.three-cols {
      &.three-cols {
        .view-content {
          .views-row {
            @include flex-basis(50%);
            background: $color-white;
            border-bottom: 5px solid $background-panel-color;
            border-left: 5px solid $background-panel-color;
          }
        }
      }
    }
  }

  .grey-bkg {
    &.subscribe {
      background-color: $color-white;
    }
  }

}

/* Both Landing and Node Page*/
.navbar:not(.shrink) .top-magazine-wrapper {

  .curious {
    max-width: 300px;
    .subtitle {
      padding: ($padding-small-vertical * 3) 0 0 0;
      display: inline-block;
    }
  
  }

}

