/* REGION page */
.page-node-type-region-landing-page {
  .main-container {
     article {
       .field-wrapper {
         &.first-row {
           .content-body {
             
             @media #{$tabletAndUp} {
               padding-left: 0;
               padding-right: 0;
             }
             
           }
           .col-sm-5 {
             .panel {
               &.panel-default {
                  div {
                    .panel-body {
                      padding-top: $padding-large-vertical * 3;
                      padding-bottom: $padding-large-vertical * 3.5;
                      &:first-of-type {
                        padding-top: $padding-large-vertical * 4;
                        padding-bottom: $padding-large-vertical * 4;
                      }
                    }
                  }
               }
             }
           } 
         }
       }
       .field--name-field-paragraph-content {
         > .field--item {
          &:last-of-type {
            @include full-width-elem;
            background: $background-panel-color;
          }
         }
       }

     }
  }
}

.page-node-type-specific-region-landing {
  .main-container {
    article { 
      .field-wrapper {
        &.first-row {
          .content-body {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      .field--name-field-paragraph-content {
        > .field--item {
            &:last-of-type {
              @include full-width-elem;
            background: $background-panel-color;
          }
         }
       }

       .custom-breadcrumbs {
         ol {
           li {
             &:after {
               color: $color-asia;
             }
           }
         }
       }

       h2 {
         .field--name-field-subtitle {
           border-color: $color-asia;
         }
       }

       .btn {
         background-color: $color-asia;
         &:hover {
           background-color: darken($color-asia, 15%)
         }
         &.white {
           background-color: $color-white;
         }
       }

       .full-width-view-wrapper {
         background-color: $background-panel-color;
         .view-wrapper {
           &.dest-exp {
            @include clearfix;
            &:after {
              padding-bottom: $padding-large-vertical * 8;
            }
           }
         }
       }

    }
  }
}