/* EXPERIENCES LANDING */
.page-node-type-experiences-landing {
  .image-h1-wrapper {
    .h1-wrapper {
      h1 {
        letter-spacing: 2.5px
      }
    }
  }
  .view-wrapper {
    padding-bottom: ($padding-large-vertical * 10);
    &.dest-exp {
      ul {
        li {
          .inner {
            span {
              font-family: $headings-font-family-regular;
              font-size: $font-size-small;
            }
          }
        }
      } 
    }  
  }

}

/* EXPERIENCES detail */
.page-node-type-experience-detail-v2 {
    .main-container {
     article {

      .image-h1-wrapper {
        .h1-wrapper {
          h1 {
            font-family: $headings-font-family-extralight;
            
            @media #{$tabletAndUp} {
               @include font-size(6.4);
            }

           
          }
        }
      }

      .custom-breadcrumbs {
        ol {
          li {
            &:after {
              color: $brand-primary;
            }
          }
        }
      }
       
      .field-wrapper {
        h2.with-panel {
          border-bottom: 3px solid $brand-primary;
          padding-bottom: $padding-large-vertical * 2;
        }
        &.first-row {
          margin-left: 0;
        }
      }
      
      .paragraph--type--display-cherry-picked-destinatio .full-width-view-wrapper {
        &:before {
          padding-top: 0;
        } 
      }

      .key-features-wrap {
        margin-top: 0;
      }

      .paragraph--type--display-cherry-picked-destinatio {
         .dest-exp {
           & + .btn {
             font-family: $heading-panels-font-family;
             padding-top: ( $padding-large-vertical * 6 );
           }
         }
      }
        
    }
  }
}