{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

<ul>
{% for loaded_node in loaded_nodes %}
  <li>
   
   <div class="dest-exp-thumbs" style="background-image: url({{ loaded_node.image.image_style_path }})"></div>

   <div class="inner">
     <a href="{{ loaded_node.alias }}">
       {{ loaded_node.title }}
     </a>
     <span class="flex-end-pad">
       {{ loaded_node.subtitle }}
    </span>
   </div>
 

</li>
{% endfor %}

</ul>

<div id="two-buttons" class="subtitle center-block text-center">
  <a class="btn move-right transparent view-button-clear border-right" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/destinations">VIEW ALL DESTINATIONS</a>
  <span class="divider"></span>
  <a class="btn move-right transparent view-button-clear" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/be-inspired">VIEW ALL EXPERIENCES</span></a>
</div>
