{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

  {% set image_with_style %}
    {{ image_style_path }}
  {% endset %}

    <!--
         iwc_homepage_800x800
         iwc_homepage_800x400
         iwc_homepage_800x1200
    //-->

	{% if fields.counter.content|striptags|trim == 1 %}
        {% set image_style_type = 'large' %}
    {% elseif  fields.counter.content|striptags|trim == 2 %}
    	{% set image_style_type = 'thumbnail' %}
    {% elseif  fields.counter.content|striptags|trim == 3 %}
    	{% set image_style_type = 'thumbnail' %}
    {% elseif  fields.counter.content|striptags|trim == 4 %}
    	{% set image_style_type = 'iwc_large_1200x705' %}
    {% elseif  fields.counter.content|striptags|trim == 5 %}
    	{% set image_style_type = 'iwc_large_1200x705' %}
    {% elseif  fields.counter.content|striptags|trim == 6 %}
    	{% set image_style_type = 'thumbnail' %}
    {% elseif  fields.counter.content|striptags|trim == 7 %}
    	{% set image_style_type = 'thumbnail' %}
    {% elseif  fields.counter.content|striptags|trim == 8 %}
    	{% set image_style_type = 'large' %}
    {% else %}
        {#We will set a fall through default image style#}
        {% set image_style_type = 'crop_thumbnail' %}
    {% endif %}

    {% set image_style_type = 'iwc_homepage_800x800' %}

    {#{{ fields.field_croppable_image.content }}#}
    <!-- <div class="dest-thumbs" style="min-height: 400px; background: url({{ image_style_path|image_style(image_style_type) }}); background-size: cover"></div> -->
    {#<img src="{{ image_style_path|image_style(image_style_type) }}">#}
  	{#<div class="inner">#}
        {#{{ fields.title.content }}#}
        {#<span>{{ fields.field_subtitle.content }}</span>#}
    {#</div>#}

    <img src="{{ image_style_path|image_style(image_style_type) }}">
    <a href="{{ fields.path.content|raw }}">
        <div class="inner">
            <span>{{ fields.title.content }}</span>
            <span class="flex-end-pad">{{ fields.field_subtitle.content }}</span>
        </div>
    </a>
  	
  	{#{ fields.uri.content }#}
  	{#{ fields.counter.content }#}



     

  

      
    
