{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'full-width-view-wrapper'
  ]
%}
<div{{ attributes.addClass(classes) }}>

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  
  <div class="view-wrapper three no-padding dest-exp">
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {{ exposed }}
    {{ attachment_before }}
    <a name="destination-listing-top" id="destination-listing-top"></a>
    {{ rows }}
    {{ empty }}
  </div>
  
  <div class="pagination-wrapper">
    {{ pager }}
  </div>

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
<script>
    {#
      todo: Probably better to alter the url in a drupal preprocessor to append the '#destination-listing-top' to the back/next paginator urls. No time though to research this.
    #}
  /*
    Alter the paginator url
   */

  function alter_backnext_url(){
      for(var i = 0, l=document.links.length; i<l; i++) {
          if(document.links[i].href.indexOf('/destinations?page=') != -1){
              document.links[i].href = document.links[i].href + '#destination-listing-top';
          }
      }
  }

  alter_backnext_url();
</script>