{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% set linkurl %}
    {{ content.field_link_url }}
{% endset %}

{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}

    <div class="full-width-wrapper subscribe">

      <div class="inner">

        <div class="sub-intro">
          <span class="subtitle">SUBSCRIBE</span>
          <h2>CURIOUS FOR MORE TRAVEL INSPIRATION</h2>
          <p>Keep up to date with our latest travel news and expertise.</p>
        </div>

        <div class="sub-form">

          {# News letter signup form #}
          {{ drupal_entity('webform', 'newsletter_signup_curious') }}
{#            <script language="javascript">#}
{#              <!--#}
{#              function validate_signup(frm) {#}
{#                var emailAddress = frm.Email.value;#}
{#                var errorString = '';#}
{#                var checkBoxValue = frm.ci_userConsentCheckBox.checked;#}
{#                if(checkBoxValue == false){#}
{#                  errorString = 'You must accept the terms';#}
{#                }#}
{#                if (emailAddress == '' || emailAddress.indexOf('@') == -1) {#}
{#                  errorString = 'Please enter your email address';#}
{#                }#}
{#                var isError = false;#}
{#                if (errorString.length > 0)#}
{#                  isError = true;#}
{#                if (isError)#}
{#                  alert(errorString);#}
{#                return !isError;#}
{#              }#}
{#              //-->#}
{#            </script>#}
{#            <form action="https://cazloyd-news.com/signup.ashx" id="signup" method="post" name="signup" onsubmit="return validate_signup(this)">#}
{#                <input name="addressbookid" type="hidden" value="36285750" />#}
{#                <input name="ci_isconsentform" placeholder="Enter your email" type="hidden" value="true" />#}
{#                <!-- UserID - required field, do not remove --> <input name="userid" type="hidden" value="38107" />#}
{#                <!-- ReturnURL - when the user hits submit, they'll get sent here --> <input name="ReturnURL" type="hidden" value="{{ url('<front>') }}/newsletter-thank-you" />#}
{#                <!-- Email - the user's email address -->#}
{#                <table class="gdpr-opt-in">#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td><input name="Email" placeholder="Enter your email" type="text" /></td>#}
{#                        <td><input name="Submit" type="Submit" value="Go" /></td>#}
{#                    </tr>#}
{#                    <tr class="gdpr-opt-in">#}
{#                        <td colspan="2"><input name="ci_userConsentCheckBox" type="checkbox" />#}
{#                        <span>I agree to the <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/privacy-policy-cookies">Privacy Policy</a> and would like to receive travel inspiration emails from cazenove+loyd.</span></td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#                <input name="ci_userConsentText" type="hidden" value="I+agree+to+the+Privacy+Policy+and+would+like+to+receive+travel+inspiration+emails+from+cazenove%2bloyd." />#}
{#                <input id="ci_consenturl" name="ci_consenturl" type="hidden" value="" />#}
{#            </form>#}
{#            <script language="javascript">#}
{#              var urlInput = document.getElementById("ci_consenturl");#}
{#              if (urlInput != null && urlInput != 'undefined') {#}
{#                urlInput.value = encodeURI(window.location.href);#}
{#              }#}
{#            </script>#}

        </div>

      </div><!-- /.inner -->

    </div>

  {% endblock %}

</div>
{% endblock paragraph %}
