{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

{# Original Markup
<div{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</div>
#}

<div{{ attributes }}>
  
  {% set type %}
    {{ content.field_type }}
  {% endset %}

  {% set machine_name %}
    {{ content.field_machine_name }}
  {% endset %}

  {% set display_block %}
    {{ content.field_display_block}}
  {% endset %}



  {% if content.field_arguments|render %}
    {% set arguments %}
      {{ content.field_arguments }}
    {% endset %}
  {% endif %}
  
  {# View or Block #}
  {% if type|lower|striptags|trim == 'view' %}

    {% if arguments is defined and arguments is not empty %}
      <div class="full-width-wrapper grey-bkg">
        {{ drupal_view(machine_name|striptags|trim, display_block|striptags|trim, arguments|striptags|trim) }}
      </div>
    {% else %}
      <div class="full-width-wrapper grey-bkg three-cols">
        {{ drupal_view(machine_name|striptags|trim, display_block|striptags|trim) }}
      </div>
    {% endif %}
  
  {% else %}
    {{ drupal_entity('block_content', machine_name|striptags|trim) }}
  {% endif %}

</div>
