{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}

{% block content %}
<div class="logo-site-name-main-menu">

  <div class="search-header">

    <img src="{{ base_path ~ directory }}/images/magnifier.svg" />

    <div class="search-reveal">
      <div class="close-search-form"></div>
      <!-- Start of the Search form -->
      <form class="search-form search-page-form" data-drupal-selector="search-form" action="/search/node" method="post" id="search-form" accept-charset="UTF-8">
      <div class="form-group js-form-wrapper form-wrapper" data-drupal-selector="edit-basic" id="edit-basic">
        <div class="form-item js-form-item form-type-search js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">

          <div class="input-group">
            <input data-drupal-selector="edit-keys" class="form-search form-control" placeholder="SEARCH CAZENOVE+LOYD" type="search" id="edit-keys" name="keys" value="" size="30" maxlength="255" title="" data-original-title="Enter the terms you wish to search for">
            <span class="input-group-btn">
              <button type="submit" name="op" value="Search" class="button js-form-submit form-submit btn-primary btn icon-only"></button>
            </span>
          </div>
        </div>
       </div>

       <input data-drupal-selector="form-kokasmy8mmmquetwdpudtdeifjwxzr3jlwdxqvq2cnc" type="hidden" name="form_build_id" value="form-koKasMY8mmMquEtWDpUDtdEiFJWXZr3JlwDXQvq2Cnc">
       <input data-drupal-selector="edit-search-form" type="hidden" name="form_id" value="search_form">

     </form><!-- END of the Search form -->

    </div>
  </div><!-- /.search-header -->

  <div class="logo-site-name">

    {% if site_logo %}

      <div class="logo-switcher">
        <a class="logo navbar-btn" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>

        <div class="language">
        {#  <a href="{% if is_search_page == false %}{{ cazloyd_url_uk }}{% else %}/en/search/node{% endif %}" class="uk{% if 'en-US' in cazloyd_url_language %}{% else %} active{% endif %}">UK</a>
          <span>/</span>
          <a href="{% if is_search_page == false %}{{ cazloyd_url_us }}{% else %}/en-US/search/node{% endif %}" class="us{% if 'en-US' in cazloyd_url_language %} active{% else %}{% endif %}">US</a>
         #}
        </div>


      </div>

    {% endif %}

    {% if site_name %}

      <a class="site-name navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>

    {% endif %}

    {% if site_slogan %}

      <p class="site-slogan navbar-text">{{ site_slogan }}</p>

    {% endif %}

  </div>

{% endblock %}
