{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}

  <div class="top-magazine-wrapper">
    <div class="row top-magazine layout-flex full-width">
      <div class="share">{{ drupal_entity('block_content', 16) }}</div>
      <div class="curious text-center svg">
        <a href="/magazine" title="Cazenove + Loyd Magazine Homepage"><img src="{{ base_path ~ directory }}/images/curious-logo.svg" /></a>
        <span class="subtitle">An online magazine by the experts at cazenove+loyd</span>
      </div>
      <div class="curious-search">{{ curious_search_form }}</div>
    </div>
  </div>

  {{ title_suffix }}
  
  <!-- Block #7 -->
  {% if header %}
    {{ header }}
  {% endif %}
   
  <!-- Magazine Blog View - exposed filters -->
  {% if exposed %}  
    {{ exposed }} 
  {% endif %}
  
  <!-- Block #6 -->
    <!-- Magazine Blog Views View (favourites & latest) -->
  {% if attachment_before %}
   
    {{ attachment_before }}
 
  {% endif %}

  {% if rows %}
  <!-- Blog filtered -->
  <div class="view-wrapper">
    <div class="inner three-cols blog-filtered">
     
      <div class="view-content">
      {{ rows }}
      </div>

      <div class="subtitle-title-desc-wrap clear center-block">
        <div class="more center-block text-center">
          <a class="btn move-right" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/magazine/all?{{ get.fullquerystring }}">VIEW ALL ARTICLES</a>
        </div>
      </div>

    </div>
  </div>

  {% elseif empty %}

    <div class="view-empty">
      {{ empty }}
    </div>

  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}


  {% if attachment_after %}

    {{ attachment_after }}

  {% endif %}


  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
