{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

{% set enquire_form_url %}
    {{ enquire_form_querystring }}
{% endset %}

<article{{ attributes }}>
 
 {% if node.field_display_remaining_seats.value == '1' %}
 <div class="seats-remaining">
  <div class="inner">
    {% if node.field_seats_remaining.value|striptags|raw == '1' %}
    1 Cabin Remains
    {% elseif node.field_seats_remaining.value|striptags|raw == '0' %}
    No Cabins Remaining
    {% else %}
    {{ node.field_seats_remaining.value|striptags|raw }} Cabins Remain
    {% endif %}
  </div>
 </div>
  {% endif %}

<div class="image-h1-wrapper">
  <div class="h1-wrapper">
    <h1>
      <span>
        {{ content.field_subtitle }}
      </span>
      {{ label }}
    </h1>
  </div>

  {{ content.field_croppable_image }}
  
  {% if content.field_croppable_image_mobile|render %}
    <div class="image-banner-wrapper mobile">
      <div class="image-banner-wrapper-inner">
        {{ content.field_croppable_image_mobile }}
      </div>
    </div>
  {% endif %}

</div><!-- /.image-h1-wrapper -->

  {{ content.custom_breadcrumbs }}

 <div class="field-wrapper row first-row">

    <div class="content-body col-sm-7">
      <div class="content-body-inner buffer">
        
          {{ title_prefix }}
          {% if not page %}
            {{ label }}
          {% endif %}
          {{ title_suffix }}
      
        {{ content.body }}
      </div>
    </div>

    <div class="block-content col-sm-5">
      <div class="panel panel-default no-padding">
        <div class="panel-body text-center small-group top blue">
          <div class="dates">
            {{ content.field_start_date }} to
            {{ content.field_end_date }}
          </div>
          <div class="expert">
            {{ content.field_expert_guide_name }}
          </div>
          <div class="group-size">
            {{ content.field_group_size }}
          </div>

        </div>
        <div class="panel-body text-center bottom small-group blue-darker">
          <div class="price">
            {{ content.field_price_text }}
            <span>
              {{ content.field_price_sub_text }}
            </span>
          </div>


            {% if 'en-US' in cazloyd_url_language %}
                <a class="btn enquire move-right" href="{{ enquire_form_url }}">Inquire</a>
            {% else %}
                <a class="btn enquire move-right" href="{{ enquire_form_url }}">Enquire</a>
            {% endif %}
          

        </div>
      </div><!-- /..panel -->
    </div>

</div><!-- /.field-wrapper -->

    {{ content.field_paragraph_content }}

</article>

