.paragraph--type--social-feed {
  padding-top: $padding-large-vertical * 8;
  padding-bottom: $padding-large-vertical * 8;

  .social-feed-header {
    padding-bottom: $padding-large-vertical * 4;
    text-align: center;

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    a {
      font-family: $font-family-sans-serif-bold;
    }

  }

  .view-wrapper .inner .view-content {

    .carousel {
    	@include full-width-elem;
      margin: 0 auto;
    }

    .carousel-control {
      background-image: none;
      opacity: 1;
      position: absolute;
  	  width: 100px;

  	  &:hover {
  	  	opacity: .75;
  	  }

  	  &:before {
        content: "";
  	    display: inline-block;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
  	  }

  	  &.left {
        @media #{$mobileOnly} {
          left: 0;
        }
        left: -50px;

	      &:before {
	  	    background: url(../images/carousel-control-left.svg) no-repeat 50%;
  	  	}
	    }

  	  &.right {
        @media #{$mobileOnly} {
          right: 0;
        }
        right: -50px;

  	    &:before {
  	  	  background: url(../images/carousel-control-right.svg) no-repeat 50%;
  	  	}
  	  }

  	}

    .item {
      @include flex-flow(row);
      @include flex-wrap(wrap);
      padding: 0;
      margin: 0 auto;
      width: 100%;

      &.active, &.next, &.prev {
        @include display-flex;
      }
    }

    .view-item {
      @include flex-basis(100%);
      background: transparent;
      max-width: 100%;

      @media #{$tabletAndUp} {
        @include flex-basis(33.1%);
        max-width: 33.1%;
        padding: 0 0.2%;
      }
    }

  }

  .view-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:before {
      content: "Find us here too";
      font-family: $font-family-sans-serif-bold;
      color: $gray-darker;
      display: inline-block;

      @media #{$tabletAndUp} {
        display: inline;
        padding: ($padding-large-vertical * 8) 0 ($padding-large-vertical * 2) 0;
      }

    }

    li {

      &:before {
        content: '';
        @media #{$tabletAndUp} {
         content: '_____';
         display: inline;
         position: relative;
         top: -5px;
         padding: 0 10px;
        }

      }

      @media #{$tabletAndUp} {
         display: inline;
      }

      a {
        padding-right: $padding-large-vertical * 2;

        &:last-of-type {
          padding-right: 0;
        }

        img {
          width: 35px;
          height: 35px;

           @media #{$tabletAndUp} {
             width: 20px;
             height: 20px;
           }

        }

      }

    }
  }

}
