.call-to-action-wrap {
  @include full-width-elem;
  padding: ( $padding-small-horizontal * 6 ); 
  .row {
    h3 {
      margin: 0 auto;
      font-size: ( $font-size-h2 * 0.9);
      line-height: $line-height-base / 1.3;
      @media #{$tabletAndUp} {
        font-size: ( $font-size-h2 * 1.15);
      }
    }
  }

  .summary {
    padding: $padding-large-vertical 0 ( $padding-large-vertical * 3 ) 0;     
  }

  .link-cta {
  	
    @media #{$mobileOnly} {
      width: calc(100% - 46px);
      * {
        width: 100%;
      }
    }

    > div {
  	  display: inline-block;
      a {
      	color: $color-white;
        letter-spacing: 1px;
        text-decoration: none;
        @extend .btn;
        &:hover {
          &:after {
            @extend .move-right; 
          }
        }
      }
  	}
  }

  &.subtitle-title-desc-wrap {
    padding: ($padding-large-vertical * 10) 0;
  }
}

// First CTA Button needs to be gold for the Celebrations Landing Page
.page-node-type-celebrations-landing {
  .image-h1-wrapper {
   // only select the the first CTA 
   + div {

      .row {
        h3 {
          line-height: $line-height-base * .8;
        }
      }

      .link-cta {
        div {
          a {
            background-color: $color-celebrations;
            &:hover {
              background-color: $color-celebrations;
            } 
          }
        }
      }

    }
  }  
}