.blog-list {
  h3 {
    font-size: ( $font-size-h2 * 1.15 );
    letter-spacing: 2px;
    margin-top: ( $padding-large-vertical );
    > * {
      /* PIERRICK */
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }
    @media #{$desktopAndUp} {
      max-width: 38%;
    }
    @media #{$wide} {
      max-width: 20%
    }
    &.curious {
      font-size: ( $font-size-h2 * 3 );
      padding-bottom: 0;
      margin-bottom: 0;
      font-family: $headings-font-family;
    }
  }
   
}

.curious-intro {
  max-width: 85%;
  padding-top: ( $padding-large-vertical * 1.5 );
  padding-bottom: ( $padding-large-vertical * 6 );
  color: $gray-darker;
  
  @media #{$tabletAndUp} {
    max-width: 80%;
  }
  
  @media #{$desktopAndUp} {
    max-width: 41%;
  }
}

.paragraph--type--cherry-picked-blogs {
  
  .curious {
    &.svg {
      padding-bottom: $padding-large-vertical;
    }
  }

  .curious-intro {
    padding-top: 0;
  }
  
}

// Blog View needs to be full width & with a grey background on Small Group Detail Nodes
.page-node-type-small-group-detail {

  .paragraph--type--blog-list-by-category {
    @include full-width-elem;
    background-color: $background-panel-color;
    
    @include clearfix;
      &:before { 
        padding-bottom: $padding-large-vertical * 6;
      }
      &:after { 
        padding-bottom: $padding-large-vertical * 6;
      }

    .view-wrapper {
      .inner {
        .view-content { 
          .views-row {
            .teaser-title-summary {
              background-color: $color-white;
            }
          }
        }
      }
    }

    + div .btn.clear {
      background: transparent;
    }

  }
  
}