.paragraph--type--video {
  @include full-width-elem;
  
  .row {
    
    &.video-title {
      padding: 0  ( $padding-small-horizontal * 1.5 ) ( $padding-large-vertical * 6 ) ( $padding-small-horizontal * 1.5 );
  	}

    > h3 + div { 
      color: $gray-darker;
    }

  }

  h3 {
    font-size: ( $font-size-h2 * 1.15 );
    letter-spacing: 2px;
    margin-top: ( $padding-large-vertical );
      
      @media #{$desktopAndUp} {
        max-width: 45%;
      }

      @media #{$wide} {
        max-width: 30%
      }
  
  }

  

  .summary {
  	padding: 0 0 4( $padding-large-vertical * 4 ) 0;
  	 
     @media #{$desktopAndUp} {
  	   max-width: 50%;
  	}
  }
}

// Video styling - wrapper divs and ratio mixin

.video {
  position: relative;
  padding: 0 25px;
      
  @media #{$tabletAndUp} {
    padding: 0;
  }
      
  .width-control {
    @include responsive-ratio-element;
  }
  
  a {
    @extend .clickable-area;
  }
  &:hover {
    iframe {
      opacity: .8;
    }
  }

  .custom-play-button {
    background: url(../images/icon-play-button.svg) no-repeat center; 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  .click-event {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease-in;
  }
}

