.testimonials-wrapper {
  @include full-width-elem;
  padding: ( $padding-large-vertical * 10 ) 0 0 0;
  
  h3 {
    font-size: ( $font-size-h2 * 1.15 );
    letter-spacing: 2px;
    margin: ($padding-large-vertical) auto ( $padding-large-vertical * 3 ) auto;
    
    @media #{$untilTablet} {
      max-width: calc(100% - 100px);
      margin: 0 auto;
    }

  }
  .carousel {
  	@include full-width-elem;
  	min-height: 200px;	
  	
    .carousel-inner {
      @include display-flex(flex);
      @include align-items(center);
      @include justify-content(center);

       @media #{$untilTablet} {
        padding-bottom: $padding-large-vertical * 20;
       }

       @media #{$tabletAndUp} {
         padding-bottom: $padding-large-vertical * 8;
       }

       @media #{$desktopAndUp} {
        width: calc(50% + 100px);
      }

  	  .item {
        font-size: ($font-size-smaller * 1.85);
        font-weight: $font-pn-proxima-thin;

        p {
          width: 70%;
          margin: ( $padding-large-vertical * 4 ) auto;
          font-family: $font-family-proximaNova;
          font-style: normal;
          font-weight: 100; 

           @media #{$desktopAndUp} {
             width: 100%;
             margin-top: 0;
           }

        }
  	    .author {
  	      font-family: $heading-panels-font-family;
  	      font-size: $font-size-small;
          text-transform: uppercase;
          color: $brand-primary;
          letter-spacing: 1px
  	    }
  	  } 
  	}

  	.carousel-control {
  	  width: 100px;
  	  background-image: none;
  	  opacity: 1;
  	  &:hover {
  	  	opacity: .75;
  	  }
  	  &:before {
  	    display: inline-block;
        width: 60px;
        height: 60px;
        position: absolute;
  	  }
  	  &.left {
	      &:before {
	  	    content: "";
	  	    background: url(../images/carousel-control-left.svg) no-repeat 50%;
	  	    left: 50px;
          
          @media #{$untilTablet} {
            bottom: 100px;
            left: 100px; 
          }

          @media #{$tabletAndUp} {
            top:0;
            left: 10px;
          }

	  	}
	  }
	  &.right {
	    &:before {
	  	  content: "";
	  	  background: url(../images/carousel-control-right.svg) no-repeat 50%;
	  	  right: 50px;
        
        @media #{$untilTablet} {
          bottom: 100px;
          right: 100%;
        }
            
        @media #{$tabletAndUp} {
          top: 0;
          right: 10px;
        }

	  	}
	  }
  	}
  }
}

/* Celebration landing */
.page-node-type-celebration-detail,
.page-node-type-celebrations-landing {
  .testimonials-wrapper {
    .carousel {
      .carousel-inner {
        .item {
          .author {
            color: $color-celebrations
          }
        }
      }
    }
  }
}
/* Small Group Travel Detail */
.page-node-type-small-group-travel {
  .testimonials-wrapper {
    .carousel {
      .carousel-inner {
        .item {
          .author {
            color: $color-small-group;
          }
        }
      } 
    }  
  }
}