.paragraph--type--two-column-wysiwyg {
  .row {
  	margin-left: 0;
  	margin-right: 0;
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    
    > div {
      @media #{$mobileOnly} {
        padding-bottom: ( $padding-large-vertical * 2 );
      }

      h4, p {
        text-align: center;
        @media #{$desktopAndUp} {
          text-align: left;
        }
      }

      p {
        color: $gray-darker;
      }

      &:last-of-type {
        p {
          text-align: center
        }
      }
    }
  }
}

// Meet The Team
.content-meet-the-team {
  
  .field--name-field-paragraph-content {
    > .field--item {
        
        .paragraph--type--two-column-wysiwyg {
          &:before {        
            padding-bottom: $padding-large-vertical * 12;
          }
          &:after {        
            padding-bottom: $padding-large-vertical * 12;
          }
        }

    } 
  }

  .row {
    .col-sm-12:first-of-type {
      h3 {
        font-size: ( $font-size-smaller * 1.8 );
      }
    }
    .col-sm-12:last-of-type {
      text-align:left;
      p {
        text-align: inherit;
        font-family: $font-family-sans-serif;
      }
    }
    
  }  

}

// Contact Us
.contact-us {

  .field--name-field-paragraph-content > .field--item {
    .paragraph--type--two-column-wysiwyg {
      &:after {
        padding-bottom: 0;
      }
      .row {
        > div:first-of-type {
          padding: 0;
        }
        > div:last-of-type {
          padding-left: $padding-small-horizontal * 8;
        }
        > div p {
          margin: 0;
        }
      }
    }
  }

}