.key-features-wrap {
  color: $gray-base;
  font-family: $heading-panels-font-family;
  font-size: $font-size-smaller;
  display: inline-block;
  @include full-width-elem;
  
  p {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    color: $gray-darker;
    margin: 0 auto;
      width: 70%;

      @media #{$desktopAndUp} {
        width: 100%;
      }
  }

  .para-header {
  	font-size: $font-size-smaller;
  	font-weight: bold;
  	font-family: $heading-panels-font-family;
    padding-top: $padding-small-horizontal * 4;
    p {
      font-family: $heading-panels-font-family;
      font-size: $font-size-smaller;
      color: $gray-custom;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      width: 100%;
    }
  }

  .inner-wrapper {
    padding-top: $padding-large-vertical;
  	.summary {
  	  font-family: $headings-font-family;
  	  padding-bottom: ( $padding-large-vertical * 7 );
  	  h3 {
  	    font-size: ( $font-size-smaller * 2);
        margin: 0 auto;
        letter-spacing: 2px;
  	  }
  	}
    .row {

      @media #{$tabletAndUp} {
        @include display-flex;
        @include flex-wrap(wrap);
      }

      .key-features-wrap-item {
        position: relative;
        padding-bottom: $padding-large-vertical * 6;
        &:last-of-type {
          padding-bottom: 0;
        }

        @media #{$tabletAndUp} {
          padding: 0;
          &:first-of-type {
            padding-bottom: $padding-large-vertical * 6;
          }
        }
        
        span {
          letter-spacing: 1px;
          text-transform: uppercase;
          display: block;
          padding: $padding-large-vertical;  
        }

        .icon {
          width: 100px; /* SVG scalability */
          margin: 0 auto ( $padding-small-vertical /2 ) auto;
          text-align: center;
          
          @media #{$tabletAndUp} {
            margin: 0 auto ( $padding-small-vertical * 7 ) auto;
          }

        }
        .title-desc {
          padding: 0 ( $padding-small-horizontal * 3 ) 0 ( $padding-small-horizontal * 3 );
        }
        .arrow {
          width: 0;
          @media #{$tabletAndUp} {
            width: 18px;
            position: absolute;
            z-index: 10;
            top: 40px;
            right: 0;
          }
        }
        &:last-of-type {
          .arrow {
            width: 0;
          }
        } 

        @media #{$untilWide} {
          &:nth-child(2) {
            .arrow {
              width: 0;
            }
          }
          
        }
      }
    }
  }

  // 3 or 4 cols
  &.three {
    .inner-wrapper {
      .row {
        @include justify-content(center);
        .key-features-wrap-item {
          @include flex-basis(100%);
          @media #{$tabletAndUp} {
            @include flex-basis(50%);
          }
          @media #{$desktopAndUp} {
            @include flex-basis(33.33%);
          }
        }
      }
    }
  }

  &.four {
    .inner-wrapper {
      .row {
        @include justify-content(center);
        .key-features-wrap-item {
          @include flex-basis(100%);
          @media #{$tabletAndUp} {
            @include flex-basis(49.9%);
          }
          @media #{$wide} {
            @include flex-basis(24.9%);
          }
        }
      }
    }
  }
}


// Small Group Travel Landing
.key-features-wrap {
  .inner-wrapper .row { 
    .key-features-wrap-item {
      .icon {
        max-height: 100px;
      }
    }
  }
}