body .field--name-field-paragraph-content > .field--item > .paragraph--type--banner-simple-image-title- {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  @include full-width-elem;
  position: relative;
  > * {
    width: 100%;
    &.field--name-field-title {
      background: transparent!important;
      width: inherit;
      position: absolute;
      top: 0;
      bottom: 0;
      font-family: $headings-font-family;
      @extend .text-shadow;
      @include display-flex(flex);
      @include justify-content(center);
      @include align-items(center);
      @include font-size(2.2);
      color: $color-white;
      line-height: ( $line-height-base * .8 );
      text-transform: uppercase;

      @media #{$tabletAndUp} {
        @include font-size(4.8);
      }

    }
  }
  img {
    width: 100%;
  }
}
