.paragraph--type--map {
  > .row {
  	position: relative;
  	.map-overlay-desc-wrapper {
  	  position: relative;
      @include display-flex(flex);
      @include align-items(center);
      @include justify-content(flex-start);
      width: 100%;

      @media #{$desktopAndUp} {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        bottom: 0;
      }

      .map-overlay-desc {
        background: $color-white;
        width: 100%;
        padding: ($padding-large-vertical * 6) 0;
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(center);
        
        @media #{$desktopAndUp} {
          width: calc(40%);
          max-height: calc(100%);
          overflow-y: hidden;
        }

        .map-overlay-desc-inner {
          width: 80%;
          margin: 0 auto;
          .subtitle {
          	font-size: $font-size-small;
            
            @media #{$desktopAndUp} {
              text-align: left;
              > * {
              text-align: left;
              }
            }

          }
          h2 {
            font-size: ( $font-size-h2 * 1.15 );
            line-height: ( $headings-line-height * 1.1 );
            margin-top: ( $padding-large-vertical );
            margin-bottom: ( $padding-large-vertical * 2 );
          }
          span {
            text-align: center;

            @media #{$desktopAndUp} {
              text-align: left;
            }

          }
        }
  	  }
  	}
  	.map-destination {
  	  width: 100vw;
      margin-left: calc(50% - 50vw);
      padding-left: 0;
      padding-right: 0;

      &.embed-responsive-16by9 {
      padding-bottom: 100%;

        @media #{$tabletAndUp} {
          padding-bottom: 56.25%;
        }
      }
      
  	}
    
  } 
}

.page-node-type-celebrations-landing {
  .paragraph--type--map {
    .map-overlay-desc-wrapper {
      position: relative;
      padding: ( $padding-large-vertical * 6 ) 0;
      .map-overlay-desc {
        width: 100%;
        .map-overlay-desc-inner {
          padding: 0;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 60%;
          text-align: center;
          
          @media #{$desktopAndUp} {
            width: 45%;
          }

          @media #{$wide} {
            width: 30%;
          }

          .subtitle {
            text-align: center;
            > * {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
