.paragraph--type--carousel-text-with-image {
  .carousel {
  	@include full-width-elem;
  	.carousel-inner {
  	  .item {
  	  	margin: 0 auto;

  	  	@media #{$tabletAndUp} {
          text-align: left;
        }

        .photo-details {
          @include display-flex(flex);
          @include align-items(center);
          @include flex-wrap(wrap);

    	  	.details {
            @include flex-basis(100%);
            display: inline-block;
            padding: 0 ( $padding-large-vertical * 5.2 ) 0 ( $padding-large-vertical * 6.2 );		
            
            @media #{$tabletAndUp} {
              @include flex-basis(50%);
            }

            @media #{$tabletAndUp} {
              .subtitle {
            	  text-align: left;
              }
            }
            h3 {
            	font-size: $font-size-h2;

               @media #{$mobileOnly} {
                 text-align: center;
               }

            }
    	  	}
    	  	.photo {
            text-align: center;
    	  	  @include flex-basis(100%);
    	  	  padding-bottom: ( $padding-large-vertical * 2 );	
              
              img {
                width: 100%;
                max-width: 547px;
              }
            
            @media #{$tabletAndUp} {
              @include flex-basis(50%);
            }

    	  	}
        }
  	  }
  	}

  	.carousel-control {
  	  width: 100px;
  	  background-image: none;
  	  opacity: 1;
  	  &:hover {
  	  	opacity: .75;
  	  }
  	  &:before {
  	    display: inline-block;
        width: 60px;
        height: 60px;
        position: absolute;
  	  }
  	  &.left {
	    &:before {
	  	  content: "";
	  	  background: url(../images/carousel-control-left.svg) no-repeat 50%;
	  	  left: 20%;
	  	  top: 0;
          
          @media #{$tabletAndUp} {
            top: 45%;
            bottom: auto;
          }
	  	}
	  }
	  &.right {
	    &:before {
	  	  content: "";
	  	  background: url(../images/carousel-control-right.svg) no-repeat 50%;
	  	  right: 20%;
	  	  top: 0;

          @media #{$tabletAndUp} {
            top: 45%;
            bottom: auto;
          }
	  	}
	  }
  	}
  }
}