.paragraph--type--photo-gallery {
  .row {
  	&.photogallery-title {
  	  padding-top: ( $padding-large-vertical * 6 );
      padding-bottom: ( $padding-large-vertical * 6 );
  	}
  	h3 {
      margin-bottom: 0;
      font-size: ( $font-size-h2 * 1.15 );
      letter-spacing: 2px;
      margin-top: ( $padding-large-vertical );
      @media #{$desktopAndUp} {
        max-width: 30%;
      }
      @media #{$wide} {
        max-width: 21%
      }
  	}
  }
  .carousel {
  	@include full-width-elem;
  	.carousel-inner {
  	  @include responsive-ratio-element;
      padding-top: 43.25%; 
  	  .item {
  	    background-repeat: no-repeat;
  	    background-size: cover;
  	 }
  	}
  	.carousel-control {
  	  width: 100px;
      background-image: none;
  	  &:before {
  	    display: inline-block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 45%;
  	  }
  	  &.left {
	    &:before {
	  	  content: "";
	  	  background: url(../images/carousel-control-left.svg) no-repeat 50%;
	  	  left: 50px;
	  	}
	  }
	  &.right {
	    &:before {
	  	  content: "";
	  	  background: url(../images/carousel-control-right.svg) no-repeat 50%;
	  	  right: 50px
	  	}
	  }
  	}
  }
}

/* Celebration detail page*/
.page-node-type-celebration-detail {
  .row {
    &.photogallery-title {

      h3 {
        @media #{$desktopAndUp} {
          max-width: 100%;
        }
        @media #{$wide} {
          max-width: 30%
        }
      }
    }
  }
}
/* Celebration Landing */
.page-node-type-celebrations-landing {
  
  .paragraph--type--photo-gallery {
    .row {
      &.photogallery-title {
        @include element-invisible
      }
    }
  } 

}
/* For Small Group Travel Detail */
.page-node-type-small-group-detail {
  .row {
    &.photogallery-title {
      @include element-invisible;
    }
  }
}
