.meet-the-team-wrapper {
  @include full-width-elem;
  padding: ( $padding-large-vertical * 8 ) 0;
  
  h3 {
    font-size: ( $font-size-h2 * 1.15 );
    
    @media #{$untilTablet} {
      max-width: calc(100% - 100px);
    }

  }
  span {
    max-width: 90%;
    @media #{$desktopAndUp} {
      max-width: 65%;
    } 
    @media #{$wide} {
      max-width: 50%;
    }  
  }
  .meet-the-team {
    .row {

      &.meet-the-team {
        @include display-flex;
        @include align-items(baseline);
        @include justify-content(center);
        @include flex-wrap(wrap);
        padding: ( $padding-large-vertical * 4 ) 23px ( $padding-large-vertical * 6 ) 23px;
        
        @media #{$desktopAndUp} {
          @include flex-wrap(nowrap);
           padding: ( $padding-large-vertical * 4 ) 0 ( $padding-large-vertical * 6 ) 0;
        }

      

		    .meet-the-team-item {
          border-right: ( $padding-xs-horizontal /2 ) solid transparent;
          border-left: ( $padding-xs-horizontal /2 ) solid transparent;
          @include flex-basis(46%);
          @include align-self(start);
		      
          @media #{$desktopAndUp} {
            @include flex-basis(20%);
            border-right: ( $padding-xs-horizontal /2 ) solid transparent;
          }

          @media #{$wide} {
            @include flex-basis(16%);
            border-right: ( $padding-xs-horizontal /2 ) solid transparent;
          }

          &:hover {
		  	   opacity: 0.75;
		      }	

          .subtitle {
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content(center);

            color: $gray-darker;
            min-height: 60px;

          }

        }
      }

      .btn {
        
        @media #{$mobileOnly} {
          width: calc(100% - 46px);
        }

      }

      > h3 + span > div > p { 
        color: $gray-darker;
      }

	  }
  }
}