.paragraph--type--image-and-text-with-button {
  .row {
  	@media #{$desktopAndUp} {
      @include display-flex;
  	  @include align-items(center);
    }
  	.content-body {
      text-align: center;
      @media #{$desktopAndUp} {
        text-align: left;
      }
      h2 {
        font-size: ( $font-size-h2 * 1.15 );
        margin-top: 0;
      }
      &:last-of-type {
        > * {
          
        }
      }
      &:last-of-type {
      	.content-body-inner {
      	  .btn {
      	  	margin-top: ( $padding-large-vertical * 3 );
      	  }

      	}
      }
      .field--type-image {
        > * {
          @include display-flex(flex);
          @include align-items(center);
          justify-content: center
        }
      }
      .subtitle {
        text-align: center;
        padding-top: ( $padding-large-vertical * 2 );
        display: block;
        @media #{$desktopAndUp} {
          padding-top: 0;
          text-align: left;
          > * {
            text-align: left;
          }
        }
      }
    }
  }
}