.accordion {
  &.small-group-travel {
  	@media #{$desktopAndUp} {
      width: 50%;
  	}
  	.accordion-single-item {
  	  @include display-flex(flex);
	  @include align-items(center);
	  @include flex-wrap(wrap);	
	  border-bottom: 2px solid $background-panel-color;
	  min-height: 50px;
	  > * {
	    @include flex-basis(100%);
	  }	
  	  .inner {
	    padding: ( $padding-small-vertical * 8 ) 0 ( $padding-small-vertical * 4 ) 0;
	    .card-header {
	    	position: relative;
	      font-family: $heading-panels-font-family;
	      font-size: $font-size-smaller;
	      letter-spacing: 1px;
	        a {
	          color: $gray-darker;
	          &:after {
	          	content: "";
	          	@extend .clickable-area; 
	          }
	        }
	        &:after {
	      	  content: '+';
	      	  display: inline-block;
	      	  position: absolute;
	      	  right: 0;
	      	  top: -20%;
	      	  color: $gray-base;
	      	  font-size: $font-size-base;
	        }
	      }
	      
	    }
	  }
  	}
  }

.page-node-type-small-group-detail {

  .accordion.small-group-travel {
  	.accordion-single-item {
  	  &:first-of-type {
  	    .inner {
           padding-top: $padding-large-vertical * 8;
  	    }
  	  }
  	}
  }

  .subtitle-title-desc-wrap {
  	padding-top: $padding-large-vertical * 4;
  	padding-bottom: $padding-large-vertical * 10;
    a {
  	  color: $color-small-group;
  	  text-decoration: underline;
  	  font-family: $font-family-sans-serif-bold;
  	  &:hover {
  		color: darken($color-small-group, 15%);
  	  }
    }	
  }

  .paragraph--type--blog-list-by-category {
  	.curious.svg {
  	  padding-bottom: $padding-large-vertical * 2
  	}
  }

}



