/**
 * @license
 * MyFonts Webfont Build ID 3475402, 2017-10-31T07:02:50-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: PlutoBold by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/pluto/bold/
 *
 * Webfont: PlutoExtraLight by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/pluto/extralight/
 *
 * Webfont: PlutoLight by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/pluto/light/
 *
 * Webfont: PlutoMedium by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/pluto/medium/
 *
 * Webfont: PlutoRegular by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/pluto/regular/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3475402
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2011 by Hannes von Doehren. All rights reserved.
 *
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3507ca");

// Header fonts
@font-face {
  font-family: 'PlutoBold';
  src: url('../fonts/3507CA_0_0.eot');
  src: url('../fonts/3507CA_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3507CA_0_0.woff2') format('woff2'),url('../fonts/3507CA_0_0.woff') format('woff'),url('../fonts/3507CA_0_0.ttf') format('truetype'),url('../fonts/3507CA_0_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'PlutoExtraLight';
  src: url('../fonts/3507CA_1_0.eot');
  src: url('../fonts/3507CA_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3507CA_1_0.woff2') format('woff2'),url('../fonts/3507CA_1_0.woff') format('woff'),url('../fonts/3507CA_1_0.ttf') format('truetype'),url('../fonts/3507CA_1_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'PlutoLight';
  src: url('../fonts/3507CA_2_0.eot');
  src: url('../fonts/3507CA_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3507CA_2_0.woff2') format('woff2'),url('../fonts/3507CA_2_0.woff') format('woff'),url('../fonts/3507CA_2_0.ttf') format('truetype'),url('../fonts/3507CA_2_0.svg#wf') format('svg');
}

@font-face {font-family: 'PlutoMedium';src: url('../fonts/3507CA_3_0.eot');src: url('../fonts/3507CA_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3507CA_3_0.woff2') format('woff2'),url('../fonts/3507CA_3_0.woff') format('woff'),url('../fonts/3507CA_3_0.ttf') format('truetype'),url('../fonts/3507CA_3_0.svg#wf') format('svg');
}

@font-face {font-family: 'PlutoRegular';src: url('../fonts/3507CA_4_0.eot');src: url('../fonts/3507CA_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3507CA_4_0.woff2') format('woff2'),url('../fonts/3507CA_4_0.woff') format('woff'),url('../fonts/3507CA_4_0.ttf') format('truetype'),url('../fonts/3507CA_4_0.svg#wf') format('svg');
}

// Body fonts
@font-face {
  font-family: ProximaNova-Light;
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
}

// Default variables.
@import "default-variables";

// Mixins
@import 'mixins/mixin-buttons';
@import 'mixins/mixin-font-size';
@import 'mixins/mixin-clearfix';
@import 'mixins/mixin-element-invisible';
@import 'mixins/mixin-flexbox';
@import 'mixins/mixin-full-width-elem';
@import 'mixins/mixin-responsive-ratio-element';
@import 'mixins/mixin-responsive-table';

// Bootstrap Framework.
@import '../../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Base
@import 'base/base-typography';
@import 'base/base-paragraph-bkg';
@import 'base/transitions';
@import 'base/extended-classes';


// Layout
@import 'layout/layout-header';
@import 'layout/layout-footer';
@import 'layout/layout-main';
@import 'layout/layout-views';

// Fields
@import 'modules/fields/field-image-banner';
@import 'modules/fields/field-title';
@import 'modules/fields/field-author';

// Paragraphs
@import 'modules/paragraphs/paragraph-content-map';
@import 'modules/paragraphs/paragraph-content-photo-gallery';
@import 'modules/paragraphs/paragraph-content-image-text-button';
@import 'modules/paragraphs/paragraph-content-testimonials';
@import 'modules/paragraphs/paragraph-content-blog-list';
@import 'modules/paragraphs/paragraph-content-team-widget';
@import 'modules/paragraphs/paragraph-cta';
@import 'modules/paragraphs/paragraph-video';
@import 'modules/paragraphs/paragraph-two-column-wyziwyg';
@import 'modules/paragraphs/paragraph-key-features';
@import 'modules/paragraphs/paragraph-carousel-text-image';
@import 'modules/paragraphs/paragraph-accordion';
@import 'modules/paragraphs/paragraph-simple-image-title';
@import 'modules/paragraphs/paragraph-social-feed';

// Nodes
@import 'nodes/node-home';
@import 'nodes/node-blog-landing';
@import 'nodes/node-destinations';
@import 'nodes/node-experiences';
@import 'nodes/node-meet-team-landing';
@import 'nodes/node-meet-team-detail';
@import 'nodes/node-regions';
@import 'nodes/node-small-group-travel-detail';
@import 'nodes/node-why-cazloyd';
@import 'nodes/node-celebrations';
@import 'nodes/node-taxonomy-term-press';
@import 'nodes/node-webform-enquire';
@import 'nodes/node-charities';
@import 'nodes/node-basic';

// System
@import 'system/system';


// Extras
@import 'modules/extras/breadcrumb';
@import 'modules/extras/cookie-consent';
@import 'modules/extras/site-branding';
@import 'modules/extras/view-pager';
@import 'modules/extras/search';
@import 'modules/extras/instagram-collage';
@import 'modules/extras/interactive-map';
@import 'modules/extras/fixed-nav-blog';
@import 'modules/extras/share';
@import 'modules/extras/subscribe';
@import 'modules/extras/share-icons';
@import 'modules/extras/seats';
@import 'modules/extras/tables';
@import 'modules/extras/video-iframe';
@import 'modules/extras/fixes';
@import 'modules/extras/short-overwrites';
