{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% set linkurl %}
    {{ content.field_link_url }}
{% endset %}

{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
  <div class="full-width-view-wrapper">
    <div class="row subtitle-title-desc-wrap clear text-center">
      <div class="subtitle center-block text-center">{{ content.field_subtitle }}</div>
      <h3 class="center-block text-center section">{{ content.field_title }}</h3>
      {{ content.field_intro_text }}
    </div>

    {#Loop through the Snapshots entities, output image, title and node url#}
    <div class="view-wrapper">
      <div class="inner three-cols snapshots">
        <ul class="view-content">
        {% for singlesnapshot in snapshots %}
          <li class="view-item">
            
            <a class="clickable-area" href="{{ singlesnapshot.alias }}"></a>
            
            <div class="teaser-image"><img src="{{ singlesnapshot.blog_image_style_path }}" /></div>

            <div class="teaser-title-summary">
              <div class="with-staff-pics">
                <span class="staff"><img src="{{ singlesnapshot.profile_image_style_path }}" /></span>
                <div class="teaser-title">{{ singlesnapshot.title }}</div>
              </div>
              <div class="teaser-summary">{{ singlesnapshot.summary }}</div>
            </div>

              {% if singlesnapshot.author_for_teaser_display != '' %}
                <div class="by">Written by {{ singlesnapshot.author_for_teaser_display|striptags|trim }}</div>
              {% endif %}
                        
          </li>
        {% endfor %}
        </ul>

        <div class="more center-block text-center">
          <a class="btn move-right" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/magazine/all?travel_type=All&destination=All&article_type=40">More Client Stories</a>
        </div>

      </div>
    </div>

    
   

    {#End Snapshots loop#}

  {% endblock %}
 </div>
{% endblock paragraph %}
