/**
 * Title : Background Alternation Styling 
 * Details : 
 * - Background alternation happens thourghout the website and alternates between white ($color-white) and gray ($background-panel-color;
 * - The stylings on this file are intended as an aid for script that is handling the alternation, found as object "background_color_alternation" in themes.js;
 * - At bottom of the file is some other legacy stylings that are necessary and related to background alternation 
 */


/**
 * When strip/section alternated background is was set to white do: 
 */
[data-bg=white]{
  .view-meet-the-team .view-wrapper{
    padding-bottom: 100px;
  }
  .view-meet-the-team .view-wrapper ul li{
    background: $background-panel-color;
    border-bottom-color: $color-white;
  }
  .view-wrapper .inner .view-content .views-row{
    background: $background-panel-color;
    border-bottom-color: $color-white;
  }
}


/**
 * When strip/section alternated background is was set to gray do: 
 */
[data-bg=gray]{
  .view-wrapper .inner .view-content .views-row{
    background: $color-white;
    border-bottom-color: $background-panel-color;
  }
  .view .btn.white{
    background: transparent;
  }
}


/**
 * Other necessary stylings
 */
body{
  // Global
  .field--name-field-paragraph-content,
  .field--name-field-block-paragraphs {
    > .field--item {
      @include full-width-elem;
    }
  }
  // Be Inspired
  &.page-node-type-experiences-landing {
    .image-h1-wrapper {
      + .row {
        @include full-width-elem;
      }
    }
  }
  // Magazine landing page
  &.path-magazine {
    .view-magazine-blog {
      .view-footer {
        > div {
          > .field--item {
            > div {
              + .field--item {
                @include full-width-elem;
              }
            }
          }
        }
      }
    }
  }
}