h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  color: $gray-darker;
  text-transform: uppercase;
  margin-top: $padding-large-vertical * 2;
  letter-spacing: 1px
}

h2 {
  line-height: $line-height-base;
}
h2.with-panel {
  margin-top: 0;
  margin-bottom: ( $padding-large-vertical * 3);
  padding-top: $padding-large-vertical * 4;
  
  @media #{$tabletAndUp} {
    padding-top: 0;
  }

  .field--name-field-subtitle {
    border-bottom: 3px solid;
  	padding-bottom: ( $padding-large-vertical * 2);
    text-align: left;
    font-family: $headings-font-family;
    font-size: ( $font-size-smaller * 1.8 );
    color: $gray-darker;
    padding-top: ( $padding-large-vertical * 2);
    
    @media #{$tabletAndUp} {
      padding-top: 0;
    }

  }
}

.field--item {
  
  @media #{$mobileOnly} { 
  
    h3 {
      width: 80%;

      + span, + .summary {
        width: 80%;
      }

    }

  }
}

h3.section,
.field--name-field-wysiwyg-text h3 {
  font-size: ( $font-size-base * 1.65 );
  font-family: $headings-font-family;
  margin-top: 0;
  
  @media #{$mobileOnly} {
    text-align: center;
  }

  &.staff {
    margin: 0 auto;
    font-size: ( $font-size-base * 1.4 );
  }
} 

.field--name-body {
  
  h4 {
    font-family: $heading-panels-font-family;
    font-size: $font-size-smaller;
    letter-spacing: 1px;
  }
  
  p {
    color: $gray-darker;
  }
  p, ul {
    margin-bottom: 30px;
  }
      
  + h2, h3, h4, h5, h6 {
    margin-top: 30px;
    padding-bottom: $padding-large-vertical * 2;
  }

}

:not(div.h1-wrapper).field--name-field-wysiwyg-text {
  p {
    color: $gray-darker;
  }
}

.paragraph--type--image-and-text-with-button {
  p {
    color: $gray-darker;
  }
}

.paragraph--type--cherry-picked-blogs {
  .curious-intro{
    color: $gray-darker;
  }
}

.path-magazine {
  .h1-wrapper .field--name-field-wysiwyg-text {
    p {
      color: $color-white !important;
    }
  }
}

/* SECTION - divider */
.subtitle-title-desc-wrap {
  color: $gray-darker;
}
.subtitle,
.field--name-field-subtitle {
  letter-spacing: 1px;
  font-family: $heading-panels-font-family;
  color: $gray-custom;
  font-size: $font-size-smaller;
  text-align: center;
  text-transform: uppercase;
  > * {
  	font-size: $font-size-smaller;
  }
  &.white {
    color: $color-white;
  }
  &.text-shadow {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  }
  + h3 {
    margin-top: $padding-small-vertical * 2;
    font-family: $headings-font-family;
    font-size: ( $font-size-h2 * 1.15 );
  }
}

.share-bottom-post {
  .subtitle {
    color: $gray-base;
  }
}

.subtitle-title-desc-wrap {
  h3 {
    font-family: $headings-font-family;
    line-height: ( $headings-line-height * 1.5 );
    font-size: ( $font-size-h2 * 1.15 );
    margin: 0 auto;
  }
}
.bigger-fonts {
  font-size: ( $font-size-smaller * 2 );
}

/* VIEWS - default */
.view-wrapper {
  a {
    line-height: $line-height-large;
    text-transform: uppercase;
    @media #{$desktopAndUp} {
      font-size: $font-size-small;
    }
  }
}

/* BLog landing */
.top-magazine {
  h1 {
    font-family: $headings-font-family-medium;
    font-size: ( $font-size-h1 * 2 );
    margin: 0;
    @media #{$desktopAndUp} {
      text-align: center
    }
  }
}