.clickable-area {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  cursor: pointer;
}
.clickable-box-shadow {
  box-shadow: #bbbaba 0 3px 5px;  
}
.back-arrow {
  // Back button view pager
  // Default styles for button only provides for the :after
  content: "\e092";
  padding-left: 15px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  transform: rotate(180deg);      
}
.divider {
  width: 0;
  position: relative;
  display: inline-block;
  top: 35px;
  border: 0;
  height: 70px;
  background: $btn-default-border;
  @media #{$tabletAndUp} {
    width: 1px;
  }
}
.text-shadow {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}
.box-shadow {
  box-shadow: $gray-lighter 0 3px 5px;
}
.font-size-on-banner {
  line-height: ( $line-height-base * .7 );
  @include font-size(2.5);
  
  @media #{$tabletAndUp} {
    @include font-size(4.8);
  }
}
.font-size-on-banner-region {
  line-height: ( $line-height-base * .7 );
  @include font-size(2.5);
  
  @media #{$tabletAndUp} {
    @include font-size(4);
  }
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  background: black;
  opacity: 0.1;
}

/* Classes pulled in on resize for the Dest & Exp View */
.view-wrapper {
  &.dest-exp {
    ul {
      .top {
        > .top-left {
          &.flex-basis-100 {
            @include flex-basis(100%);
          }
        }
        > .top-right {
          &.flex-basis-100 {
            @include flex-basis(100%);
          }
        }
      }
      .bottom {
        > .bottom-right {
          &.flex-basis-100 {
            @include flex-basis(100%);
          }
        }
        > .bottom-left {
          &.flex-basis-100 {
            @include flex-basis(100%);
          }
        }
      }
    }
  }
} 
.view-wrapper {
  ul {
    .width-100 {
      width: 100%;
    }
  }
}