/* Adding smoothness & animation to the site 
   
   - classes to be used as @extend
   - transition effects on ALL
   - transform effects 
     - Scaling in use for the + button icon
     - Translate axis for the arrow button icon
     - Scaling (zoom in/out) on IMG

*/

.transition-all-fast-in-out {
  transition: all .2s ease-in-out;
}
.transition-all-semi-fast-in-out {
  transition: all .6s ease-in-out;
}
.transition-bkg {
  transition: background .5s ease-out;
}
.scale-subtle-on-hover {
 transform: scale(1.2) !important;
}
.move-right {
  transform: translateX(10px);
}

.zoom-img {
  position: relative;
  z-index: 1;
  transition: transform 10s; 
  overflow: hidden;
  &:hover  {
    transform: scale(1.1); 
  }
}
