{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% set imagePosition %}
    {{ content.field_image_position }}
{% endset %}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>

        {% block content %}

            <div id="group-travel-schedule" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner"> 
                
                <!-- DISPLAY IMAGE TO LEFT OR RIGHT: {{ imagePosition|striptags }} -->

                {% for slide in content.field_slide_text_and_image_ref_loaded %}
                
                  {% if loop.first %}
                  
                     <div class="item item-schedule-day-{{ loop.index }} active">
                       
                       <div class="photo-details">

                         <div class="photo" style="float: {{ imagePosition|striptags|trim }}">
                           <img src="{{ file_url(slide.field_slide_image) }}" />
                         </div>

                         <div class="details">
                           <div class="subtitle">{{ slide.field_slide_title }}</div>
                           <h3>{{ slide.field_slide_subtitle }}</h3>
                           <div class="text">{{ slide.field_slide_wysiwyg }}</div>
                         </div>

                      </div>

                     </div><!-- /.item -->
                  
                  {% else %}
                     
                     <div class="item item-schedule-day-{{ loop.index }}">
                       <div class="photo-details">
                         <div class="photo" style="float: {{ imagePosition|striptags }}">
                           <img src="{{ file_url(slide.field_slide_image) }}" />
                         </div>
                          <div class="details">
                             <div class="subtitle">{{ slide.field_slide_title }}</div>
                             <h3>{{ slide.field_slide_subtitle }}</h3>
                             <div class="text">{{ slide.field_slide_wysiwyg }}</div>
                           </div>
                        </div>
                     </div><!-- /.item -->

                  {% endif %}
                
                {% endfor %}
                  
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#group-travel-schedule" data-slide="prev"></a>
            <a class="carousel-control right" href="#group-travel-schedule" data-slide="next"></a>

          </div><!-- ./group-travel-schedule -->

        {% endblock %}
    </div>
{% endblock paragraph %}
















