{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% if is_contact|striptags|trim == "yes" %}
  {{ attach_library('custom_google_maps/custom_google_maps_library') }}
  <style>
    #mapkit-9352 {
      height:400px;
      width:600px;
    }
  </style>
{% endif %}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{% if content.field_region_to_act_as.0['#plain_text'] == 'CENTRAL + SOUTH AMERICA' %}
    {% set region_simulated = 'region_centralsouthamerica' %}
{% elseif content.field_region_to_act_as.0['#plain_text'] == 'ASIA + MIDDLE EAST' %}
    {% set region_simulated = 'region_asiamiddleeast' %}
{% elseif content.field_region_to_act_as.0['#plain_text'] == 'AFRICA + INDIAN OCEAN' %}
    {% set region_simulated = 'region_africaindianocean' %}
{% else %}
    {% set region_simulated = 'region_none' %}
{% endif %}

{% if content.field_reduced_content_area.0['#markup'] == 'yes' %}
  {% set fld_reduced_content_class = 'reduced-width' %}
{% else %}
  {% set fld_reduced_content_class = '' %}
{% endif %}

<article{{ attributes.addClass(classes, region_simulated, fld_reduced_content_class) }}>
  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>

    <!-- Page Title doesn't show up on the homepage -->
    {% if not is_front %}

      {% if (content.field_show_title.0['#markup']|striptags == 'Yes') %}
        {{ title_prefix }}
          <h1>{{ label }}</h1>
        {{ title_suffix }}
      {% endif %}

    {% endif %}

    {{ content|without('field_region_to_act_as', 'field_reduced_content_area') }}

    {% if is_front %}

    <!-- Harcoded Instagram collage which is then moved just above the last Paragraph Content (CTA) using CSS -->
    <div class="field--item insta">
      <div class="instagram-collage-wrapper">

        <div class="collage"><img src="{{ base_path }}sites/default/files/instagram-collage.png"></div>

        <div class="follow-us-wrapper">
          <div class="follow-us">

            <h2>INSTAGRAM</h2>
            <div class="handle">Follow us for endless travel inspiration on
              <div><a href="https://www.instagram.com/cazenove_and_loyd/?hl=en" title="Follow Cazenove & Loyd" target="_blank">@cazenove_and_loyd</a></div>
            </div>

          </div>
        </div>

        <div class="social home text-center">
            <ul>
              <li class="social">
                <a class="facebook" href="https://www.facebook.com/cazenoveandloyd" title="Follow Cazenove+Loyd on Facebook" target="blank">
                  <img src="{{ base_path ~ directory }}/images/icon-social-fb.svg">
                </a>
                <a class="twitter" href="https://twitter.com/cazenoveandloyd" title="Follow Cazenove+Loyd on Twitter" target="blank">
                  <img src="{{ base_path ~ directory }}/images/icon-social-twitter.svg">
                </a>
                <a class="youtube" href="https://www.youtube.com/user/cazenoveloyd" title="Follow Cazenove+Loyd on YouTube" target="blank">
                  <img src="{{ base_path ~ directory }}/images/icon-social-youtube.svg">
                </a>
              </li>
            </ul>
        </div>

      </div><!-- /.instagram-collage-wrapper -->
    </div>


     <!-- Harcoded Interactive Map -->
    <div class="field--item map">
      <div class="interactive-map-wrapper">
        <div class="subtitle center-block text-center">Our regions</div>
        <h3 class="section center-block text-center">Where would you like to go?</h3>
        <div class="map">
          <img src="{{ base_path ~ directory }}/images/map.png">
          <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/polar-regions" class="has-tooltip polar-north">
            <span class="tooltip">
              <span><img src="{{ base_path ~ directory }}/images/map-overlay-polar.jpg"></span>
            </span>
          </a>
          <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/polar-regions" class="has-tooltip polar-south">
            <span class="tooltip">
              <span><img src="{{ base_path ~ directory }}/images/map-overlay-polar.jpg"></span>
            </span>
          </a>
          <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/central-south-america" class="has-tooltip americas">
            <span class="tooltip">
              <span>
                <img src="{{ base_path ~ directory }}/images/map-overlay-america-2.jpg">
              </span>
            </span>
          </a>
          <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/africa-indian-ocean" class="has-tooltip africa">
            <span class="tooltip">
              <span><img src="{{ base_path ~ directory }}/images/map-overlay-africa-2.jpg"></span>
            </span>
          </a>
          <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/asia-middle-east" class="has-tooltip asia">
            <span class="tooltip">
              <span><img src="{{ base_path ~ directory }}/images/map-overlay-asia-2.jpg"></span>
            </span>
          </a>
          <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/australasia" class="has-tooltip australasia">
            <span class="tooltip">
              <span><img src="{{ base_path ~ directory }}/images/map-overlay-australasia.jpg"></span>
            </span>
          </a>
        </div>
      </div><!-- /.interactive-map-wrapper -->
    </div>

  {% endif %}

  </div>

</article>
