{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

    {# Hide the paragraph if no articles were returned #}
    {%  if (content.selected_categories.has_articles >= 1) %}

    {# Check the max articles to display as set in the paragraph settings and output a class to indicate this. #}
        {# class name variable: css_class_max_articles #}
    {% if content.selected_categories.field_quantity_to_show == 2 %}
        {% set css_class_max_articles = 'two' %}
    {% elseif content.selected_categories.field_quantity_to_show == 4 %}
        {% set css_class_max_articles = 'four' %}
    {% elseif content.selected_categories.field_quantity_to_show == 6 %}
        {% set css_class_max_articles = 'six' %}
    {% elseif content.selected_categories.field_quantity_to_show == 8 %}
        {% set css_class_max_articles = 'eight' %}
    {% else %}
        {% set css_class_max_articles = 'four' %}
    {% endif %}

    {# Create a class that represents the ACTUAL number of articles been returned #}
        {# class name variable: css_class_num_articles #}
    {% if content.selected_categories.has_articles == 1 %}
        {% set css_class_num_articles = 'one' %}
    {% elseif content.selected_categories.has_articles == 2 %}
        {% set css_class_num_articles = 'two' %}
    {% elseif content.selected_categories.has_articles == 3 %}
        {% set css_class_num_articles = 'three' %}
    {% elseif content.selected_categories.has_articles == 4 %}
        {% set css_class_num_articles = 'four' %}
    {% elseif content.selected_categories.has_articles == 5 %}
        {% set css_class_num_articles = 'five' %}
    {% elseif content.selected_categories.has_articles == 6 %}
        {% set css_class_num_articles = 'six' %}
    {% elseif content.selected_categories.has_articles == 7 %}
        {% set css_class_num_articles = 'seven' %}
    {% elseif content.selected_categories.has_articles == 8 %}
        {% set css_class_num_articles = 'eight' %}
    {% endif %}

    {% if content.selected_categories.has_articles >= content.selected_categories.field_quantity_to_show %}
        {% set css_class_num_articles = css_class_max_articles %}
    {% endif %}

    {%
        set classes = [
        'paragraph',
        'paragraph--type--' ~ paragraph.bundle|clean_class,
        view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
        css_class_num_articles
    ]
    %}

{% block paragraph %}
    {#Max Articles[{{ content.selected_categories.field_quantity_to_show }}] ... Num Articles[{{ content.selected_categories.has_articles }}] => Class name[{{ css_class_num_articles }}]#}
<div{{ attributes.addClass(classes) }}>
<!-- div element below to control the width when on homepage as wrapper needs to be full-width but the view not -->
  <div>
  
  {% block content %}
                
  {% if (paragraph.field_show_as_curious.value == '1') %}

    <div class="row blog-list">
      <div class="curious center-block text-center svg">
        <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/magazine" title="Cazenove + Loyd Magazine Homepage"><img src="{{ base_path ~ directory }}/images/curious-logo.svg" /></a>
      </div>
      <span class="subtitle center-block text-center">
        {{ content.field_subtitle }}
      </span>
        {% if hide_summary == false %}
      <div class="curious-intro center-block text-center">
        {{ content.field_curious_intro }}
      </div>
        {% endif %}
   
   {% else %}
    
    <div class="row not-curious subtitle-title-desc-wrap clear">
      <span class="subtitle center-block text-center">
        {{ content.field_subtitle }}
      </span>
      <h3 class="center-block text-center text-center">
          {{ content.field_title }}
      </h3> 
   
   {% endif %}
    
  </div>
        {% if hide_summary == 0 or hide_summary == '' %}
            {% set bbc_view_wrapper = ['hide_summary',] %}
        {% else %}
            {% set bbc_view_wrapper = ['show_summary',] %}
        {% endif %}

      <div{{ attributes.addClass(bbc_view_wrapper) }}>
      {% if (content.selected_categories.field_quantity_to_show|raw == '2') %}
      
        {{ drupal_view('blogs_by_category', 'page_2_items', content.selected_categories.field_categories) }}
      
      {% endif %}

      {% if (content.selected_categories.field_quantity_to_show|raw == '4') %}

        {{ drupal_view('blogs_by_category', 'page_4_items', content.selected_categories.field_categories|trim) }}
                    
      {% endif %}
                    
      {% if (content.selected_categories.field_quantity_to_show|raw == '6') %}
        
        {{ drupal_view('blogs_by_category', 'page_6_items', content.selected_categories.field_categories) }}
           
      {% endif %}
               
      {% if (content.field_show_as_curious.value == '1') %}

      {% endif %}
        </div>
      <div class="row center-block text-center">
        <a class="btn transparent clear move-right" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/magazine">MORE INSPIRATION</a>
      </div>

        {% endblock %}
        
      </div>
    </div>

{% endblock paragraph %}

{% endif %}