.btn {
  font-size: $font-size-smaller;
  border: 0;
  color: $color-white;
  text-transform: uppercase;
  padding: ( $padding-large-vertical * 2 )  ( $padding-small-vertical * 10 );
  border-radius: 0;
  font-family: $headings-font-family-regular;
  letter-spacing: 1px;
  display: inline-block;
  background: $brand-primary;
  @extend .transition-bkg;
  
  &:hover {
    background-color: darken($brand-primary, 15%);
    color: $color-white;
  }

  // Default style for Glyphicons
  &:after { 
    content: "\e092";
    display: inline-block;
    padding-left: 15px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    @extend .transition-all-fast-in-out;
  }

  // CSS3 transform hover effect
  &.move-right {
    transform: none;
    &:hover {
      &:after {
        @extend .move-right;
      }
    } 
  }

  // Bkg & font colours customization
  // These get overwritten on Destinations pages at the body level
  // to apply Region colour
  &.brand-info {
    background-color: $brand-info;
    color: $color-white;
  }
  &.white {
  	background-color: $color-white;
    color: $gray-darker;
    font-family: $heading-panels-font-family;
    font-size: $font-size-small;
  }
  &.black,
  &.enquire {
    background-color: $gray-darker;
    @extend .transition-all-fast-in-out;
  }
  &.bigger-fonts {
    font-size: $font-size-base;
  }
  &.clear {
    padding: ( $padding-large-vertical * 6 ) 0 0 0;
  }
  &.view-button-clear {
    margin: ( $padding-large-vertical * 6 ) 0;
    position: relative;
  }
  &.transparent {
    background-color: transparent !important;
    color: $gray-darker;
    font-size: $font-size-small;
    font-family: $heading-panels-font-family;
    &:hover {
      background: none;
      color: $gray-darker;
    }
  }
}

.blog {
  .btn {
    &.clear {
      padding: 0;
    }
  }
} 

.page-node-type-experience-detail-v2 {
  article {
    .btn {
      background-color: $brand-primary;
      &:hover {
        background-color: darken($brand-primary, 15%);
        color: $color-white;
      }
      &.transparent {
        &:hover {
          color: $gray-darker;
        }
      }
      &.enquire {
        a {
          color: $color-white;
        }
      }
      &.white {
        color: $gray-darker;
        background-color: $color-white;
      }
    }
  }
}