.logo-site-name-main-menu {
  @media #{$untilTablet} {
    height: 50px;
    @include display-flex(flex);
    @include justify-content(flex-start);
    .logo-site-name {
      z-index: 6;
      height: inherit;
      @include display-flex(flex);
      @include align-items(center);
      .logo.navbar-btn {
        padding-left: $padding-large-horizontal;
      }
    }
  }
}
.phone-enquire {

    @media #{$untilDesktop} {
      position: fixed;
      width: 100%;
      bottom: 0;
      opacity: 1;
    }
}

/* Styles for Europe and Alaska menu items only */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .we-mega-menu-submenu {
    li.we-mega-menu-li {
      &.alaska {
        position: absolute;
        left: 57%;
        margin-top: -30px;
        float: left;
        .we-mega-menu-submenu {
          display: none !important;
        }
      }
      &.europe {
        position: absolute;
        margin-top: -30px;
        float: left;
        .we-mega-menu-submenu {
          display: none !important;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .we-mega-menu-submenu {
    li.we-mega-menu-li {
      &.alaska {
        position: absolute;
        left: 170px;
        margin-top: -30px;
      }
      &.europe {
        position: absolute;
        margin-top: -30px;
      }
    }
  }
}
/* START OF the We Mega Menu (module) block */
.block-we-megamenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 65px;

  /* Overwritting the module default style for Mobile & Tablet Breakpoint */

  @media #{$untilTablet} {
    z-index: 5;

    .navbar-we-mega-menu {
      &.navbar {
        overflow-y: visible;
        position: relative;
        right: 0;
        width: 100%;
      }
    }
    .navbar {
      .navbar-header {
        @include display-flex(flex);
        @include justify-content(flex-end);
        background: $gray-darker;
        min-height: 50px;
        margin: 0;
        .navbar-toggle {
          margin: 0 10px 0 0;
          border: 0;
          &:focus, &:hover {
            background: none;
            span {
              background-color: $brand-primary;
            }
          }
        }
      }

      .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
        border: 0;
        background: $gray-darker;
        margin: 0;
      }
    }

    /* Fonts style for second level sub menu */
    .navbar-we-mega-menu.navbar {
      .nav-tabs {
        > li {
          ul {
            a {
              font-family: $font-family-sans-serif;
              text-transform: capitalize;
              letter-spacing: 0
            }
          }
        }
      }
    }

    .navbar-we-mega-menu {
      &.navbar {
        .nav-tabs {
          width: 100%;
          > li {
            a {
              @include display-flex(flex);
              @include align-items(center);
              min-height: 65px;
              color: $color-white;
              font-family: $headings-font-family-regular;
              font-size: $font-size-smaller;
              text-transform: uppercase;
              letter-spacing: 1px;
              border: 0;
              background-color: transparent;
              position: relative;
              padding-left: $padding-large-horizontal;
              padding-right: $padding-large-horizontal;
              background-color: $dropdown-bg;
              &:before {
                content: "+";
                display: inline-block;
                position: absolute;
                right: 25px;
                width: 10px;
                z-index: 10;
                top: 25%;
                font-size: $font-size-base
              }
            }
            &:hover {
              > a {
                background: $brand-primary;
                &:after {
                  height: 0;
                  background: transparent;
                }
              }
            }
          }
          > li.active {
            a {
              background-color: $dropdown-bg-active;
              box-shadow: none;
              text-shadow: none;
              &:after {
                height: 0;
                background: transparent;
              }
              &:hover {
                border-top: 0;
              }
            }
          }
          li.dropdown-menu {
            > a {
              &:after {
                content: "";
              }
            }
          }

        }
        /* sub menu */
        .we-mega-menu-ul {
          >.we-mega-menu-li {
            .we-mega-menu-submenu {
              .we-mega-menu-submenu-inner {
                .we-mega-menu-row {
                  .we-mega-menu-col {
                    .subul {
                      padding: 0;
                      min-height: 65px;
                      .dropdown-menu {
                        a {
                          border: 0;
                          box-shadow: none;
                          font-family: $headings-font-family-regular;
                          padding-left: $padding-large-horizontal;
                          padding-right: 0;
                          text-transform: uppercase;
                          @include display-flex(flex);

                          + .we-mega-menu-submenu a {
                            font-family: $font-family-sans-serif;
                            text-transform: capitalize;
                          }

                          &:before {
                            content: "+";
                            display: inline-block;
                            position: absolute;
                            right: 25px;
                            width: 10px;
                            z-index: 10;
                            top: 25%;
                            font-size: $font-size-base
                          }
                          &:hover {
                            background-color: $brand-primary;
                          }
                        }
                        > a {
                          &:after {
                            content: "";
                          }
                        }

                      }

                      /* Sub Sub menu */
                      .we-mega-menu-submenu {
                        display: none;
                        .subul {
                          a {
                            &:before {
                              content: "";
                            }
                          }
                          li {
                          }
                        }
                        &.show-submenu {
                          display: block;
                          > * {
                            display: block;
                          }
                        }
                      }
                      /* END OF Sub Sub menu */

                    }
                  }
                }
              }
            }
            &.open {
              a {
                background-color: $gray-base;
                &:before {
                  content: "-";
                }
                a {
                  color: red;
                }
              }
              .dropdown-menu {
                a {
                  background-color: $gray-darker;
                }
              }
            }
          }
        } /* sub menu */




      } /* navbar-we-mega-menu & navbar */
    } /* navbar-we-mega-menu */

  } /* UntilTablet */
} /* .block-we-megamenu */



/*
Tablet and up
***********
*/

@media #{$tabletOnly} {
/* To cope with the module default styles */
  .navbar-we-mega-menu {
    .we-mega-menu-ul {
      @include justify-content(flex-end);
      margin-right: 5% !important;
    }
  }

  .navbar-we-mega-menu.navbar {
    overflow-y: visible;
    .dropdown-menu {
      > a {
        &:after {
          content: "";
        }
      }
    }
  }

  .navbar-we-mega-menu .we-mega-menu-ul>li.we-mega-menu-li a {
    font-size: 11px !important;
  }

  .navbar-we-mega-menu {
  /* Second level sub menu */

  /* Overwriting the module so the second submenu level is always showing */
    .we-mega-menu-ul {
      > .we-mega-menu-li {
        &.dropdown-menu {
          /* The second sub menu should not be 100% wide */
          .we-mega-menu-submenu {
            padding: 0 7%;
            z-index: 20;
            top: 100%;
            left: 0;
            width: 100vw !important;
            display: none;

            .subul .subul a {
              font-size: $font-size-base;
            }
          }
        }

        &:hover {
          &.dropdown-menu {
            .we-mega-menu-submenu {
              display: block;
            }
          }
        }

      }
    }
  }


}

@media #{$tabletAndUp} {
/* To cope with the module default styles */
  .navbar-default {
    .region-navigation {
      min-height: 65px;

      .logo-site-name-main-menu {
        @include display-flex(flex);
        @include align-items(center);
      }
    }
  }

  .dropdown-menu:hover > .we-mega-menu-submenu {
    display: block;
  }



}

@media #{$desktopAndUp} {

  .navbar-we-mega-menu {
    .we-mega-menu-ul {
      @include justify-content(center);
    }
  }

  .navbar-we-mega-menu {
  /* Second level sub menu */

  /* Overwriting the module so the second submenu level is always showing */
    .we-mega-menu-ul {
      > .we-mega-menu-li {
        &.dropdown-menu {
          /* The second sub menu should not be 100% wide */
          .we-mega-menu-submenu {
            padding: 0 2%;
          }
        }
      }
    }
  }

  .navbar-we-mega-menu .we-mega-menu-ul {
    @include justify-content(flex-end);
    padding-right: calc(18%) !important;

    @media #{$wide} {
      padding-right: calc(12%) !important;
    }

  }
  .navbar-we-mega-menu .we-mega-menu-ul>li.we-mega-menu-li a {
    padding-left: 0 !important;
  }

  .we-mega-menu-submenu li.we-mega-menu-li:first-child>a {
    padding-top: .5rem;
    &:before {
      margin-top: 0;
    }
  }
}

@media #{$wide} {

  .navbar-we-mega-menu {
  /* Second level sub menu */

  /* Overwriting the module so the second submenu level is always showing */
    .we-mega-menu-ul {
      > .we-mega-menu-li {
        &.dropdown-menu {
          /* The second sub menu should not be 100% wide */
          .we-mega-menu-submenu {
            padding: 0 5%;
          }
        }
      }
    }
  }

  .navbar-we-mega-menu .we-mega-menu-ul>li.we-mega-menu-li .subul a {
    font-size: $font-size-base
  }
  .navbar-we-mega-menu .we-mega-menu-ul>li.we-mega-menu-li .subul .subul a {
    font-size: $font-size-base
  }

  .navbar-we-mega-menu .we-mega-menu-ul {
    @include justify-content(center);
    padding-right: 0 !important;
  }
  .navbar-we-mega-menu .we-mega-menu-ul>li.we-mega-menu-li a {
    padding-left: $padding-large-horizontal/2 !important;
  }


}

@media #{$tabletAndUp} {

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

#beInspired {
  // wrapping the list in three divs
  @include display-flex(flex);
  @include flex-wrap(nowrap);
  margin: 0 auto;

  > div {
    @include flex-basis(33.33%);
  }

  a {
    &:hover {
      color: darken($color-white, 15%);
      &:before {
        transform: scale(1.5);
      }
    }
  }

  .be-inspired-col1,
  .be-inspired-col2,
  .be-inspired-col3 {
    .we-mega-menu-li {
      a {
        padding-bottom: $padding-large-vertical * 2;
      }
    }
  }

}

/* Positioning the Mega Menu */
.navbar-we-mega-menu {
&.navbar {
  /* Overwriting the module default styles */
  position: inherit;
  right: auto;
  width: 100%;
  background: inherit;
  height: auto;
  bottom: auto;
  .container-fluid {
    @include flex-wrap(wrap);
  }
  .container-fluid,
  > *,
  > * > * {
    width: 100%;
    @include display-flex(flex);
    @include justify-content(center);
      ul {
        li {
          .we-mega-menu-submenu {
            position: absolute;
            width: 100vw;
            padding: 0;
          }
        }
      }
    }
  }
} /* navbar-we-mega-menu.navbar */


.navbar-we-mega-menu {

  /* First level sub menu */
  .we-mega-menu-ul {
    @include display-flex(flex);

    > li.active {
      a {
        background-color: transparent;
        box-shadow: none;
        text-shadow: none;
        color: $color-white;
        font-size: $font-size-smaller;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: #CEA649;
          opacity: 1;
          top: auto;
        }
        &:before {
          background-image: none;
        }
        &:hover,
        &:focus {
          border-top: 0;
          background: transparent;
          color: $color-white;
        }
      }
    }

    > li.we-mega-menu-li {
      border: 0;
      position: static;
      > a {
        min-height: 65px;
      }
      a {
        @include display-flex(flex);
        @include align-items(center);
        color: $color-white;
        font-family: $headings-font-family-regular;
        font-size: $font-size-smaller;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 0;
        position: relative;
        padding-left: $padding-large-horizontal/2;
        background: transparent;
        &:before {
          background-image: none;
        }
      }
      &:hover {
        > a {
          background: transparent;
          color: $color-white;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: #CEA649;
            opacity: 1;
            top: auto;
          }
        }
      }

      .we-mega-menu-submenu {
        background: $dropdown-bg;
        opacity: .95;
        margin-top: 0;
        border: 0;
        .we-mega-menu-submenu-inner {
          padding: ($padding-large-vertical * 7) 0;

          .we-mega-menu-row {
            .we-mega-menu-col {

              .subul {
                padding: 0;
                min-height: 65px;
                width: 100%;

                .subul {
                  @include display-flex(flex);
                  @include flex-wrap(wrap);

                  li {
                    @include flex-basis(49%);
                  }
                }


                a {
                  border: 0;
                  box-shadow: none;
                  font-family: $headings-font-family-regular;
                  padding-left: ( $padding-large-horizontal * 1.5 ) !important;
                  @include display-flex(flex);
                  &:before {
                    content: "+";
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    width: 10px;
                    z-index: 10;
                    top: 10%;

                    color: $color-yellow-nav;
                  }
                  &:after {
                    height: 0;
                  }
                }
                > a {
                  &:after {
                    height: 0;
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}

.navbar-we-mega-menu {
  /* Second level sub menu */

  /* Overwriting the module so the second submenu level is always showing */
  .we-mega-menu-ul {
    > .we-mega-menu-li {
      &.dropdown-menu {
        /* The second sub menu should not be 100% wide */
        .we-mega-menu-submenu {
          /*padding: 0 7%;*/
        }
        .we-mega-menu-submenu {
          .we-mega-menu-submenu-inner {
            .we-mega-menu-row {
              .we-mega-menu-col {

                .subul {

                  > .we-mega-menu-li {
                    &:before,
                    &:after {
                      width: 0;
                    }
                    &.dropdown-menu {
                      > a {
                        padding: 0;
                        min-height: 45px;
                        display: block;
                        &:before {
                          background-image: none;
                          display: none;
                        }

                        a {
                          &:hover {
                            color: darken($color-white, 15%);
                            &:before {
                              transform: scale(1.5);
                            }
                          }
                        }

                      }
                      .we-mega-menu-submenu {
                        display: block;
                        position: relative;
                        width: auto;
                        left: 0;
                        clear: both;
                        padding: 0;
                        .we-mega-menu-submenu-inner {
                          padding-top: 0;
                          .we-mega-menu-row {
                            display: block;
                            .we-mega-menu-col {
                              margin: 0;
                              /* Removing the flex display property for the second sub level submenu */
                              .subul {


                                a {
                                  font-family: $font-family-sans-serif;
                                  text-transform: capitalize;
                                  letter-spacing: 0;
                                  &:hover {
                                    color: darken($color-white, 15%);
                                    &:before {
                                      transform: scale(1.5);
                                    }
                                  }

                                }
                              }

                            }
                          }
                        }
                      }
                    }
                  }
                }



              }
            }
          }
        }

      }
    }

  }
}

} /* tabletAndUp */
