/**
 * Panel styling.
*/
.panel {

  &.panel-default {
  	padding: ( $padding-small-vertical * 3 ) 0;
    margin-top: ( $padding-large-vertical * 4);
    border: 0;
 	  background-color: $background-panel-color;
    @media #{$tabletAndUp} {
      margin-top: 0;
      padding: 0;
    }
    &.no-padding {
      padding: 0;
    }
	.panel-title {
	  text-transform: uppercase;
	  font-family: $heading-panels-font-family;
	  font-size: $font-size-small;
	  color: $gray-base;
	  padding-bottom: ( $padding-small-vertical * 3 );
    letter-spacing: 1px;
	}

	.panel-body {
	  &:first-of-type {
	  	border-bottom: 1px solid $color-white;
	  }

	  &.blue {
        background-color: $color-small-group;
      }

      &.blue-darker {
        background-color: $color-small-group-darker;
      }

      &.small-group {
      	color: $color-white;
        padding-bottom: $padding-large-vertical * 5;
      	> div {
          @include clearfix;
          &:before {
          	width: 100%;
          	font-family: $heading-panels-font-family;
          	font-size: $font-size-smaller;
          }
           &:after {
      	  	padding-bottom: ( $padding-large-vertical * 4 );
      	  }
      	}
      	.dates {
          &:before {
          	content: "DATES";
            letter-spacing: 1px;
          	padding: ( $padding-large-vertical * 4 ) 0 ( $padding-large-vertical * 2 ) 0;
          }
      	  .field--name-field-start-date {
      	  	display: inline; 
      	  }	
      	}
      	.expert {
          &:before {
          	content: "YOUR EXPERT GUIDE";
            letter-spacing: 1px;
            padding: 0 0 ( $padding-large-vertical * 2 ) 0;
          }
      	}
      	.group-size {
          &:before {
          	content: "GROUP SIZE";
            letter-spacing: 1px;
            padding: 0 0 ( $padding-large-vertical * 2 ) 0;
          } 
      	}
      	.price {
      	  font-weight: bold;
      	  font-size: ( $font-size-smaller * 2.1 );
      	  padding-top: ( $padding-large-vertical * 3 );
      	  padding-bottom: ( $padding-large-vertical * 2 );
          font-family: $font-family-sans-serif-bold;
      	  > div {
            line-height: normal;
            padding-bottom: $padding-large-vertical * 1
          }
          &:after {
      	  	padding-bottom: 0;
      	  }
      	  span {
      	  	font-weight: normal;
      	  	font-size: $font-size-base;
      	  }
      	}
      	.btn {
      	  &:after {
      		padding-bottom: 0;
      	  }
      	}
      }
	  span {
	  	font-family: $font-family-sans-serif;
	  }
	}
  }
}
