/*

- DEFAULT style for Title and Subtitle over Teaser Image
- HTML List markup from the GUI + wrapping class
- Pager style has its own partial at /extras */
.view-wrapper {
  padding: 0 0 ($padding-large-vertical * 4) 0;

  &.no-padding  {
    padding: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    li {
      position: relative;
      border-bottom: 5px solid transparent;
      @include flex-basis(100%);
      @media #{$tabletOnly} {
        @include flex-basis(49.66%);
      }
      &:hover {
        > img {
          opacity: .75;
        }
      }
      img {
        width: 100%;
      }
      a {
        text-align: center;
        color: $color-white;
        text-decoration: none;
        cursor: pointer;
        @extend .text-shadow;
      }
    }
  }

  &.default {
    ul {
      li {
        a {
          @include display-flex;
          @include align-items(center);
          @include justify-content(center);
          @extend .clickable-area;
          font-family: $headings-font-family-regular;
        }
      }
    }
  }

  &.meet-the-team {
    padding: 0;
    width: 100%;

    ul {
      li {
        text-align: center;
        border-bottom: 5px solid $background-panel-color;
        padding-bottom: $padding-large-vertical * 5;
        @include flex-basis(23%);

        &:before {
          background: $background-panel-color;
        }

        a {
          display: block;
          font-family: $heading-panels-font-family;
          color: $gray-darker;
          font-size: $font-size-small;
          text-shadow: none;
          img {
            &:hover {
              opacity: .75;
            }
          }
        }
        .staff-name {
          a {
            padding: ( $padding-large-vertical * 4 ) 0 ( $padding-large-vertical * 1 ) 0;
            letter-spacing: 1px
          }
        }
        span {
          display: block;
          text-transform: capitalize;
        }
      }
    }
  }
  &.dest-exp {
    ul {
      li {
        .inner {
          color: $color-white;
          text-align: center;
          background-image: linear-gradient(to top, rgba(21,21,21,1) 0%, rgba(21,21,21,.4) 10%, rgba(21,21,21,.2) 20%, rgba(0,0,0,0) 100%);
          @include display-flex;
          @include align-items(center);
          @include justify-content(flex-end);
          @include flex-direction(column);
          @extend .clickable-area;

          a {
            font-family: $headings-font-family-regular;
            letter-spacing: 1px;
            &:after {
              content: "";
              left: 0;
              @extend .clickable-area;
            }
            &:hover {
              &:after {
                opacity: .8;
              }
            }
          }
          span {
            display: block;
            font-size: $font-size-base;
            color: $color-white;
            text-align: center;
            line-height: ( $line-height-base / 1.3 );
            text-transform: initial;
            &:not(.flex-end-pad) {
              font-family: $headings-font-family-regular;
              text-transform: uppercase
            }
            span {
              font-family: $font-family-sans-serif;
              display: block;

            }
          }
          .flex-end-pad {
            padding: 0 $padding-large-horizontal ( $padding-large-vertical * 3 ) $padding-large-horizontal;
            opacity: .8;
            //IE 11
            width: 99%;
          }
        }
      }
      .top {
        width: 100%;
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);

        .top-left {
          @include flex-basis(33.32%);
        }
        .top-right {
          @include flex-basis(66.32%);
          @include display-flex(flex);
          @include flex-wrap(wrap);
          @include justify-content(space-between);

          li {
            @include flex-basis(49.725%);
            &:last-of-type {
              @include flex-basis(100%);
            }
          }
        }
      }
      .bottom {
        width: 100%;
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);

        .bottom-left {
          @include flex-basis(66.32%);
          @include display-flex(flex);
          @include flex-wrap(wrap);
          @include justify-content(space-between);

          li {
            @include flex-basis(49.725%);
            &:first-of-type {
              @include flex-basis(100%);
            }
          }
        }
        .bottom-right {
          @include flex-basis(33.32%);
          @include display-flex(flex);
          @include flex-wrap(wrap);
          li {
            @include flex-basis(100%);
          }
        }
      }
    }
  }
  &.experiences {

  }
  &.three {
    /* Set how many columns the View should have for Desktop and Up */
    @media #{$desktopAndUp} {
      ul {
        > li {
          @include flex-basis(33.1%);
        }
      }
    }
  }
  &.four {
    /* Set how many columns the View should have for Desktop and Up */
    ul {
      > li {
        @include flex-basis(49.725%);

        @media #{$desktopAndUp} {
          @include flex-basis(24.75%);
        }

      }
    }

    &.meet-the-team {
      ul {
        @include justify-content(left);
        > li {

          margin-right: calc(1% / 2);
          &:nth-child(2n+2) {
            margin-right: 0;
          }

          @media #{$desktopAndUp} {

            margin-right: calc(1% / 3);
            &:nth-child(2n+2) {
              margin-right: calc(1% / 3);
            }
            &:nth-child(4n+2) {
              margin-right: 0;
            }

          }

          &:first-of-type {
          @include flex-basis(49.725%);

          @media #{$desktopAndUp} {
            @include flex-basis(49.725%);
          }
        }

          &:nth-of-type(2) {
           @include flex-basis(49.725%);

            @media #{$desktopAndUp} {
            @include flex-basis(49.725%);
          }
        }

        a {
          &:before {
            content: "";
            position: absolute;
            width: 5px;
            top: 0;
            bottom: 0;
            right: 0;
          }
        }


        }
      }

    }

  }
}

/* View-wrapper custom padding-bottom */
.view-display-id-favourite_blogs_block {
  .view-wrapper {
    padding-bottom: $padding-large-vertical * 8;
  }
}

/* India Region landing page - tmp fix, awaiting new design */
.page-node-type-specific-region-landing {
  &.India {
    .view-wrapper {
      &.dest-exp {
        ul {
          > li {
            @include flex-basis(100%);

            @media #{$tabletAndUp} {
              @include flex-basis(49.8%);
            }

          }
        }
      }
    }
  }
}

/* Destination & Exp View on Homepage & Region Landing page */
.path-frontpage,
.path-destinations,
.page-node-type-region-landing-page,
.path-node,
.page-node-type-page {
  .view-wrapper {
    &.dest-exp {
      ul {

        @media #{$mobileOnly} {
          padding: 0 23px;
        }

        li {

          .dest-exp-thumbs {
            background-size: cover;
            min-height: calc( 100vw - 60px);
            background-position: center;

            @media #{$tabletAndUp} {
              min-height: 400px;
              background-position: top left;
            }

          }
          &:hover {
            opacity: .75;
            > img {
              opacity: inherit;
            }
          }
        }
      }
    }
  }
}

/* Restrict width for the Dest & Exp View on /destinations */
.path-destinations,
.page-node-type-experiences-landing,
.page-node-type-experience-detail-v2,
.page-node-type-specific-region-landing {
  .view-wrapper {
    &.dest-exp {
      ul {
        li {
          a {
            padding-bottom: $padding-large-vertical * 3;
          }
        }
      }
    }
  }
}

/* 2 buttons underneath the View */
#two-buttons {
  @media #{$mobileOnly} {
  @include display-flex(flex);
  @include justify-content(space-evenly);
  @include flex-wrap(wrap);
  .btn {
    margin: 0;
    @include flex-basis(100%);
    display: inline-block;
    white-space: normal;
    float: left;
    @include font-size(1.3);
      span.glyphicon {
        @include element-invisible;
      }
    }
  }
}

/* FULL WIDTH CONTAINER FOR VIEW USING DEFAULT STYLE
 - RESTRICTION TO SPECIFIC CT
 - COLOUR FILTER

 Node Exp Det
 Region page

 */
.full-width-view-wrapper {
    @include full-width-elem;
    &.grey-bkg {
      background-color: $background-panel-color;
    }
  }



// DEFAULT VIEW - taxonomy Term . add parent class to .view-wrapper
// Pierrick : tidy up the layout-view.scsss

.paragraph--type--blog-list-by-category {

  // Coping for non-agreed DEV solution to CSS hide content
  &.hide_summary {
    .view-wrapper {
      .inner{
        .view-content {
          .views-row {
            .teaser-summary {
              @include element-invisible;
            }
          }
        }
      }
    }
  }
}

.view-wrapper {
  .inner {
    @include display-flex(flex);
    @include flex-wrap(wrap);

    .view-content {
      padding: 0;
      margin: 0 auto;
      list-style-type: none;
      width: 100%;
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-between);

      .view-item {
        position: relative;
        background-color: $background-panel-color;
        background-clip: padding-box;
        @include flex-basis(100%);
        @extend .transition-all-fast-in-out;

        @media #{$tabletAndUp} {
          @include flex-basis(50%);
        }

        .teaser-image {
          border-bottom: 5px solid $gray-darker;
          img {
            width: 100%;
          }
        }
        .teaser-title-summary {
          padding: ( $padding-large-vertical * 3 ) ( $padding-large-vertical * 4 ) ( $padding-large-vertical * 5 ) ( $padding-large-vertical * 3 );
          color: $gray-darker;
          .teaser-title {
            font-family: $headings-font-family-regular;
            line-height: ( $line-height-base / 1.4);
            text-transform: uppercase;
            font-size: $font-size-small;
            &:before {
              content: " +";
              display: inline-block;
              width: 10px;
              color: $gray-darker;
            }
            a {
              color: $gray-darker;
              // Block linking
              &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                display: inline-block;
                z-index: 10;
                width: 100%;
              }
            }
          }
          .teaser-summary {
            font-family: $font-family-sans-serif;
            color: $gray-darker;
          }
          .teaser-date {
            font-family: $heading-panels-font-family;
            font-size: $font-size-smaller;
            color: $gray-custom;
            padding: ($padding-large-vertical * 2) 0 ($padding-large-vertical /2) 0;
            letter-spacing: 1px;
          }
          .teaser-group-title {
            font-family: $heading-panels-font-family;
            font-size: $font-size-small;
            color: $gray-darker;
            min-height: 45px;
            letter-spacing: 1px;
            padding-bottom: $padding-large-vertical * 2
          }
        }

// enable hover via .view-item on elements within the list
        &:hover {
          *  {
            @extend .transition-all-fast-in-out;
          }
          .learn-more {
            &:after {
              transform: translateX(10px);
            }
          }
          .teaser-image {
            border-bottom: 5px solid $brand-primary;
          }
        }
      }

// Default taxonomy term view
// e.g Blog Filtered View
// e.g Related Blog posts on Single Post

      .views-row {
        position: relative;
        background-color: $background-panel-color;
        background-clip: padding-box;
        border-bottom: 5px solid transparent;
        @include flex-basis(100%);
        @extend .transition-all-semi-fast-in-out;

        @media #{$tabletAndUp} {
          @include flex-basis(49.82%);
        }
        .views-field-title {
          font-family: $headings-font-family-regular;
          line-height: ( $line-height-base / 1.4);
          text-transform: uppercase;
          font-size: $font-size-small;
          padding: ($padding-large-vertical * 3) ($padding-small-horizontal * 4);
          min-height: 105px;
          .field-content {
            &:before {
              content: " +";
              display: inline-block;
              width: 10px;
              color: $gray-darker;
            }
            a {
              color: $gray-darker;
              // Block linking
              &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                display: inline-block;
                z-index: 10;
                width: 100%;
              }
            }
          }
        }
        .teaser-summary {
          font-family: $font-family-sans-serif;
          color: $gray-darker;
        }
        .views-field-field-hero-image-landscape {
          .field-content {
            img {
               border-bottom: 5px solid #151515;
               width: 100%;
            }
          }
        }

// views-view-unformatted html twig
        .teaser-image {
          border-bottom: 5px solid $gray-darker;
           img {
            width: 100%;
           }
         }
         .teaser-title-summary {
           padding: ( $padding-large-vertical * 3 ) ( $padding-large-vertical * 4 ) ( $padding-large-vertical * 5 ) ( $padding-large-vertical * 3 );
           font-family: $headings-font-family-regular;
           font-size: $font-size-small;
           color: $gray-darker;
           .teaser-title {
            line-height: ( $line-height-base / 1.4);
            text-transform: uppercase;
             &:before {
               content: " +";
               display: inline-block;
               padding: 5px 5px 5px 0;
               color: $gray-darker;
             }
             a {
               color: $gray-darker;
               // Block linking
               &:before {
                 content: "";
                 position: absolute;
                 top: 0;
                 bottom: 0;
                 left:0;
                 display: inline-block;
                 z-index: 10;
                 width: 100%;
               }
             }
           }
         }

        // enable hover via .views-row on elements within the list
        &:hover {
           *  {
            @extend .transition-all-fast-in-out;
          }
          .views-field-field-hero-image-landscape {
            .field-content {
              img {
                opacity: .9;
                border-bottom: 5px solid $brand-primary;
              }
            }
          }
          .teaser-image {
            border-bottom: 5px solid $brand-primary;
            opacity: .9;
          }
          .teaser-title-summary {
            .teaser-title {
              &:before {
                color: $brand-primary;
              }
              a {
                &:before {
                  @extend .transition-all-fast-in-out;
                }
              }
            }
          }
          .views-field-title {
            .field-content {
              &:before {
                color: $brand-primary;
              }
              a {
                &:before {
                  @extend .transition-all-fast-in-out;
                }
              }
            }
          }
        }// &:hover
      }
    } // inner

    // End of default styles
    &.two-cols {
      .view-content {
        .view-item,
        .views-row {

          @media #{$tabletAndUp} {
            @include flex-basis(49.82%);
          }

        }
      }
    }

    &.three-cols {
      .view-content {
        .view-item,
        .views-row {

          @media #{$tabletAndUp} {
            @include flex-basis(33.1%);
          }

        }
      }

      // Pierrick: tmp, convert default view style as follows
      &.blog-filtered {

        .view-content {
          @include justify-content(left);

          > .views-row {
            @include flex-basis(49.725%);
            margin-right: calc(1% / 2);

            &:nth-child(2n+2) {
              margin-right: 0;
            }

            @media #{$desktopAndUp} {

              @include flex-basis(33.1%);
              margin-right: calc(1% / 3);

              &:nth-child(2n+2) {
                margin-right: calc(1% / 3);
              }
              &:nth-child(3n+3) {
                margin-right: 0;
              }

            }

          }
        }

      } /* blog-filtered */


    }

    &.antartica {
      .view-content {
        .views-row {
          background: $color-white;
          .teaser-title-summary {
            background: $color-white;
          }
        }
      }
      // Pierrick: this is the right way
      .more {
        padding-top: ($padding-large-vertical * 4);
        // This is to flat out the field div
        > * {
          display: inline;
        }
        a {
          @extend .btn;
          @extend .transparent;
          @extend .move-right;
          &:hover {
            color: $gray-darker;
          }
        }
      }
    }


    &.snapshots {
      .view-content {
        .view-item {

          .teaser-title-summary {
            .with-staff-pics {
              @include display-flex(flex);
              @include flex-wrap(nowrap);
              @include align-items(center);
              .staff {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: ($padding-small-horizontal);
                  img {
                    width: inherit;
                    height: inherit;
                    border-radius: 20px;
                  }
                }

                .teaser-title {

                  &:before {
                    content: "";
                    width: 0;
                  }


                }
              }

              .teaser-summary {
                padding-top: $padding-large-vertical * 5.5;
                &:before {
                  content: "";
                  height: 1px;
                  border-bottom: 1px solid $color-white;
                  display: inline-block;
                  width: 100%;
                  position: absolute;
                  left: 0;
                  margin-top: -30px;
                }
              }

          }
        }
      }
      .more {
        padding-top: ($padding-large-vertical * 4);
      }
    }

    &.cherry-picked-groups {
      .view-content {
        .view-item {
          padding-bottom: ($padding-large-vertical * 2);
          background: transparent;

          .teaser-image {
            border-bottom: 5px solid $color-small-group;
          }

          .teaser-title-summary {
            padding-bottom: ($padding-large-vertical * 2);
            .teaser-group-title {
              min-height: 0;
              padding-bottom: $padding-large-vertical;
            }
            .teaser-summary {
              // aligning the more buttons
              min-height: 52px;
            }
          }

          .button-wrapper {
            .btn {
              font-size: $font-size-smaller;
            }
          }

        }
      }
    }

  }
}

.teaser-title-summary{
  position: relative;
}

.teaser-title-summary .by,
.teaser-title-summary + .by,
.views-row .teaser-title-summary + .views-field .by,
.views-row .views-field-title + .views-field-field-author-for-teaser-display- .by{
  font-size: 13px;
  font-weight: 900;
  font-family: $font-family-base;
  color: $gray-custom;
}
.teaser-title-summary .by{
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.teaser-title-summary + .by,
.views-row .views-field-title + .views-field-field-author-for-teaser-display- .by,
.views-row .teaser-title-summary + .views-field .by{
  padding-left: 30px;
  top: -40px;
  position: relative;
}


/*.view-footer {
  a {
    @extend .btn;
    @extend .transparent;
    @extend .move-right
  }
}*/


// If View has a bkg, then apply CSS properties to .views-row or .view-item
.full-width-wrapper {
  &.grey-bkg {
    .view-wrapper {
      .inner {
        .view-content,
        .views-row {
          .views-row {
            background-color: $color-white;
          }
        }
      }
    }
  }
  &.three-cols {
    .view-content {
      .view-item,
      .views-row {

        @media #{$tabletAndUp} {
          @include flex-basis(33.1%);
        }

      }
    }
  }
}

.view-person-blogs {
  .view-wrapper {
    .inner {
      .view-content {
        .views-row {
          background-color: $color-white;
        }
      }
    }
  }
}


.path-destinations {
  .view-wrapper {
    &.dest-exp {
      ul {
        li {

          @media #{$mobileOnly} {
            @include flex-basis(49.725%);
          }

        }
      }
    }
  }
}


/* CUSTOM - Destinations three portraits View - Top of landing page */
.regions-wrapper {
  .regions-wrapper-inner {
     width: 100vw;
     margin-left: calc(50% - 50vw);
     padding-left: 0;
     padding-right: 0;

     @media #{$tabletAndUp} {
       @include display-flex(flex);
       @include justify-content (center);
       flex-flow: row wrap;
    }

    & > .field--item {
      border-bottom: 5px solid #fff;
      position: relative;

      @media #{$tabletAndUp} {
        flex-basis: 50%;

        &:nth-child(2):before,
        &:nth-child(2):after,
        &:nth-child(4):after {
          background: #fff;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: -2.5px;
          bottom: 0;
          opacity: 1;
          width: 5px;
          z-index: 1;
        }

        &:nth-child(2):after {
          left: auto;
          right: -2.5px;
        }

        &:nth-child(4):after {
          left: auto;
          right: -2.5px;
        }

      }

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {

        @media #{$tabletAndUp} {
          flex-basis: 33.333%;
        }

      }

    }

    .field--item {

      &:after {
        content: "";
        @extend .img-overlay;
      }

      .region-item {
        position: relative;
        @include display-flex(flex);
        @include justify-content (center);
        @include align-items(center);

        // enable hover via .region-item on elements within the list
        // when users hover on .clickable-area
        &:hover {
          > * {
            .btn {
              &:after {
                @extend .move-right;
              }
            }
            > img {
              opacity: .9;
            }
          }
        }

        .title-explore-wrapper {
          bottom: 15px;
          position: absolute;
          z-index: 2;
          width: 90%;

          @media #{$desktopAndUp} {
            bottom: 50px;
            width: 60%;
          }

          h3 {
            @include display-flex(flex);
            @include justify-content (center);
            color: $color-white;
            font-family: $headings-font-family-extralight;
            font-size: ( $font-size-base * 2 );
            margin: 0 auto;
            cursor: pointer;
            padding-bottom: $padding-large-vertical * 2;
            width: 100%;

            @media #{$desktopAndUp} {
              padding-bottom: $padding-large-vertical * 3;
            }

          }

          .read-now {
            &:hover {
              background-color: darken($gray-darker, 50%);
              opacity: 1;
            }
            &:before {
              content: "";
            }
            &:after {
              content: "\2b";
              font-size: ($font-size-smaller * 0.8);
            }
          }
        }
      }

      a.clickable-area {
        @extend .clickable-area;
      }

      &:last-of-type {
        .region-item {
          &:before {
            z-index: 0;
          }
        }
      }

    }
  }
}
