/* GENERAL */
.main-container {
  max-width: $container-large-desktop;
}
.page-header {
  margin-top: 0;
}
body {
	margin-top: 0;
  overflow-x: hidden;

  @media #{$mobileOnly} {

      section.col-sm-12 {
        overflow: hidden
      }

      > section.col-sm-12 {
        overflow: hidden
      }
  }

}

/* Section dividers - Subtitle + description */
.subtitle-title-desc-wrap {
  &.clear {
    padding: ( $padding-large-vertical * 6) ( $padding-large-horizontal);
    @media #{$tabletAndUp} {
      padding: ( $padding-large-vertical * 6 ) ( $padding-large-vertical * 6 ) ( $padding-large-vertical * 5.5 ) ( $padding-large-vertical * 6 );
    }
  }
  .description, p {
    padding: $padding-large-vertical 0 ( $padding-small-horizontal * 4 ) 0;
    @media #{$desktopAndUp} {
      width: 75%;
    }
    @media #{$wide} {
      width: 33%;
    }
  }
  p {
    margin-left: auto;
    margin-right: auto;
  }
}

.view-header {
  .subtitle-title-desc-wrap {
    .description {
      padding-bottom: 0;
    }
  }
}

.content-body-inner {
  &.buffer {
    @media #{$wide} {
      padding-right: ( $padding-small-horizontal * 8 );
    }
  }
}

/* Flex columns */
.layout-flex {
  @include display-flex(flex);
  &.column {
    @include flex-direction(column)
  }
  &.top-magazine {
    @include full-width-elem;
    @include align-items(center);
    @include flex-direction(column);
    @media #{$desktopAndUp} {
      @include flex-direction(row);
    }
    > div {

      @media #{$desktopAndUp} {

      }
    }
    > div:nth-of-type(1) {
      @media #{$untilDesktop} {
        order: 3;
        text-align: center;
      }
      @media #{$desktopAndUp} {
        width: 25%;
      }
    }
    > div:nth-of-type(2) {
      @media #{$untilDesktop} {
        order: 1;
      }
      @media #{$desktopAndUp} {
      width: 50%;
      }
    }
    > div:nth-of-type(3) {
      @media #{$untilDesktop} {
        order: 2;
        padding: ( $padding-large-vertical * 2 ) 0;
      }
      @media #{$desktopAndUp} {
        width: 25%;
      }
    }
    > .share, .curious-search {
      @include display-flex(flex);
      @include align-items(center);
      @include justify-content(center);
    }
  }
}

.image-h1-wrapper {
  .h1-wrapper {
    &.column {
      @include flex-direction(column)
    }
  }
}


// Paragraphs
body.experience_detail_v2 {
  &.page-node-type-experience-detail-v2 {
    .field--name-field-paragraph-content {
      
      .paragraph--type--cherry-picked-blogs {
        
        .row {
          padding: 0; 
        }
      }
    }
  }
}
body:not(.path-frontpage) .field--name-field-paragraph-content {
  > .field--item {
    .paragraph {
      &.paragraph--type--image-and-text-with-button,
      &.paragraph--type--blog-list-by-category,
      &.paragraph--type--two-column-wysiwyg,
      &.paragraph--type--carousel-text-with-image {
        @include clearfix;
        &:after {
          padding-bottom: ( $padding-large-vertical * 8 );
        }
      }
      &.paragraph--type--video {
        @include clearfix;
        &:after {
          padding-bottom: ( $padding-large-vertical * 10 );
        }
      }
      &.paragraph--type--two-column-wysiwyg,
      &.paragraph--type--carousel-text-with-image,
      &.paragraph--type--video,
      &.paragraph--type--image-and-text-with-button {
        @include clearfix;
        &:before {
          padding-bottom: ( $padding-large-vertical * 8 );
        }
      }
    }
    .key-features-wrap {
      @include clearfix;
      &:before {
        padding-bottom: ( $padding-large-vertical * 5 );
      }
      &:after {
        padding-bottom: ( $padding-large-vertical * 9 );
      }
    }
  }
  .meet-the-team-wrapper{
    padding-bottom: ( $padding-large-vertical * 6 );
  }
} // end of not front page

body.experience_detail_v2 .field--name-field-paragraph-content .paragraph--type--cherry-picked-blogs .row{
  padding: 0;
}

.top-magazine-wrapper {
  @include clearfix;
  &:after {
    padding-bottom: ( $padding-large-vertical * 4 );
  }
  &:before {
    padding-top: ( $padding-large-vertical * 4 );
  }
}

.paragraph--type--display-cherry-picked-destinatio {

  .full-width-view-wrapper {
    @include clearfix;

    &:after {
      padding-bottom: ( $padding-large-vertical * 5 );
    }

    &:before {
      padding-top: ( $padding-large-vertical * 3 );
    }

  }

}

.instagram-collage-wrapper,
.subscribe,
.share-bottom-post {
  @include clearfix;

  &:after {
    padding-bottom: ( $padding-large-vertical * 8 );
  }

  &:before {
    padding-top: ( $padding-large-vertical * 8 );
  }

}

.interactive-map-wrapper {
  @include clearfix;

  &:before {
    padding-top: ( $padding-large-vertical * 6 );
  }

  .map {
    padding-top: $padding-large-vertical * 6;
  }

}

.paragraph--type--cherry-picked-blogs,
.paragraph--type--video {
  @include clearfix;

  &:before {
    padding-top: ( $padding-large-vertical * 6 );
  }

  &:after {
    padding-bottom: ( $padding-large-vertical * 6 );
  }

}
body:not(.page-node-type-experience-detail-v2) .field--name-field-paragraph-content {
    .paragraph--type--cherry-picked-blogs {

      &:after {
        // padding-top: 0;
      }
    }
}

.paragraph-content-wrapper {
  .staff-whereabouts {
    @include clearfix;

    &:first-of-type {
      &:after {
        padding-bottom: 0;
      }
    }

    &:before, &:after {
        padding-bottom: ( $padding-large-vertical * 8 );
      }
    @media #{$desktopAndUp} {
      &:before, &:after {
        padding-bottom: ( $padding-large-vertical * 8 );
      }
    }
  }
}


.view-person-blogs {
  @include clearfix;
  &:before {
    padding-bottom: ( $padding-large-vertical * 7.5 );
  }
  &:after {
    padding-bottom: ( $padding-large-vertical * 3 );
  }
}

.custom-breadcrumbs {
  @include clearfix;
  &:before {
    padding-top: ( $padding-large-vertical * 2.5 );
  }
  &:after {
    padding-bottom: ( $padding-large-vertical * 7.5 );
  }
}
.page-node-type-region-landing-page {
  .row {
    &.first-row {
      margin: 0 auto;
    }
  }
}
.row {
  &.first-row {
    padding-bottom: ( $padding-large-vertical * 8 );
    margin-left: 0;
    margin-right: 0;

    @media #{$tabletAndUp} {
      padding-bottom: ( $padding-large-vertical * 12 );
    }

  }
  &.small-groups {
    padding-top: ( $padding-large-vertical * 12 );
  }
}


// Pages specific
/* Pierrick - TMP late markup added which messed up things */
.field--name-field-paragraph-content {

  > .field--item {
    .paragraph {

      &.paragraph--type--blog-list-by-category {

        .paragraph--type--blog-list-by-category {

          @include clearfix;
          &:before {
            padding-bottom: 0;
          }
          &:after {
            padding-bottom: 0;
          }
        }

      }

    }
  }
}

.path-frontpage {
  .field--name-field-paragraph-content {
    .paragraph--type--cherry-picked-blogs {
      padding-bottom: 0;
    }
  }
}

body.page-node-type-destination-detail-v2 {
  .field--name-field-paragraph-content {
    > .field--item {
      .paragraph {

        &.paragraph--type--blog-list-by-category,
        &.paragraph--type--cherry-picked-blogs {

            @include clearfix;
            &:before {
              padding-bottom: $padding-large-vertical * 6;
            }

            .paragraph--type--blog-list-by-category {

              @include clearfix;
              &:before {
                padding-bottom: 0;
              }

            }

        }

      }
    }
  }
}

/* Small Group Travel detail */
.page-node-type-small-group-detail {

  .field--name-field-paragraph-content {

  > .field--item {
      .paragraph {

        &.paragraph--type--accordion {
          @include clearfix;
          &:before {
            padding-bottom: $padding-large-vertical * 6;
          }
        }

      }
    }
  }

}
.page-node-type-destination-detail-v2 {
  > .field--item {
    .key-features-para {
      @include clearfix;
      &:after {
        padding-bottom: ( $padding-large-vertical * 8 );
      }
    }
  }
}
.field--name-field-block-paragraphs  {
  > .field--item {
    .key-features-wrap {
      @include clearfix;
      &:before {
        padding-bottom: ( $padding-large-vertical * 5 );
      }
      &:after {
        padding-bottom: ( $padding-large-vertical * 8 );
      }
    }
  }
}

.page-node-type-celebrations-landing {
  .field--item {
    .paragraph {
      &.paragraph--type--photo-gallery {
        @include clearfix;
        &:after {
          padding-bottom: 0;
        }
      }
    }
  }
}

.page-node-type-people {
  .paragraph--type--video {
     @include clearfix;
     &:before {
       padding-top: ( $padding-large-vertical * 5 );
     }
     &:after {
      padding-bottom: ( $padding-large-vertical * 5 );
     }
  }
}

.contact-us {

  .field--name-field-paragraph-content {
    >.field--item {
      .paragraph {
        &.paragraph--type--two-column-wysiwyg:before {
          padding-bottom: 0;
        }
      }
    }
  }

}
