.footer {
  background: $gray-darker;
 /* width: 100%;*/
 @include full-width-elem;

  &.container-main {
  	@include clearfix;

    &:before {
      padding-top: ( $padding-large-vertical * 8 );
    }

    .nav-and-info {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      padding-bottom: ( $padding-large-vertical * 8 );

	    .parent {
        @include clearfix;
	      @include flex-basis(70%);
	      @include display-flex(flex);
	      @include flex-wrap(wrap);
	      list-style-type: none;
	      margin: 0;
	      padding: 0;

	      &:before {
          display: block;
	        padding-bottom: ( $padding-large-vertical * 8 );
	      }

	      @media #{$mobileOnly} {
            margin: 0 auto;
	      }

	      @media #{$tabletAndUp} {
            @include flex-basis(75%);
	      }
	      li {
	        @include flex-basis(100%);
	        padding-bottom: ( $padding-large-vertical * 5 );

	        @media #{$tabletAndUp} {
              @include flex-basis(33.30%);
              padding-bottom: 0;
	        }

	        &.menu-parent-item:first-of-type {
	          background: url(../images/seal-white.svg) no-repeat top left;
            background-size: 150px;
	          padding-top: 210px;
	          @media #{$tabletAndUp} {
                background-position: 0 95%;
                padding-top: 0;
	          }
	        }
	        a {
	          font-family: $headings-font-family-regular;
	          color: $color-white;
	          font-size: $font-size-small;
	          text-transform: uppercase;
	          letter-spacing: 1px;
	          &:hover {
	          	text-decoration: underline;
	          }
	        }
	      }
	      .child {
	      	list-style-type: none;
	        margin: 0;
	        padding: 0;
	      	li {
	      	  padding-bottom: 0;
	      	  line-height: ( $line-height-base * 1.4 );
	      	  &:first-of-type {
	      	  	padding-top: $padding-large-vertical;
	      	  }
	          a {
	            color: $color-white;
	            text-transform: inherit;
	            font-family: $font-family-sans-serif;
	            font-size: $font-size-base;
	            letter-spacing: 0;
	            padding-bottom: $padding-large-vertical;
	            &:hover {
	              text-decoration: underline;
	            }
	            &:before {
	              content: '+';
	              color: $color-yellow-nav;
	              font-family: $headings-font-family-regular;
	              width: 20px;
	              display: inline-block;
	            }
	          }
	      	}
	      }
	    }

	    .last-col {
	      @include flex-basis(70%);
	      @media #{$mobileOnly} {
            margin: 0 auto;
	      }
	      @media #{$tabletAndUp} {
            @include flex-basis(25%);
	      }

          // Sign up form
          form {
            table {
              width: 80%;
              td {
              	border: 0;
              	input[type="submit"] {
                  height: 50px;
                  width: 55px;
                  border: 0;
                  background: $color-yellow-nav;
                  color:$color-white;
                  font-family: $font-family-sans-serif-bold;
                  margin-left: $padding-small-vertical;
                  width: 100%;
                  &:hover {
                  	background-color: darken($color-yellow-nav, 15%);
                  }
                }
                input[type="text"] {
                  height: 50px;
                  border: 0;
                  width: 100%;
                  padding: ($padding-large-vertical * 1.5) 0 ($padding-large-vertical * 1.5) ( $padding-small-horizontal * 2);

                  &::-webkit-input-placeholder,
                  &::-moz-placeholder,
                  &:-ms-input-placeholder,
                  &:-moz-placeholder {
                  	color: $gray-custom;
                  }

                }

              }
              tr:first-of-type {
              	&:first-of-type {
              		width: 80%;
              	}
              	&:last-of-type {
              		width: 20%;

              	}
              }

            }
          }

          table.gdpr-opt-in {
          	color: $color-white;
          	font-size: $font-size-smaller;
          	input {
          		color: $gray-darker;
          	}
          }

          ul {
          	list-style-type: none;
	        padding: 0;
	        margin-bottom: 0;
          	li.menu-parent-item {
              font-family: $headings-font-family-regular;
	          color: $color-white;
	          font-size: $font-size-small;
	          text-transform: uppercase;
	          span {
	          	line-height: ( $line-height-base * 0.9 );
	          	display: inline-block;
	          	padding-top: $padding-small-vertical;
	          	letter-spacing: 1px;
	          }
          	}

          	ul {
	      	  list-style-type: none;
	          margin: 0;
	          padding: $padding-large-vertical 0 0 0;
	      	  li {
	      	    color: $color-white;
	            text-transform: capitalize;
	            font-family: $font-family-sans-serif;
	            font-size: $font-size-base;
	            line-height: ( $line-height-base * 1.6 );

		        &:nth-of-type(2) {
		          span {
		            position: relative;
		          	top: 2px;
		          	font-family: $font-family-sans-serif-bold;
		          	letter-spacing: 0
		          }
		        }

		        &:last-of-type {
		          padding: $padding-large-vertical 0 0 0;
                  height: 50px;
                  display: inline-block;
                  width: 100%;
		        }

		        @media #{$tabletAndUp} {
                  line-height: ( $line-height-base * 1.1 );
                  padding-bottom: $padding-large-vertical * 1.5;
		        }

	            @media #{$wide} {
                  padding-bottom: 0;
                  line-height: ( $line-height-base * 1.6 );
	            }

	      	    &:before {
	              content: '';
	            }
	            &.menu-parent-item {
                  padding: ( $padding-large-vertical * 1.5 ) 0 ( $padding-large-vertical * 2 );
                  height: auto;
                  letter-spacing: 1px;
	            }
	            &.social {
	              a {
	              	width: 20px;
	              	display: inline-block;
	              	&.facebook {
	              	  width: 20px;
	              	  text-align: center;
	                }
	                &.instagram {
	              	  width: 25px;
	                }
	              }
	            }
	      	    a {
                  color: $color-white;
	              text-transform: capitalize;
	              font-family: $font-family-sans-serif;
	              font-size: $font-size-smaller;
	              position: relative;
	              top: -2px;
	              &:hover {
	                text-decoration: underline;
	              }
	              span {
	              	text-transform: lowercase;
                    font-size: $font-size-base;
	              }
	      	    }
	      	  }
	        }
          }
	    }
	}
  }

  .bottom {
  	/*width: 100%;*/
  	@include full-width-elem;
  	background-color: $gray-dark;
  	padding-bottom: ( $padding-large-vertical * 9 );

  	@media #{$tabletAndUp} {
	  padding-bottom: 0;
    }

  	.inner {
	  @include display-flex(flex);
	  @include flex-wrap(wrap);

	  ul {
	    margin: 0;
	    list-style-type: none;
	    padding: ( $padding-large-vertical * 2 ) 0;
	    @include flex-basis(100%);
	    text-align: center;

	    @media #{$tabletAndUp} {
          text-align: left;
          flex-basis: auto;
	    }

	    &:first-of-type {
	      @media #{$desktopAndUp} {
	      @include flex-basis(75%);
	      }
	    }
	    &:last-of-type {
	      text-align: center;
	      @media #{$tabletAndUp} {
             text-align: right;
	      }

	      @media #{$desktopAndUp} {
	      @include flex-basis(25%);
	      }

	    }
	    li {
	      display: block;
	      font-size: $font-size-small;
	      color: $color-white;

	       @media #{$tabletAndUp} {
             display: inline;
             &:first-of-type {
	          &:after {
	      	    content: ' . ';
	      	    display: inline-block;
	      	    width: 20px;
	      	    text-align: center;
	      	    position: relative;
                top: -4px;
                left: 2px;
	      	  }
	        }
	      }

	      a {
	        font-size: inherit;
	      	color: inherit;
	      	&:hover {
	      		text-decoration: underline;
	      	}
	      }
	    }
	  }
	}
  }
}
