.navbar-default {
  position: relative;
  .region-navigation {
    width: 100%;
    @include display-flex(flex);
    @include flex-wrap(wrap);

    @media #{$desktopAndUp} {
      @include flex-wrap(nowrap);
    }

	.logo-site-name-main-menu {
	  @include flex-basis(100%);

	  @media #{$desktopAndUp} {
	    @include flex-basis(88%);
		@include display-flex(flex);
		@include align-items(center);
	  }

	   @media #{$wide} {
         @include flex-basis(75%);
	   }

	  .logo-site-name {

	    @media #{$desktopAndUp} {

	      @include display-flex(flex);
		  @include align-items(center);
	    }

	   }

	   .logo-switcher {
          @include display-flex(flex);
		  @include align-items(center);
		  @include flex-wrap(nowrap);

		  .language {
		  	@include display-flex(flex);


            a.active {
              color: $color-yellow-nav;

              &:after {
              	color: $color-white;
              }
            }

		  	> a {
              color: $color-white;
              font-family: $headings-font-family-regular;
              font-size: $font-size-smaller;
              text-transform: uppercase;
              letter-spacing: 1px;
              line-height: normal;
              position: relative;
              padding: 0 10.75%;
              min-width: 40px;

              &:hover {
                &:first-of-type {
                  &:after {
                  	color: $color-white;
                  }
                }
              }


              &:hover {
              	color: $color-yellow-nav;
              }

               @media #{$tabletOnly} {
                 font-size: 11px
               }
		  	}

		  	span{
              color: $color-white;
              font-family: $headings-font-family-regular;
              font-size: $font-size-smaller;
              text-transform: uppercase;
              letter-spacing: 1px;
              line-height: normal;
              position: relative;
		  	}
		  }
	   }

	   /*.block-we-megamenu*/
	   .navbar-we-mega-menu {

		 @media #{$desktopAndUp} {
		   flex: 2;
		   @include display-flex(flex);
		   @include align-items(center);
		   }
		 }
	  }

    .phone-enquire {
      z-index: 1000;
      @include flex-basis(100%);

      @media #{$desktopAndUp} {
        @include flex-basis(12%);
        @include display-flex(flex);

        > * {
         @include display-flex(flex);
         @include align-items(center);
         flex: 1;

         > * {
           @include display-flex(flex);
           @include align-items(center);
        	 flex: 1;

        	   > * {
        	  	  flex: 1;
        	   }
          }
        }
      }

      @media #{$wide} {
        @include flex-basis(25%);
      }
    }

  }
}

.navbar-default {
  background: $gray-darker;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}


/* TEMP */

#block-cazloyd-account-menu {
	display: none;
}
