.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.list-inline {
  &.local-actions {
    background: $background-panel-color;
    margin: ( $padding-large-vertical ) 0;
    border: 0;
    margin: 0;
    li {
      a {
        color: $gray-darker;
        border: 1px solid $background-panel-color;
        margin: 5px;
        @extend .transition-bkg;
        &:hover {
          background: $brand-primary;
          color: $color-white; 
        }
      }
    }
  }
}

// SEARCH 
.search-page-results {
  padding: 0;

  .search-page-form {
    margin: ($padding-large-vertical * 4) 0;

    input.form-search {
      min-height: 59px;
      border-radius: 0;
    }

    .form-submit {
      &:after {
        content: "";
      }
    }
  }

  .alert-danger {
    margin-top: ($padding-large-vertical * 2);
    border-radius: 0;
    background: none;
    color: $gray-darker;
    border-color: $brand-primary;
  }

  > .row {
  
  @media #{$desktopAndUp} {
    width: 70%;
    margin: 0 auto;
  }

    h2 {
      margin: ($padding-large-vertical * 2) 0 ($padding-large-vertical * 5) 0;
      text-align: center;
    }

    ol, ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      li {
        padding-bottom: $padding-large-vertical * 4;

        &:before {
          content: "+";
          display: inline-block;
          padding-right: $padding-small-vertical;
          color: $gray-darker;
        }
        
        h3 {
          display: inline;
          a {
            color: $gray-darker;
            font-size: $font-size-small;
            font-family: $headings-font-family-regular;
          }
        }

        p {
          margin: $padding-small-vertical 0 0 0;
        }
        
      }
    }

  }
}
