article {
  /* Croppable Image Field */
  .image-banner-wrapper {
    
    &.mobile {
      @media #{$tabletAndUp} {
        @include element-invisible;
        opacity: 0;
      }
    }

    &.desktop {
      @media #{$untilTablet} {
        img {
          opacity: 0;
        }
      }
    }
    

    .image-banner-wrapper-inner {
      overflow: hidden;
      @include full-width-elem;
      @include display-flex;
      .field--name-field-croppable-image {
        width: 100%;
        > * {
          width: 100%;
        }
      }
      .image-100, .banner {
        width: 100%;
        > * {
          width: 100%;
        }
      }
    }
  } 
  .image-tiles {
    @include full-width-elem;
    .image-tiles-inner { 
      width: 100%;
      .image-banner-wrapper {
        @include display-flex;

        /* Croppable Image Field */
        .field--name-field-croppable-image {
	      @include full-width-elem;
	      > * {
	        width: 100%;
	      }
	    }
      .image-banner-wrapper-inner {
        overflow: hidden;
	      /* Banner Image Field - e.g Region Landing Page */
        @include flex-wrap(wrap);

        @media #{$tabletAndUp} {
          @include flex-wrap(nowrap);
        }

        .banner {
          &.image-50 {
            @include aspect-ratio(4, 3);
            float: left;
            overflow: hidden;
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content(center);
            width: 100%;
            
            @media #{$tabletAndUp} {
              width: calc(50% - 5px / 2);
            }

            &:before {
              padding-top: 71%;
            }
            > img {
              width: 100%;
              @extend .zoom-img;
            }
            /* Region Title */
            span {
              position: absolute;
              width: 100%;
              text-align: center;
              font-family: $headings-font-family-extralight;
              text-transform: uppercase;
              width: 70%;
              color: $color-white;
              z-index: 2;
              letter-spacing: 2px;
              @extend .font-size-on-banner-region;
            }
            + .other-wrapper-half {
              background: $color-white;
              float: left;
              
              z-index: 2;
              position: relative;
              outline: 5px solid $color-white;
              width: 100%;

              @media #{$tabletAndUp} {
                width: calc(50% - 5px / 2);
                margin-left: $padding-xs-horizontal;
              }

              .image-12-5 {
                width: calc(50% - 5px / 2);
                float: left;
                position: relative;
                overflow: hidden;
                /*height: calc(50%);*/ 
              }
              .image-12-5 {
                &:first-of-type {
                  margin-right: 5px;
                }
               }
               .image-25 {
                 &:before {
                   content: " ";
                   display: table;
                   clear: both;
                   padding-top: 5px;
                 }
                 > img {
                   width: 100%;
                 }
                }
              } 
            }
          }
        }
      }
    }
  }
}

/* For the Image & Wysiwyg link paragraph */
.paragraph--type--image-wysiwyg-and-link {
  .image-banner-wrapper {
    .image-banner-wrapper-inner {
      overflow: hidden;
      @include full-width-elem;
      @include display-flex;
      div {
        width: 100%;
        &:after {
          content: "";
          @extend .img-overlay;
        }
        > img {
          width: inherit;
        }
      }
    }
  } 
}

/* For the image + wysiwyg link paragraph content */
article {
  .image-banner-wrapper {
    position: relative;
    z-index: 1;
    .image-banner-wrapper-inner {
      @include full-width-elem;
      @include display-flex;
      > * {
        width: 100%;
      }
      > .seats-remaining {
        @include display-flex(flex); 
        width: 139px;
        @media #{$tabletAndUp} {
          width: 159px;
        }
        
      }
      .field--item {
        > img {
          width: 100%;
        }
      }
      /* For the Blog Story pages (blog post) */
      > img {
        width: 100%;
      }
    }
  }
  &.page {
    .paragraph--type--image-wysiwyg-and-link {
      .field--name-field-wysiwyg-text {
        p:first-of-type {
          font-family: $headings-font-family-regular;
          font-size: $font-size-base;
          letter-spacing: 1px;
          opacity: .7;
          color: inherit;
        }
        p:nth-of-type(2) {
          font-family: $headings-font-family;
          @include font-size(3);
          @media #{$desktopAndUp} {
            font-size: ( $font-size-smaller * 4 );
          }
        }
      }
    }
  }
}









