.field--name-field-author {
  width: 100%;
  text-align: center;
  a {
  	color: $gray-custom;
  	font-weight:$font-pn-proxima-semi-bold;
  	font-size: $font-size-small;
  	padding: 0 0 ( $padding-large-vertical * 3 ) 0;
  	display: block;
  	&:before {
  	  content: "Written by";
      padding-right: 5px;
      display: inline-block;
  	}
  }
}