.image-h1-wrapper {
  	position: relative;

  	.h1-wrapper {
  	  @include display-flex;
  	  @include justify-content(center);
  	  @include align-items(center);
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      width: 100%;
      /* For blog stories */
      &.not-absolute {
        position: relative;
      }

      h1 {
        text-align: center;
        color: $color-white;
        font-family: $headings-font-family-extralight;
        @extend .font-size-on-banner;
        /* For blog stories */
        &.no-shadow {
          text-shadow: none;
        }
        &.blog-title {
          margin-top: 0;
          margin: ($padding-large-vertical) 0 0 0;
          color: $gray-darker;
          line-height: ($line-height-base * 0.5);
          width: 60%;
          span {
            display: inline;
            @media #{$tabletAndUp} {
              @include font-size(2.5);
            }
          }
        }
        @media #{$desktopAndUp} {
          width: 70%;
          margin: 0 auto;
        }
        @media #{$wide} {
          width: 100%;
        }
        span:first-of-type {
          > * {
            font-size: $font-size-smaller;
            line-height: ( $line-height-base * 1.4 );
            letter-spacing: 1px;
            font-family: $heading-panels-font-family;
            color: $color-white;
            opacity: .8;
          }
        }
        span {
          display: inline;
          @extend .font-size-on-banner;

          .field--name-field-region {
            a {
              color: $color-white;
            }
          }
        }
      }

      .field--name-field-link {
        background-color: $gray-darker;
        a {
          @extend .btn;
          // Overwriting the default padding as needs to be different 
          padding-left: $padding-small-horizontal * 5;
          padding-right: $padding-small-horizontal * 5 ;
          color: $color-white;
          &:hover {
            &:after {
              @extend .move-right;
            }
          }
        }
      }
      > .field--name-field-link { 
        margin-top: ( $padding-large-vertical * 2 );
      }
    }
  }

// Pierrick: clipping this as this should not show up in the re in anyway
.field--name-field-show-title {
  @include element-invisible
}
  
// On homepage, we need a + and a scale effect when hover
.path-frontpage {
  .image-h1-wrapper {
    .h1-wrapper {
      .field--name-field-link {
        cursor: pointer;
        a {
          padding: ( $padding-small-horizontal * 2.5) ( $padding-large-vertical * 5 );
          &:after {
            content:"\2b";
            font-size: $font-size-smaller / 1.2;
            position: relative;
            top: -1px;
          }
          &:hover {
            color: $color-white;
            background: darken($brand-primary, 15%);
          }
        }
      }
    }
  }
}

// Meet the team
.content-meet-the-team {

  .image-h1-wrapper .h1-wrapper h1 {
    @include font-size(4);
  }

}



