{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% set linkurl %}
    {{ content.field_link_url }}
{% endset %}

{% block paragraph %}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
   
  <div class="subtitle-title-desc-wrap clear call-to-action-wrap anything-like">
    
    <div class="row">
      <h3 class="site-section-title-small center-block text-center">Do you see</h3>
      <h3 class="site-section-title-small center-block text-center">anything you like?</h3>
      <div class="summary center-block text-center">
          Every holiday we create is individually designed and tailored exactly to you.
      </div>
    </div>

    <div class="row center-block text-center">
      <div class="link-cta center-block text-center">
        <div>
            {% if 'en-US' not in cazloyd_url_language %}
                <a href="/form/enquire">ENQUIRE</a>
            {% else %}
                <a href="/en-US/form/enquire">INQUIRE</a>
            {% endif %}
        </div>
      </div>
    </div>

  </div>        

   {% endblock %}
</div>
{% endblock paragraph %}