<!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head>
    <meta charset="utf-8">
    <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width">
    <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
    <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <!-- The title tag shows in email notifications, like Android 4.4. -->
    <!-- Web Font / @font-face : BEGIN -->
    <!-- NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. -->
    <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
    <!--[if mso]>
    <style>
        * {
            font-family: sans-serif !important;
        }
    </style>
    <![endif]-->
    <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
    <!--[if !mso]><!-->
    <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
    <!--<![endif]-->
    <!-- Web Font / @font-face : END -->
    <!-- CSS Reset : BEGIN -->
    <style>
        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }
        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }
        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }
        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
            border:none!important;
            border:0!important;
        }
        table table table {
            table-layout: auto;
        }
        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode:bicubic;
        }
        /* What it does: A work-around for email clients meddling in triggered links. */
        *[x-apple-data-detectors],  /* iOS */
        .x-gmail-data-detectors,    /* Gmail */
        .x-gmail-data-detectors *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
        /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }
        /* If the above doesn't work, add a .g-img class to any image in question. */
        img.g-img + div {
            display: none !important;
        }
        /* What it does: Prevents underlining the button text in Windows 10 */
        .button-link {
            text-decoration: none !important;
        }
        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */
        /* Thanks to Eric Lepetit @ericlepetitsf) for help troubleshooting */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
            .email-container {
                min-width: 375px !important;
            }
        }
        /* What it does: Forces Gmail app to display email full width */
        div > u ~ div .gmail {
            min-width: 100vw;
        }
    </style>
    <!-- CSS Reset : END -->
    <!-- Progressive Enhancements : BEGIN -->
    <style>
        /* What it does: Hover styles for buttons */
        .button-td,
        .button-a {
            transition: all 100ms ease-in;
        }
        .button-td:hover,
        .button-a:hover {
            background: #D1EBEB !important;
            border-color: #D1EBEB !important;
        }
        /* Media Queries */
        @media screen and (max-width: 680px) {
            /* What it does: Forces elements to resize to the full width of their container. Useful for resizing images beyond their max-width. */
            .fluid {
                width: 100% !important;
                max-width: 100% !important;
                min-width: 100%!important;
                height: auto !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
            /* What it does: Forces table cells into full-width rows. */
            .stack-column,
            .stack-column-center {
                display: block !important;
                width: 100% !important;
                min-width: 100%!important;
                max-width: 100% !important;
                direction: ltr !important;
                height: auto!important;
            }
            /* And center justify these ones. */
            .stack-column-center {
                text-align: center !important;
            }
            .stack-image{
                max-width: 100% !important;
                height: auto!important;
            }
            .stack-image-half{
                max-width: 50% !important;
                height: auto!important;
            }
            .stack-background{
                background-color: #D1EBEB;
            }
            /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
            .center-on-narrow {
                text-align: center !important;
                display: block !important;
                margin-left: auto !important;
                margin-right: auto !important;
                float: none !important;
            }
            table.center-on-narrow {
                display: inline-block !important;
            }
            /* What it does: Adjust typography on small screens to improve readability */
            .email-container p {
                line-height: initial;
            }
            table h1 {
                font-size: 35px!important;
                line-height: 40px!important;
                margin-top: 0px!important;
            }
        }
    </style>
    <!-- Progressive Enhancements : END -->

    <!-- What it does: Makes background images in 72ppi Outlook render at correct size. -->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

</head>
<body width="100%" bgcolor="#ffffff" style="margin: 0; mso-line-height-rule: exactly;">
<center style="width: 100%; background: #ffffff; text-align: left;">

    <!-- Visually Hidden Preheader Text : BEGIN -->
    <div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
        (Optional) This text will appear in the inbox preview, but not the email body. It can be used to supplement the email subject line or even summarize the email's contents. Extended text preheaders (~490 characters) seems like a better UX for anyone using a screenreader or voice-command apps like Siri to dictate the contents of an email. If this text is not included, email clients will automatically populate it using the text (including image alt text) at the start of the email's body.
    </div>
    <!-- Visually Hidden Preheader Text : END -->

    <!--
        Set the email width. Defined in two places:
        1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 680px.
        2. MSO tags for Desktop Windows Outlook enforce a 680px width.
        Note: The Fluid and Responsive templates have a different width (600px). The hybrid grid is more "fragile", and I've found that 680px is a good width. Change with caution.
    -->
    <div style="max-width: 680px; margin: auto;" class="email-container">
        <!--[if mso]>
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
                <td>
        <![endif]-->

        <!-- Email Header : BEGIN -->
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
            <!-- 3 Even Columns : BEGIN -->
            <tr>
                <td bgcolor="#151515" align="center" height="100%" valign="top" width="100%" >
                    <!--[if mso]>
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                        <tr>
                            <td align="center" valign="top" width="660">
                    <![endif]-->
                    <table bgcolor="#151515" role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:680px;">
                        <tr>
                            <td align="center" valign="top" style="font-size:0;">
                                <!--[if mso]>
                                <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="680">
                                    <tr>
                                        <td align="left" valign="top" width="180">
                                <![endif]-->
                                <div style="display:inline-block; max-width:180px;vertical-align:middle; width:100%;" class="stack-column">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" >
                                        <tr>
                                            <td height="75">
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                    <tr>
                                                        <td style=" text-align: center;padding: 10px 10px;">
                                                            <a href="http://www.google.com" style=" text-decoration: none;">
                                                                <img src="http://placehold.it/160x50" width="160" height="50" alt="alt_text" border="0" style="height: 50px;max-width: 160px; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if mso]>
                                </td>
                                <td align="left" valign="top" width="360">
                                <![endif]-->
                                <div style="display:inline-block; max-width:360px; vertical-align:middle; width:100%;" class="stack-column">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td height="75">
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                    <tr>
                                                        <td style="text-align:center;padding: 10px 0px;color:#ffffff;">

                                                            <a href="http://www.google.com" style="font-family: Arial; font-size: 12px; line-height: 110%; text-align: center; text-decoration: none;  font-weight: bold;color: #ffffff;display:inline-block;letter-spacing: 1px">DESTINATIONS
                                                            </a>
                                                            &nbsp;&nbsp;
                                                            &nbsp;&nbsp;
                                                            <a href="http://www.google.com" style="font-family: Arial; font-size: 12px; line-height: 110%; text-align: center; text-decoration: none;  font-weight: bold;color: #ffffff;display:inline-block;letter-spacing: 1px">BE INSPIRED
                                                            </a>
                                                            &nbsp;&nbsp;
                                                            &nbsp;&nbsp;
                                                            <a href="http://www.google.com" style="font-family: Arial; font-size: 12px; line-height: 110%; text-align: center; text-decoration: none;  font-weight: bold;color: #ffffff;display:inline-block;letter-spacing: 1px">MAGAZINE
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if mso]>
                                </td>
                                <td align="left" valign="top" width="140" >
                                <![endif]-->
                                <div style="display:inline-block; max-width:140px; vertical-align:middle; width:100%;" class="stack-column">
                                    <table bgcolor="#ED2677" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td height="75">
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;color:#ffffff">
                                                    <tr>
                                                        <td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;text-align:center; padding: 10px 10px;" class="center-on-narrow">
                                                            <a href="tel:+442073842332" style="font-family: Arial; font-size: 12px; line-height: 110%; text-align: center; text-decoration: none;  font-weight: bold;color: #ffffff">+44 (0)20 7384 2332</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if mso]>
                                </td>
                                </tr>
                                </table>
                                <![endif]-->
                            </td>
                        </tr>
                    </table>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
            <!-- 3 Even Columns : END -->
        </table>
        <!-- Email Header : END -->

        <!-- Email Body : BEGIN -->
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">

            <!-- Hero Image, Flush : BEGIN -->
            <tr>
                <td bgcolor="#ffffff" align="center">
                    <img src="http://placehold.it/680x360" width="680" height="" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 680px; height: 360px; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="fluid g-img">
                </td>
            </tr>
            <!-- Hero Image, Flush : END -->


            <!-- Background Image with Text : BEGIN -->
            <tr>
                <td bgcolor="#ffffff" valign="middle" style="text-align: center;">
                    <!--[if mso]>
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                        <tr>
                            <td align="center" valign="top" width="660">
                    <![endif]-->
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px; margin: auto;" class="stack-column-center">
                        <tr>
                            <td style="padding:40px 10px">
                                <table>
                                    <tr>
                                        <td valign="middle" style="text-align: center;line-height: 140%; color: #151515;max-width:515px" class="stack-column-center">
                                            <h1 style="margin-bottom: 20px;font-family: sans-serif; font-size: 25px; font-weight: 400;line-height: 140%;text-transform: uppercase;letter-spacing: 3px ">thank you for<br/> your enquiry</h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="middle" style="text-align: center; font-family: Arial; font-size: 15px; line-height: 160%; color: #878787;max-width:515px" class="stack-column-center">
                                            <p style="margin-bottom: 30px;">cazenove+loyd has been crafting extraordinary once-in-a-lifetime holidays for discerning travellers for over 20 years. Every tailor-made holiday we create is as individual as the person we create it for. That is because we invest in our knowledge of our destinations and give our destination experts the time to get to know what every client is looking for.
                                            </p>
                                            <p style="margin:0">
                                                Your enquiry has now been passed onto one of our Central+South America Destination Experts, who will be in touch shortly to help start planning your next extraordinary holiday.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                                            <!-- Button : BEGIN -->
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                                <tbody>
                                                <tr>
                                                    <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                                                        <a href="http://www.google.com" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 12px; line-height: 110%; text-align: center; text-decoration: none; display: block; letter-spacing: 1px;padding: 0 15px" class="button-a">
                                                            <span style="color:#ffffff;text-transform: uppercase" class="button-link">about the team +</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- Button : END -->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->

                </td>
            </tr>
            <!-- Background Image with Text : END -->

            <tr>
                <td bgcolor="#F1F2F6" align="center" style="padding: 40px 0">
                    <table>
                        <tr>
                            <td style="text-align:center;padding:10px">
                                <img src="curious.png" width="284" height="46" border="0" align="center" style="width: 100%; max-width: 284px; height: 46px; background-color: : #F1F2F6; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="fluid g-img">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;padding:10px">
                                <p style="margin: 0;text-transform: uppercase; color: #989898;font-size:12px;letter-spacing: 1px;font-family: Arial;font-weight: bold">travel insights & expert's experiences</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- 2 Even Columns : BEGIN -->
            <tr>
                <td bgcolor="#F1F2F6" align="center" height="100%" valign="top" width="100%">
                    <!--[if mso]>
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                        <tr>
                            <td align="center" valign="top" width="660">
                    <![endif]-->
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
                        <tr>
                            <td align="center" valign="top" style="font-size:0;padding:10px 0">
                                <!--[if mso]>
                                <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                    <tr>
                                        <td align="left" valign="top" width="330">
                                <![endif]-->
                                <div style="display:inline-block; width:100%; max-width:330px; vertical-align:" class="stack-column">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding: 0 2px">
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                    <tr>
                                                        <td style="border-bottom:3px solid #000000">
                                                            <a href="www.google.com" style="text-decoration: none">
                                                                <img src="http://placehold.it/326" width="326" height="326" border="0" alt="alt_text" class="stack-image" style="width: 100%; max-width: 326px; height: 326px; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;display: block">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td bgcolor="#ffffff" style="font-family: Arial; font-size: 14px; line-height: 140%; color: #151515;letter-spacing:1px;height: 100px;display: block" class="stack-column-center" height="60" valign="top">
                                                            <a href="www.google.com" style="text-decoration: none;color: #151515;">
                                                                <p style="margin: 0;text-transform: uppercase;height:60px;line-height:140%;padding:20px">+  WHY LATIN AMERICA IS THE PERFECT CHOICE FOR YOUR HONEYMOON<br/></p>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if mso]>
                                </td>
                                <td align="left" valign="top" width="330">
                                <![endif]-->
                                <div style="display:inline-block; width:100%; max-width:330px; vertical-align:" class="stack-column">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding: 0 2px">
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                    <tr>
                                                        <td style="border-bottom:3px solid #000000">
                                                            <a href="www.google.com" style="text-decoration: none">
                                                                <img src="http://placehold.it/326" width="326" height="326" border="0" alt="alt_text" class="stack-image" style="width: 100%; max-width: 326px; height: 326px; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;display: block">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td bgcolor="#ffffff" style="font-family: Arial; font-size: 14px; line-height: 140%; color: #151515;letter-spacing:1px;height: 100px;display: block" class="stack-column-center" height="60" valign="top">
                                                            <a href="www.google.com" style="text-decoration: none;color: #151515;">
                                                                <p style="margin: 0;text-transform: uppercase;height:60px;line-height:140%;padding:20px">+  24 HOURS IN BUENOS AIRES<br/></p>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if mso]>
                                </td>
                                </tr>
                                </table>
                                <![endif]-->
                            </td>
                        </tr>
                    </table>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
            <!-- 2 Even Columns : END -->

            <tr>
                <td bgcolor="#F1F2F6" align="center" style="padding: 40px 0">
                    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="225px">
                        <tr>
                            <td style="text-align:center;" width="200" valign="middle">
                                <p style="margin: 0;text-transform: uppercase; color: #151515;font-size:14px;letter-spacing: 1px;font-family: Arial;font-weight: bold"><a href="www.google.com" style="text-decoration: none;color: #151515">MORE INSPIRATION</a></p>
                            </td>
                            <td style="text-align:center;" valign="middle">
                                <a href="www.google.com" style="text-decoration: none;color: #151515">
                                    <img src="arrow.svg" width="25" height="" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 25px; background: #F1F2F6; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- 1 Column Text : BEGIN -->
            <tr>
                <td bgcolor="#ffffff">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="300" align="right">
                        <tr>
                            <td align="right" style="padding: 40px; font-family: arial; font-size: 16px; line-height: 140%; color: #151515;font-weight: bold" width="210" valign="middle">
                                <p style="margin: 0">Find us there too</p>
                            </td>
                            <td style="text-align:center;" width="30" valign="middle">
                                <a href="www.google.com" style="text-decoration: none">
                                    <img src="black-facebook.svg" width="15" height="46" border="0" align="center" style="width: 100%; max-width: 10px; height: 46px; background-color: : #ffffff; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="fluid g-img">
                                </a>
                            </td>
                            <td style="text-align:center;" width="35" valign="middle">
                                <a href="www.google.com" style="text-decoration: none">
                                    <img src="black-twitter.svg" width="25" height="46" border="0" align="center" style="width: 100%; max-width: 25px; height: 46px; background-color: : #ffffff; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="fluid g-img">
                                </a>
                            </td>
                            <td style="text-align:center;" width="35" valign="middle">
                                <a href="www.google.com" style="text-decoration: none">
                                    <img src="black-youtube.svg" width="25" height="46" border="0" align="center" style="width: 100%; max-width: 25px; height: 46px; background-color: : #ffffff; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="fluid g-img">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- 1 Column Text : END -->

            <!-- Hero Image, Flush : BEGIN -->
            <tr>
                <td bgcolor="#ffffff" align="center" style="padding-bottom:40px">
                    <a href="www.google.com" style="text-decoration:none">
                        <img src="social-footer.png" width="660" height="385" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 660px; height: 385px; background: #ffffff; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="fluid g-img">
                    </a>
                </td>
            </tr>
            <!-- Hero Image, Flush : END -->




        </table>
        <!-- Email Body : END -->

        <!-- Email Footer : BEGIN -->
        <table bgcolor="#151515" role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; font-family: sans-serif; color: #888888; font-size: 12px; line-height: 140%;">
            <tr>
                <td style="text-align:center;padding:40px 10px">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td style="padding: 0 0 30px 0;text-align:center">
                                <img src="atol.png" width="55" height="55" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 55px; height: 55px; background: #151515; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none;  font-weight: bold;color: #ffffff;letter-spacing: 1px">GET IN TOUCH</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none;color: #ffffff;letter-spacing: 1px">Call us on <a href="tel:+442073842332" style="color: #ffffff;text-decoration: none; font-weight: bold">+44 (0)20 7384 2332</a></p>
                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none;  ;color: #ffffff;letter-spacing: 1px">Email us on <a href="mailto:ENQUIRIES@CAZLOYD.COM" style="color: #ffffff;text-decoration: none; font-weight: bold">ENQUIRIES@CAZLOYD.COM</a></p>
                                <div>
                                    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="260px">
                                        <tr>
                                            <td valign="middle" width="80">
                                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none;color: #ffffff;letter-spacing: 1px">Find us on </p>
                                            </td>
                                            <td valign="middle" width="25">
                                                <a href="www.google.com" style="text-decoration: none">
                                                    <img src="white-facebook.svg" width="10" height="20" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 10px;height: 20px;  background: #151515; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="">
                                                </a>
                                            </td>
                                            <td valign="middle" width="25">
                                                <a href="www.google.com" style="text-decoration: none">
                                                    <img src="white-twitter.svg" width="25" height="20" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 25px; height: 20px;  background: #151515; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="">
                                                </a>
                                            </td>
                                            <td valign="middle" width="25">
                                                <a href="www.google.com" style="text-decoration: none">
                                                    <img src="white-instagram.svg" width="20" height="20" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 20px; height: 20px;  background: #151515; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="">
                                                </a>
                                            </td>
                                            <td valign="middle" width="35">
                                                <a href="www.google.com" style="text-decoration: none">
                                                    <img src="white-youtube.svg" width="30" height="20" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 30px; height: 20px;  background: #151515; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 0">
                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none;  ;color: #ffffff;letter-spacing: 1px">
                                    cazenove+loyd Limited</p>
                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none; ;color: #ffffff;letter-spacing: 1px">Argon Mews, Fulham Broadway, London SW6 1BJ.</p>
                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none;  ;color: #ffffff;letter-spacing: 1px">Registered No. 2702869, ATOL No. 3208 </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px 0">
                                <p style="font-family: Arial; font-size: 14px; line-height: 140%; text-align: center; text-decoration: none;  ;color: #ffffff;letter-spacing: 1px"><a href="" style="color: #ffffff;text-decoration: underline; font-weight: bold">Unsubscribe</a></p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- Email Footer : END -->

        <!--[if mso]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>



</center>
</body>
</html>