<style>
    .divTable{
        display: block;
        width: 100%;
        /*border:red 1px solid;*/
    }
    .divTableRow {
        display: block;

    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }
    .divTableCell, .divTableHead {
        /*border: 1px solid #999999;*/
        display: block;
        float:left;
        padding: 5px;
        margin-right: 2px;
        font-size:14px;
        font-family: Arial;
        width:100%;
        /*border:green 1px solid;*/
    }
    .divTableCellLine{
        border-bottom: solid 1px #0a001f;
        font-family: Arial;
    }
    .divTableHeading {
        /*background-color: #EEE;*/
        display: table-header-group;
        font-weight: bold;
    }
    .divTableFoot {
        /*background-color: #EEE;*/
        display: table-footer-group;
        font-weight: bold;
    }
    .divTableBody {
        display: block;
    }
    .cols2{
        width: 100%;
        display:block;
    }
    .blobtext{
        font-size:12px;
    }
    .headerText{
        font-weight: bold;
        font-size: 16px;
    }
    .majorHeaderText{
        font-weight:bolder;
        font-size: 20px;
    }
    .userValueText{
        color: darkblue;
        margin-left:15px;
        margin-bottom:10px;
    }
</style>
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell headerText">Submitted on</div>
            {#<div class="divTableCell userValueText">{{webform_submission.created}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Submitted by</div>
            {#<div class="divTableCellLine userValueText">{{webform_submission.user}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">I would like to</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.i_would_like_to}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Small Travel Group selected</div>
            {#<div class="divTableCell userValueText">{{dump(webform_submission.values.hidden_field_selected_small_group)}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">How many people will be travelling?</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.num_ppl_that_are_travelling}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Tell us more about the holiday you want</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.about_the_holiday_you_want}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Where would you like to go?</div>
            {#<div class="divTableCell userValueText">{{dump(webform_submission.values.region_buttons)}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Which of our destinations would you like to visit (AFRICA)</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.which_destination_africa}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Which of our destinations would you like to visit (ASIA)</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.which_destination_asia}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Which of our destinations would you like to visit (AMERICAS)</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.which_destination_central_america}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">When would you like to travel?</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.when_would_you_like_to_travel_}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">How many people will be travelling?</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.how_many_people_will_be_travelling_}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Length of your trip</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.length_of_your_trip}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell cols2 headerText">Tell us more about the holiday you want</div>
        </div>
        <div class="divTableRow">
            {#<div class="divTableCell cols2 blobtext userValueText">{{webform_submission.values.tell_us_more_about_the_holiday_you_want}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCellLine cols2 majorHeaderText">Contact Details</div>
        </div>
        <div class="divTableRow"><!-- [webform_submission:values:?] -->
            <div class="divTableCell headerText">First name</div>
            <div class="divTableCell userValueText">1. {{first_name}}</div>
            <div class="divTableCell userValueText">2. {{submission.first_name}}</div>
            <div class="divTableCell userValueText">3. {{submission.values.first_name}}</div>
            <div class="divTableCell userValueText">4. {{submission['first_name']}}</div>
            <div class="divTableCell userValueText">5. {{webform_submission.values.first_name}}</div>
            <div class="divTableCell userValueText">6. {{webform_submission['first_name']}}</div>
            <div class="divTableCell userValueText">7. {{items.first_name}}</div>
            <div class="divTableCell userValueText">8. {{element.elements.first_name}}</div>
            <div class="divTableCell userValueText">9. {{webform_submission.first_name}}</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Last name</div>
            <div class="divTableCell userValueText">{{element.elements.last_name}}</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Telephone number</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.telephone_number}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Email address</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.email_address}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">Preferred way of contact</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.preferred_way_of_contact}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">What time of day would you like to hear from us?</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.what_time_of_day_would_you_like_to_hear_from_us_}}</div>#}
        </div>
        <div class="divTableRow">
            <div class="divTableCell headerText">What prompted you to get in touch?</div>
            {#<div class="divTableCell userValueText">{{webform_submission.values.what_prompted_you_to_get_in_touch_}}</div>#}
        </div>
    </div>
</div>