
{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  {{ title_prefix }}
  {{ children }}

  {# First name #}
  {{ element.elements.first_name }}1

  {# Last name #}
  {{ element.elements.last_name }}2

  {# Email address #}
  {{ element.elements.email_address }}
3
  {# Privacy policy #}
  {{ element.elements.privacy_policy }}

  {# Needed from elements #}
  {{ element.elements.message }}
  {{ element.form_token }}
  {{ element.form_build_id }}
  {{ element.form_id }}
  {{ element.elements.actions }}

  {{ title_suffix }}
</form>
