{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{#{% for field in fields -%}#}

    {#{{ field.separator }}#}
    {#{%- if field.wrapper_element -%}#}
        {#<{{ field.wrapper_element }}{{ field.wrapper_attributes }}>#}
    {#{%- endif %}#}
    {#{%- if field.label -%}#}
        {#{%- if field.label_element -%}#}
            {#<{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>#}
        {#{%- else -%}#}
            {#{{ field.label }}{{ field.label_suffix }}#}
        {#{%- endif %}#}
    {#{%- endif %}#}
    {#{%- if field.element_type -%}#}
        {#<{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>#}
    {#{%- else -%}#}
        {#{{ field.content }}#}
    {#{%- endif %}#}
    {#{%- if field.wrapper_element -%}#}
        {#</{{ field.wrapper_element }}>#}
    {#{%- endif %}#}
{#{%- endfor %}#}
{{ fields.field_croppable_image.content }}
<strong>{{ fields.title.content }}</strong>
<span>
    {{ content.date_ranges }}
</span>
<span>
    {{ fields.body.content }}
</span>
{% set nodeid = fields.nid.content %}
<a href="{{ content.path_alias }}">{{ 'Read more'|t }}</a>