{#
/**
 * @file
 * Default theme implementation for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @ingroup themeable
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    <div class="nav-and-info">
      {{ content }}
      <div class="last-col">
        <ul>
          <li class="menu-parent-item last">
          <span>Get in touch</span>
          <ul class="menu child">
             <li>Call us on<br>UK:&nbsp;<span>{{ '+44 (0)20 7384 2332' }}</span><br>US:&nbsp;<span>{{ '1-800-409-4233' }}</span></li>
             <li>Email us on <a href="mailto:info@cazloyd.com"><span>info@cazloyd.com</span></a></li>
            <li class="social">Find us on
              <a class="facebook" href="https://www.facebook.com/cazenoveandloyd" title="Follow Cazenove+Loyd on Facebook" target="blank">
                <img src="{{ base_path ~ directory }}/images/icon-social-white-fb.svg">
              </a>
              <a class="twitter" href="https://twitter.com/cazenoveandloyd" title="Follow Cazenove+Loyd on Twitter" target="blank">
                <img src="{{ base_path ~ directory }}/images/icon-social-white-twitter.svg">
              </a>
              <a class="instagram" href="https://www.instagram.com/cazenove_and_loyd/" title="Follow Cazenove+Loyd on Instagram" target="blank">
                <img src="{{ base_path ~ directory }}/images/icon-social-white-instagram.svg">
              </a>
              <a class="youtube" href="https://www.youtube.com/user/cazenoveloyd" title="Follow Cazenove+Loyd on YouTube" target="blank">
                <img src="{{ base_path ~ directory }}/images/icon-social-white-youtube.svg">
              </a>
            </li>
            <li class="menu-parent-item">Sign up now</li>
          </ul>
        </li>
      </ul>
        {# News letter signup form #}
        {{ drupal_entity('webform', 'newsletter_signup') }}
        <!--// Sign up form begins
          This sign up form has the identical form values as the paragraph based form but the markup and styling are
          different as per the Invision design. Therefore just form  elements extracted for styling purposes-->
{#          <script language="javascript">#}
{#            <!--#}
{#            function validate_signup(frm) {#}
{#              var emailAddress = frm.Email.value;#}
{#              var errorString = '';#}
{#              var checkBoxValue = frm.ci_userConsentCheckBox.checked;#}
{#              if(checkBoxValue == false){#}
{#                errorString = 'You must accept the terms';#}
{#              }#}
{#              if (emailAddress == '' || emailAddress.indexOf('@') == -1) {#}
{#                errorString = 'Please enter your email address';#}
{#              }#}
{#              var isError = false;#}
{#              if (errorString.length > 0)#}
{#                isError = true;#}
{#              if (isError)#}
{#                alert(errorString);#}
{#              return !isError;#}
{#            }#}
{#            //-->#}
{#          </script>#}
{#          <form action="https://cazloyd-news.com/signup.ashx" id="signup" method="post" name="signup" onsubmit="return validate_signup(this)">#}
{#              <input name="addressbookid" type="hidden" value="36285750" />#}
{#              <input name="ci_isconsentform" placeholder="Enter your email" type="hidden" value="true" />#}
{#              <!-- UserID - required field, do not remove --> <input name="userid" type="hidden" value="38107" />#}
{#              <!-- ReturnURL - when the user hits submit, they'll get sent here --> <input name="ReturnURL" type="hidden" value="{{ url('<front>') }}/newsletter-thank-you" />#}
{#              <!-- Email - the user's email address -->#}
{#              <table class="gdpr-opt-in">#}
{#                  <tbody>#}
{#                  <tr>#}
{#                      <td><input name="Email" placeholder="Enter your email" type="text" /></td>#}
{#                      <td><input name="Submit" type="Submit" value="Go" /></td>#}
{#                  </tr>#}
{#                  <tr class="gdpr-opt-in">#}
{#                      <td colspan="2"><input name="ci_userConsentCheckBox" type="checkbox" />#}
{#                      <span>I agree to the <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/privacy-policy-cookies">Privacy Policy</a> and would like to receive travel inspiration emails from cazenove+loyd.</span></td>#}
{#                  </tr>#}
{#                  </tbody>#}
{#              </table>#}
{#              <input name="ci_userConsentText" type="hidden" value="I+agree+to+the+Privacy+Policy+and+would+like+to+receive+travel+inspiration+emails+from+cazenove%2bloyd." />#}
{#              <input id="ci_consenturl" name="ci_consenturl" type="hidden" value="" />#}
{#          </form>#}
{#          <script language="javascript">#}
{#            var urlInput = document.getElementById("ci_consenturl");#}
{#            if (urlInput != null && urlInput != 'undefined') {#}
{#              urlInput.value = encodeURI(window.location.href);#}
{#            }#}
{#          </script>#}
        <!--// Sign up form ends -->
      </div>
    </div>

  {% endblock %}
</nav>
