{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
      {{ content }}
    <div class="bottom">
      <div class="inner">
    	<ul class="left">
    	  <li class="copyright">&copy; {{ "now"|date("Y") }} Cazenove+Loyd All Rights Reserved</li>
			<li class="ga">Website by <a href="http://www.graphicalliance.co.uk" target="_blank">Graphic Alliance</a></li>
    	</ul>

    	<ul class="right">
    	  <li class="copyright">
    	    <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/privacy-policy-cookies" target="_blank">Privacy Policy</a>
    	  </li>
    	  <li class="ga">
    	    <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/terms-conditions" target="_blank">Terms & Conditions</a>
    	  </li>
    	</ul>
     </div>
    </div>
  </div>
{% endif %}
