<nav {{ attributes }}>
  <div class="container-fluid">
      
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMega" aria-expanded="false" aria-controls="navbar-we-mega-menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>

	  <div id="navbarMega" class="collapse navbar-collapse">
	      {{ content }}    
	  </div>

  </div>
</nav>

