{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
  <div class="field-wrapper row">
    {% block content %}
      <div class="map-overlay-desc-wrapper">
        <div class="map-overlay-desc">
          <div class="map-overlay-desc-inner">
            <span class="subtitle">
              {% if content.field_subtitle|render %}
                {{ content.field_subtitle }}
              {% endif %}
            </span>
            <h2>
              <span>
              {% if content.field_title|render %}
                  {{ content.field_title }}
              {% endif %}
              </span>
            </h2>
            <span>
              {% if content.field_wysiwyg_text|render %}
                  {{ content.field_wysiwyg_text }}
              {% endif %}
            </span>
          </div>
        </div>
      </div><!-- /. map-overlay-desc-wrapper -->
      {# map #}
      {#{% if content.field_map_embed_code|render %}#}
        {#<div class="embed-responsive embed-responsive-16by9 map-destination">#}
          {#<iframe class=-"embed-responsive-item" src="{{ iframe_url }}"></iframe>#}
        {#</div>#}

      <div id="map" class="embed-responsive embed-responsive-16by9 map-destination"></div>
      {#{% endif %}#}
    {% endblock %}
  </div>
  </div>
{% endblock paragraph %}

<!-- PIERRICK - to integrate in a paragraph -->
<script class="hidden">

    function initMap(){

      // Map Options
      var options = {

        // Zoom Level
        zoom: {{ content.field_zoom_level.0 }},

        // Center on co-ordinates
        center: {lat: {{ content.field_latitude.0 }}, lng: {{ content.field_longitude.0 }}},

        // Map Controls
        mapTypeControl: false,
        fullscreenControl: false,

        // Style the Map
        styles: [

          /* ---------------------------------------------
            Global Styles
          --------------------------------------------- */
          {elementType: "geometry", stylers: [{color: "#F9F8F6"}]},
          {elementType: "labels.text.fill", stylers: [{color: "#C7B691"}]},
          {elementType: "labels.text.stroke", stylers: [{color: "#ffffff"}]},

          /* ---------------------------------------------
            Administrative Styles
          --------------------------------------------- */
          // Country Labels
          {
            "featureType": "administrative.country",
            "elementType": "labels.text.fill",
            "stylers": [{"color": "#B2B2B2"}]
          },

          // Country Border
          {
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [{"color": "#B2B2B2"}]
          },

          // Province Border
          {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [{"color": "#B2B2B2"}]
          },

          // Neighborhood Labels
          {
            "featureType": "administrative.neighborhood",
            "elementType": "labels",
            "stylers": [{"visibility": "off"}]
          },

          /* ---------------------------------------------
            Points of Interest Styles
          --------------------------------------------- */
          // POI Labels
          {
            "featureType": "poi",
            "elementType": "labels",
            "stylers": [{"visibility": "off"}]
          },


          /* ---------------------------------------------
            Road Styles
          --------------------------------------------- */
          // Road Labels
          {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [{"visibility": "off"}]
          },

          // Road Highway
          {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
              {"color": "#F2F2F2"},
              {"weight": 3}
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
              {"color": "#E6E6E6"}
            ]
          },

          // Road Arterial
          {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
              {"color": "#FCFCFC"},
              {"weight": 2}
            ]
          },

          // Road Local
          {
            "featureType": "road.local",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#FCFCFC"}]
          },

          /* ---------------------------------------------
            Water Styles
          --------------------------------------------- */
          // Water Fill Colour
          {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#C7D8FF"}]
          },

          // Water Labels
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [{"color": "#9EB3E8"}]
          }

        ]
      }

      // New Map
      var map = new google.maps.Map(document.getElementById('map'), options, features);

      // Add Markers
        // var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var baseURL = '{{ base_path ~ directory }}';
        var iconBase = baseURL + '/images/';
        var icons = {

          plot: {
            name: 'Plot',
            icon: iconBase + 'small-group-page-pin.svg'
          }

        };

        // Pierrick : to be revisited
        // The markers (plots) should only appear on the Maps for the Small Group Detail pages
        // so added a condition based on URL
        if ( (window.location.href.indexOf("group-travel/japan") > -1) || (window.location.href.indexOf("group-travel/jordan") > -1) || (window.location.href.indexOf("group-travel/south-africa") > -1) || (window.location.href.indexOf("group-travel/cuba") > -1) ) {


          var features = [
            // South Africa
            {
              position: new google.maps.LatLng(-26.243103, 28.082594),
              type: 'plot'
            }, {
              position: new google.maps.LatLng(-25.702064, 28.252196),
              type: 'plot'
            }, {
              position: new google.maps.LatLng(-29.832198, 31.042723),
              type: 'plot'
            },
            // Japan
            {
              position: new google.maps.LatLng(35.711368, 139.748947),
              type: 'plot'
            }, {
              position: new google.maps.LatLng(36.614409, 136.656914),
              type: 'plot'
            }, {
              position: new google.maps.LatLng(35.283549, 135.480038),
              type: 'plot'
            },
            // Jordan
            {
              position: new google.maps.LatLng(31.964284, 35.903648),
              type: 'plot'
            }, {
              position: new google.maps.LatLng(29.537083, 35.404912),
              type: 'plot'
            }, {
              position: new google.maps.LatLng(30.328732, 35.444394),
              type: 'plot'
            },
            // Cuba
            {
              position: new google.maps.LatLng(23.129715, -82.358603),
              type: 'plot'
            }, {
              position: new google.maps.LatLng(21.809961, -79.974570),
              type: 'plot'
            }
          ];

        }

        // Create markers.
        if(features) {
          features.forEach(function (feature) {
            var marker = new google.maps.Marker({
              position: feature.position,
              icon: icons[feature.type].icon,
              map: map
            });
          });
        }

        // Define a symbol using SVG path notation, with an opacity of 1.
        var lineSymbol = {
          path: 'M 0,-1 0,1',
          strokeColor: '#559ab4',
          strokeOpacity: 1,
          scale: 4
        };

        // Create the polyline, passing the symbol in the 'icons' property.
        // Give the line an opacity of 0.
        // Repeat the symbol at intervals of 20 pixels to create the dashed effect.

        // South Africa
        var line = new google.maps.Polyline({
        path: [{lat: -26.243103, lng: 28.082594}, {lat: -25.702064, lng: 28.252196}],
          strokeOpacity: 0,

          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }],

          map: map

        });

        var line2 = new google.maps.Polyline({
          path: [{lat: -25.702064, lng: 28.252196}, {lat: -29.832198, lng: 31.042723}],
          strokeOpacity: 0,

          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }],

          map: map

        });

        // Japan
        var line3 = new google.maps.Polyline({
          path: [{lat: 35.711368, lng: 139.748947}, {lat: 36.614409, lng: 136.656914}],
          strokeOpacity: 0,

          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }],

          map: map

          });

          var line4 = new google.maps.Polyline({
          path: [{lat: 36.614409, lng: 136.656914}, {lat: 35.283549, lng: 135.480038}],
          strokeOpacity: 0,

          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }],

          map: map

          });

          // Jordan
          var line5 = new google.maps.Polyline({
          path: [{lat: 31.964284, lng: 35.903648}, {lat: 29.537083, lng: 35.404912}],
          strokeOpacity: 0,

          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }],

          map: map

          });

          var line6 = new google.maps.Polyline({
          path: [{lat: 29.537083, lng: 35.404912}, {lat: 30.328732, lng: 35.444394}],
          strokeOpacity: 0,

          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }],

          map: map

          });

          // Cuba
          var line7 = new google.maps.Polyline({
          path: [{lat: 23.129715, lng: -82.358603}, {lat: 21.809961, lng: -79.974570}],
          strokeOpacity: 0,

          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }],

          map: map

          });

    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWA-eVREJSPt0EYs7KKZikK9M40pmW1Vo&callback=initMap">
  </script>

<!-- PIERRICK - to integrate in a paragraph -->
