{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}

{#  DIV for grouping all team members #}

{% if multiple %}
    {% for item in items %}
        {#  DIV for each team member #}
        <div class="meet-the-team-item">
            {#  Get variables of the rendered entity #}
            {#
                Dev notes regarding 'use_alternative_photo' variable below
                Ok this has been done because we need to be able to display the images slightly differently if the person's
                node is marked as 'sticky at top of lists'. IN the main /meet-team page the top two photos are landscape but
                the rest are portrait.

                Fixing this in css apparently will change the look across all other views using the Meet-the-team view and as
                such cannot be done.

                So a new field has been added to the 'People' content type, called 'field_alternative_mtt_profile_ph' and has
                documentation text next to it. Essentially if the person is to appear at the top of the /meet-team page
                it will use the photo uploaded in the first profile photo field and is uploaded in landscape (Design requirement)

                The 'field_alternative_mtt_profile_ph' field is optional and IF it is provided it will be used in the Meet the team paragraph WIDGET only.
                Thus allowing the content editor to upload the portrait version so that images appear correctly.
            #}
            {% if item.content['#node'].field_alternative_mtt_profile_ph[0].entity.fileuri is empty %}
                {% set use_alternative_photo = 0  %}
            {% else %}
                {% set use_alternative_photo = 1  %}
            {% endif %}

            {%
                set team_member_variables = {
                    var_nid: item.content['#node'].nid[0].value,
                    var_profile_url: team_member_variables.var_nid,
                    var_first_name: item.content['#node'].field_first_name[0].value,
                    var_last_name: item.content['#node'].field_last_name[0].value,
                    var_profile_photo_file_url: item.content['#node'].field_profile_photo[0].entity.fileuri,
                    var_alternative_mtt_profile_photo: item.content['#node'].field_alternative_mtt_profile_ph[0].entity.fileuri,
                }
            %}
            {% set var_team_member_nodeurl = team_member_variables.var_nid %}
            {% set var_team_member_aliasurl = path('entity.node.canonical', {'node': var_team_member_nodeurl}) %}

            <a href="{{ var_team_member_aliasurl }}">
                {% if use_alternative_photo == 1 %}
                    <img class="img-responsive" src="{{ file_url(team_member_variables.var_alternative_mtt_profile_photo) }}" />
                {% else %}
                    <img class="img-responsive" src="{{ file_url(team_member_variables.var_profile_photo_file_url) }}" />
                {% endif %}
                <div class="text-center subtitle">{{ team_member_variables.var_first_name }} {{ team_member_variables.var_last_name }}</div>
            </a>
        </div>
    {% endfor %}
{% endif %}
