{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

<div class="meet-the-team-wrapper" {{ attributes }}>
  <div class="meet-the-team paragraph paragraph--type--meet-the-team paragraph--view-mode--default">

    <div class="row">
	    <span class="subtitle center-block text-center">{{ content.field_subtitle }}</span>
	    <h3 class="center-block text-center">{{ content.field_title }}</h3>
        {% if content.field_wysiwyg_text|render %}
        <span class="center-block text-center">{{ content.field_wysiwyg_text }}</span>
        {% endif %}
	</div>

	<div class="row meet-the-team text-uppercase">
	  {{ content.field_person_ref }}
	</div>

    <div class="row center-block text-center">
    <a class="btn move-right" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/meet-team">MEET THE TEAM</a>
  </div>

 </div>
</div>

{#

{% set conPersonref %}
     {{ content.field_person_ref }}
{% endset %}

{{ drupal_view('meet_the_team_view', 'block_1', conPersonref|striptags|trim) }}

#}
