.custom-breadcrumbs { 
  @media #{$mobileOnly} {
    @include element-invisible; 
  } 
  ol {
    @include display-flex;
    padding-left: 0; 
    li {
      float: left;
    	font-family: $heading-panels-font-family;
    	display: inherit;
    	@include align-items(center);
    	font-size: $font-size-smaller;
      letter-spacing: 1px;
    	a {
    	  color: $gray-base;
        letter-spacing: 1px;
    	  &:hover {
          text-decoration: underline;
    	 }
    	}
      span {
        letter-spacing: 1px;
      }
  	  &:after {
        content: " +";
        display: inline-block;
        padding: ( $padding-small-horizontal * .7 );
  	  }
    	&:last-of-type {
    	 &:after {
    	  content: "";
    	 }
    	}
    }
  }
}

.page-node-type-small-group-detail {
  .custom-breadcrumbs ol li:after {
    color: $color-small-group;
  }
}