div#sliding-popup {
  @include full-width-elem;
  background: $gray-darker;
}

.eu-cookie-compliance-content {
  @include align-items(center);
  @include display-flex;
  @include justify-content(space-between);
  @include flex-flow(row);
  @include flex-wrap(wrap);
  padding: ( $padding-large-vertical * 1.5 ) 0;
  max-width: 100%;
}

.eu-cookie-compliance-message {
  margin: 0;
  padding: 0 ($padding-small-horizontal  * 1.5) 0 0;

  @media #{$mobileOnly} {
    @include flex-basis(100%);
    padding: 0 ($padding-small-horizontal  * 1.5) ($padding-small-horizontal  * 1.5);
    max-width: 100%;
    text-align: center;
  }

  h2 {
    font-size: $font-size-small;
  }

  p {
    margin-bottom: 0;
  }

}

.eu-cookie-compliance-buttons {
  margin: 0;

  @media #{$mobileOnly} {
    @include flex-basis(100%);
    max-width: 100%;
    text-align: center;
  }

}

.eu-cookie-compliance-agree-button,
.eu-cookie-compliance-more-button,
.eu-cookie-compliance-hide-button {
  @extend .transition-bkg;
  background: $brand-primary;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $color-white;
  font-weight: $btn-font-weight;
  margin-top: 0;
  text-shadow: none;

  &:hover {
    background: darken($brand-primary, 15%);
  }
}
