// Apply styles to the <header> and its child elements when users scroll making the header to shrink

// If Users are not logged in
body {
  &:not(.user-logged-in) {

  }
}
body.page-node-type-blog,
  body.path-magazine{
  header.navbar {
    position: relative;
    z-index: 9;
    transition: all 1s ease 0s;
    @media #{$desktopAndUp} {
      transform: translateZ(0);
    }

    &.shrink {
      @media #{$desktopAndUp} {
        animation: smoothScroll 0.5s forwards;
      }
      position: fixed;
      top: auto;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
  }
}

@keyframes smoothScroll {
	0% {
    opacity: 0.5;
    transform: translateY(-65px);
	}
	100% {
    opacity: 1;
    transform: translateY(0px);
	}
}

// Users logged in

body.path-magazine,
body.page-node-type-blog{
header.navbar {

  &.shrink {

    .top-magazine-wrapper {
      &:before, &:after {
        padding: 0;
      }
      .top-magazine {
        h1 {
          @include font-size(3);
        }
        .curious {
          &.svg {
            padding: ($padding-large-vertical * 1.5) 0;
            max-width: 120px;
          }
          .subtitle {
            @include element-invisible;
          }
        }
        .social {
          @include display-flex(flex)
        }
      }
    }

  }
}
}

.top-magazine-wrapper {
  background: $color-white;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $gray-lighter;
}
