/*
 * Fixes 
 */

.paragraph--type--blog-list-by-category .btn{
  padding-top: 0px;
}

.subtitle-title-desc-wrap .field--name-field-intro-text p{
  padding-bottom: 0px;
}
body.page-node-type-small-group-detail .field--name-field-paragraph-content .paragraph--type--cherry-picked-blogs{
  padding-bottom: 0;
}
.paragraph.paragraph--type--charity-item.paragraph--view-mode--default{
  // can become an extended
  padding-left: 15px;
  padding-right: 15px;
  @media #{$tabletAndUp} { 
    max-width: 720px;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media #{$desktopAndUp} { max-width: 658px; }
  @media #{$wide} { max-width: 966px; }
}

/*******************/
/* 16 Nov 2018 */

  // removing padding below more information /destinations/central-south-america/antarctica
  body:not(.path-frontpage)  .field--name-field-paragraph-content .paragraph--type--cherry-picked-blogs .row{
    padding-bottom: 0px;
  }