.instagram-collage-wrapper {
  position: relative;
  
  @media #{$tabletAndUp} {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    padding-bottom: ($padding-large-vertical * 8);
    
    .social.home {
      order: 1;
    }
    .collage {
      order: 2;
    }
    .follow-us-wrapper {
      order: 3;
    } 
    
  }

  .collage {

    @media #{$tabletAndUp} {
      position: relative;
      z-index: 1;
    }
    
    img {
      display: block;
      margin: 0 auto;
    }

  }

  .follow-us-wrapper {
  	position: relative;
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-basis(100%);
    
    @media #{$tabletAndUp} {
      display: block;
      position: absolute;
      z-index: 2;
      top: 65%;
      padding-top: 0;
    }

  	@media #{$wide} {
      margin: 0 auto;
  	}

    .follow-us {
	    @include display-flex(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include flex-basis(100%);
      padding-top: ($padding-large-vertical * 6);

      @media #{$tabletAndUp} {
      	 display: block;
         padding-top: 0;
      }

      @media #{$desktopAndUp} {
      	@include font-size(1.7);
      }

      @media #{$wide} {
      	@include font-size(1.7);
      }

      > * {
        width: 100%;
        text-align: center;
        
        @media #{$tabletAndUp} {
         text-align: left; 
        }

      }

	    h2 {
        margin: 0;
	    }
	  
      .handle {
        a {
          font-family: $font-family-sans-serif-bold
        }
	    }

	  }
  } /* follow-us-wrapper */


  .social.home {
    
    @media #{$tabletAndUp} {
      text-align: right;
      width: 100%; 
    } 

    ul {
      
      list-style-type: none;
      margin: 0;
      padding: ($padding-large-vertical * 2) 0 0 0;

      &:before {
        content: "Find us here too";
        font-family: $font-family-sans-serif-bold;
        color: $gray-darker;
        padding: 0 0 $padding-large-vertical 0;
        display: inline-block;
        
        @media #{$tabletAndUp} {
          display: inline;
          padding: ($padding-large-vertical * 8) 0 ($padding-large-vertical * 2) 0;
        }

      }

      li {
    
        &:before {
          content: '';

          @media #{$tabletAndUp} {
           content: '_____';
           display: inline;
           position: relative;
           top: -5px;
           padding: 0 10px;  
          }

        }

        @media #{$tabletAndUp} {
           display: inline; 
        }
      
        a {
          padding-right: $padding-large-vertical * 2;
          
          &:last-of-type {
            padding-right: 0;
          }

          img {
            width: 35px;
            height: 35px;

             @media #{$tabletAndUp} {
               width: 20px;
               height: 20px; 
             }

          }

        }      
              
      }
    }

  }


} /* Instagram-collage-wrapper */

