.interactive-map-wrapper {
  h2 {
    margin-top: 0;
    @media #{$wide} {
      max-width: 17%;
    }
  }
  .map {
    margin: 0 auto;
    position: relative;
    margin-top: ( $padding-large-vertical * 6 );
    @include display-flex(flex);
    @include align-items(flex-end);
    @media #{$wide} {
      width: 1000px;
      margin: 0 auto;
    }
    .has-tooltip{
      background: $gray-darker url(../images/map-button.svg) no-repeat 50%;
      position:relative;
      width: 34px;
      height: 34px;
      display: inline-block;
      border-radius: 17px;

      &.polar-north {
        z-index: 10;
        top: 70px;
        left: 35%;
        position: absolute;
        @media #{$tabletAndUp} {
          top: 70px;
        }
      }

      &.polar-south {
        z-index: 10;
        top: auto;
        bottom: 5px;
        left: 25%;
        position: absolute;
      }

      &.americas {
        z-index: 10;
        top: 175px;
        left: 28%;
        position: absolute;
        @media #{$tabletAndUp} {
          top: 340px;
        }
      }

      &.africa {
        z-index: 10;
        top: 140px;
        left: 55%;
        position: absolute;
        @media #{$tabletAndUp} {
          top: 315px;
          left: 50%;
        }
      }

      &.asia {
        z-index: 10;
        top: 115px;
        left: 75%;
        position: absolute;
        @media #{$tabletAndUp} {
          top: 190px;
          left: 80%;
        }
      }

      &.australasia {
        z-index: 10;
        top: 200px;
        left: 85%;
        position: absolute;
        @media #{$tabletAndUp} {
          top: 400px;
          left: 87%;
        }
      }

      &:hover {
        z-index: 11;
      }

     .tooltip {
        pointer-events: none;
        position:absolute;
        z-index:9999;
        left:50%;
        top:-70px;
        opacity:0;
        width: 298px;
        @extend .transition-all-semi-fast-in-out;
        span{
          display:block;
          white-space:nowrap;
          position:relative;
        }
      }

      &:hover span{
        opacity:1;
      }

      &.polar-north,
      &.polar-south,
      &.americas,
      &.africa {
        &:hover span {
          @media #{$untilDesktop} {
            width: calc(500%);
            span {
              width: auto;
            }
          }
        }
      }

      &.australasia,
      &.asia {
        &:hover span {
          @media #{$desktopAndUp} {
            width: 298px;
            left: -825%;
            span {
              width: auto;
              left: auto;
            }
          }
          @media #{$untilDesktop} {
            width: calc(500%);
            left: -155px;
            span {
              width: auto;
              left: auto;
            }
          }
        }
      }

    }
  }
}
