.seats-remaining {
  @include align-items(center);
  @include justify-content(center);
  background: $gray-darker;
  position: absolute;
  left: 94.5%; 
  z-index: 10;
  top: 30px;
  font-family: $headings-font-family-regular;
  font-size: ( $font-size-smaller * 0.9 );
  color: $color-white;
  background: url(../images/seat-remaining-badge.svg) no-repeat top left;
  background-size: 97%;
  height: 70px;
  width: 139px;
  text-transform: uppercase;
  @media #{$tabletAndUp} {
    height: 90px;
    width: 159px;
    background-size: 100%;
    font-size: ( $font-size-smaller * 0.9 );
  }
  .inner {
    padding: ( $padding-small-vertical );
    width: 75%;
    text-align: center;
    letter-spacing: 1px
  }
}