/* Search in the header */

.search-header {
  display: inline-block;
  width: 18px;
  position: absolute;
  z-index: 10;
  right: 17%;
  top: 10px;

  @media #{$tabletOnly} {
    right: 2%;
  }

  @media #{$tabletAndUp} {
    top: 17px;
  }

  @media #{$desktopAndUp} {
    right: 15%;
  }

  @media #{$wide} {
    right: 28.5%;
  }

  &:hover {
    cursor: pointer;
    opacity: .9;
  }

  img {
    &.search-is-visible {
      opacity: .2;
    }
  }

  .search-reveal {
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    top: 80px;
    height: 60px;

    @media #{$tabletAndUp} {
      top: 99px;
    }

    .close-search-form {
      content: "";
        background: url(../images/search-close.svg) no-repeat 17px;
        display: inline-block;
        width: 35px;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 3;
        background-size: 50%;
        left: 15px;
    }

    .input-group {
      width: 100%;
      padding-left: 60px;
      background-color: $gray-dark;
      background-size: 18px;
      opacity: .9;

      .input {
        box-shadow: none;
      }

      .input-group-btn {
        background-color: $gray-darker;
      }

      .form-submit {
        padding: 20px 20px;
        margin-left: 0;
        width: 100%;
        min-height: 60px;
        font-family: $headings-font-family-regular;
        background: url(../images/magnifier.svg) no-repeat center;
        background-size: 35%;

        &:after {
          content: "";
        }
      }

      .glyphicon-search:before {
        content:"";
      }

    }

    label {
      color: $gray;
      font-family: $headings-font-family-regular;
      letter-spacing: 1px;
    }

    input.form-search {
      height: 60px;
      background: $gray-dark;
      border: 0;
      border-radius: 0;
      font-family: $headings-font-family-regular;
      font-size: $font-size-smaller;
      color: $color-white;
      text-transform: uppercase;

      &:focus {
        box-shadow: none;
        background: $gray-dark;
      }

      &::-webkit-input-placeholder {
        font-family: $headings-font-family-regular;
        font-size: $font-size-smaller;
      }
      &::-moz-placeholder {
        font-family: $headings-font-family-regular;
        font-size: $font-size-smaller;
      }
      &:-ms-input-placeholder {
        font-family: $headings-font-family-regular;
        font-size: $font-size-smaller;
      }
      &:-moz-placeholder {
        font-family: $headings-font-family-regular;
        font-size: $font-size-smaller;
      }

    }

  }
}

/* Search for the Blog */
.custom-curious-search-form {
   @include display-flex(flex);
   @include justify-content(center);
   position: relative;
  .form-item-curious-search {
    position: relative;
    overflow: hidden;
    margin: 0;
    transition: all 0.35s;
    &:hover {
      > .input-group {
      	input {
          width: 100%;
          border: 1px solid $gray-lighter;
          &::placeholder {
          	content:"Type in and press enter";
          	display: inline-block;
          }
          &:focus {
          	&:before {
          	  opacity: 0;
          	}
          }
        }
        label {
          opacity: 0;
        }
      }
    }

	label {
	  font-family: $headings-font-family-regular;
	  color: $gray-custom;
	  font-size: $font-size-smaller * .9;
	  padding-right: $padding-small-horizontal * 2;
	  margin-bottom: 0;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	  position: absolute;
    z-index: 2;
    top: 30%;
    right: 10%;
	  @media #{$untilTablet} {
	  	@include element-invisible;
	  }
	  @media #{$desktopAndUp} {
        @include display-flex(flex);
	    @include align-items(center);
	  }
	}
	.input-group {
	  width: 250px;
	  position: relative;
      z-index: 3;
	  @media #{$desktopAndUp} {
        > input {
          position: relative;
          z-index: 3;
          float: right;
          width: 0;
          transition: width .25s ease-in;
          border: 0;
          box-shadow: none;
        }
	  }
	  .input-group-addon {
        @include element-invisible;
	  }
	}
  }
  .btn {
    padding: 0;
    background: url(../images/magnifier-black.svg) no-repeat 50%;
  	cursor: pointer;
  	text-indent: -9999px;
    width: 40px;
    margin-left: -40px;
    z-index: 3;
  }
}

.ui-autocomplete  {
  border: 1px solid $input-border;
  max-width: 300px;
  .ui-menu-item {
    padding: 0;
    border-image-width: 0;
    &:hover,
    &:focus {
      background: none;
      list-style-image: none;
      border: none;
      outline: none;
      margin: 0;
    }
    &:first-of-type {
      a {
        border-top: none;
      }
    }
    a {
      position: relative;
      display: block;
      padding: $padding-large-vertical $padding-large-vertical $padding-large-vertical $padding-large-vertical*3;
      background: $color-white;
      color: $gray-custom;
      font-size: $font-size-smaller;
      border-top: 1px solid $input-border;
      @extend .transition-all-fast-in-out;
      &:before {
        position: absolute;
        left: 10px;
        top: 10px;
        content: "+";
        display: inline-block;
        color: $gray-base;
        @extend .transition-all-fast-in-out;
      }
      &:hover {
        background: $brand-primary;
        color: $color-white;
        &:before {
          color: $color-white;
        }
      }
    }
  }
}