.share {
  > * {
  	width: 100%;
  }
  .social {
    margin: 0;
    padding: 0;	
  	li {	
      display: inline-block;
      width: 29px;
      height: 18px;
      background-image: url(../images/share-sprite.svg);
      position: relative;
      @extend .transition-all-fast-in-out;
      &.facebook {
      	width: 23px;
        background-position: 0 0;
      }
      &.instagram {
        background-position: 66% 0;	
      }
      &.twitter {
        background-position: 27% 0;	
      }
      &.youtube {
        background-position: 100% 0;	
      }
      &:hover {
      	@extend .scale-subtle-on-hover;
      }
      a {
      	position: absolute;
      	top: 0;
      	bottom: 0;
      	width: 100%;
      }
  	}
  }
}