.share-bottom-post {

  .icons {
  	@include display-flex(flex);
  	@include align-items(center);
  	@include justify-content(center);
  	padding: $padding-large-vertical 0;
  	> * {
  	  padding-right: $padding-small-horizontal;
  	  > span {
  	  	background-color: $gray-base;
  	  	border-radius: 19px;
        height: 38px;
        width: 38px;
  	  	@include display-flex(flex);
  	    @include align-items(center);
        @extend .transition-all-semi-fast-in-out;
        
        &:hover {
          background-color: $brand-primary;
        }	  	
   

        > * {
  	  		width: 60%;
  	  	}

  	  }
  	}
  }
}