/*
 * Small overwrites
 */


// Overwriting the padding applied on pseudo elements for the Map on the contact page
body.page-node-type-page.Contact,
body.page-node-type-page.contact{ // alias
  .field--name-field-paragraph-content {
    > .field--item .paragraph.paragraph--type--two-column-wysiwyg {
      &:before,
      &:after {
        padding: 0;
      }
    } 
  }
}

// Overwriting background following a 
body:not(.path-frontpage) {
  &.page-node-type-page .field--name-field-paragraph-content {
    > .field--item {
      background: $background-panel-color;
    }
  }
}

body.Contact {
  &.page-node-type-page .field--name-field-paragraph-content {
    > .field--item {
      background: #fff;
    }
  }
}


