.logo-site-name {
  padding: ( $padding-small-vertical) 0;
  position: relative;
  z-index: 10;
  .logo {
    &.navbar-btn {
      padding-left: 15%;
      margin-top: 0;
      min-width: 175px;
      // Pierrick - limit the width so the logo does not get stretched (flex)

       @media #{$mobileOnly} {
         > img {
          max-width: 160px;
         }
       }

       @media #{$tabletOnly} {
         padding-left: 7.5%;

         > img {
          max-width: 150px;
         }

       }

    }
  }
  .site-name.navbar-brand {
    /*Leaving the site name in the source code but clipping it - accessibility / screen readers*/
    @include element-invisible;
  }
}

.enquire-form-page .phone-enquire {
  display: none;
}

.phone-enquire {

  .phone-number {
    color: $color-white;
    font-family: $headings-font-family;
    font-size: $font-size-smaller * .8;
    text-align: center;
    line-height: ( $line-height-base * 2 );

    @media #{$untilWide} {
      @include element-invisible;
    }

    @media #{$tabletAndUp} {
      font-size: $font-size-smaller * .8;
    }

    @media #{$wide} {
      font-size: $font-size-smaller;
    }

    a {
      color: $color-white;
      &:hover {
        color: $brand-primary;
      }
    }

  }

  .enquire {
    @include display-flex(flex);
    @align-items(center);
    min-height: 65px;
    position: relative;

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(50% - 2px);
      line-height: 65px;
      text-align: center;
      flex: 1;
      color: $color-white;
      font-family: $headings-font-family-regular;
      font-size: $font-size-smaller;
      text-transform: uppercase;
      background: $brand-primary;
      transition: 0.3s;
      letter-spacing: 1.5px;

      @media #{$desktopAndUp} {
        width: 100%;
      }

      &:hover {
        background: darken($brand-primary, 15%);
      }

    }

    .call-us {
      left: auto;
      right: 0;

      @media #{$desktopAndUp} {
        @include element-invisible;
      }

    }

    &:after {
      content: "";
    }

  }

}
