.subscribe {
  padding: ($padding-small-horizontal * 3);
  .inner {
  	@include display-flex(flex);
  	@include flex-wrap(wrap);
  	> * {
  		@include flex-basis(100%);

  		@media #{$tabletAndUp} {
          @include flex-basis(50%);
  		}
  	}
    .subtitle {
      padding-bottom: $padding-small-vertical * 3;
      display: inline-block;
    }
  	.sub-intro {
  	  padding-right: $padding-large-horizontal * 3;
  	  h2 {
  	    margin: 0;
        line-height: ($line-height-base * 0.75);
        letter-spacing: 2px;

        font-size: $font-size-h2 * 1.15;
        padding-bottom: $padding-small-vertical * 3;

        @media #{$desktopAndUp} {
          max-width: 65%;

          & + p {
            max-width: 56%;
            color: $gray-darker;
          }

        }


  	  }
  	}
  	



  }
}
#webform-submission-newsletter-signup-form-ajax {
  @include display-flex(flex);
  @include align-items(center);
  form {
    width: 100%;
    > * {
      width: inherit;
    }
    input {
      height: 50px;
      font-weight: $font-pn-weight-bold;
      color: $gray-custom;
      padding-left: $padding-small-horizontal * 2.5;
      border: 1px solid $gray-lighter;
      border-radius: 0;
      font-size: $font-size-smaller;
      margin-bottom: 5px;
    }
    .js-form-type-checkbox {
      label {
        font-size: $font-size-smaller;
        color: $color-white;
        input {
          position: relative;
          top: 4px;
          margin-right: 5px;
          height: 16px;
        }
      }
    }
    
    .webform-button--submit {
      height: 53px;
      background-color: $color-celebrations;
      &:hover {
        background: darken($color-celebrations, 15%);
      }
    }
    .webform-confirmation {
      .webform-confirmation__message {
        color: $color-white;
      }
    }
  }
}