.page-node-type-blog article .field--name-body {

	p.video  {
		width: auto;

		.width-control {
		  @include display-flex(flex);
		  @include align-items(center);
		  @include justify-content(center);
		  @include full-width-elem;

			& > * {
				max-width: 1200px;
				width: 100%;
			}

		}

	}

}
