.pagination-wrapper,
.view-press {
  > nav {
    @include display-flex(flex);
    @include justify-content(center);
	  
    .pager,
    .pagination {
      @include display-flex(flex);
      > li {
        @include display-flex(flex);
      }
    }

    .pager,
    .pagination {
	    .previous {
	      > a, span {
	       float: none;
		    }
	    }
	  
      li {

        &:before {
          content: "";
        }

	  	  > a {
	  	    @extend .btn;
          letter-spacing: 2px;
          font-family: $heading-panels-font-family;
          background: none;
          color: $gray-darker;
          padding: ($padding-large-vertical * 2) ($padding-small-horizontal * 3);
          &:after {
            padding-left: $padding-small-horizontal; 
          }
          &:hover {
            background: none;
            color: $gray-darker;
            &:after {
              @extend .move-right;
            }
            &:before {
              transform: rotate(180deg) translateX(10px);
              @extend .transition-all-fast-in-out;
            }
          }
	  	  }

        &.previous,
        &.pager__item--previous {
	        a {
            border-right: 1px solid $gray-lighter;
            padding-right: $padding-xs-horizontal * 4;
            &:after {
              content: "";
              padding: 0;
            }
            &:before {
              @extend .back-arrow;
            }
          }
        }
      }
	  }

  }
}