{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{#% set conBgcolour %#}
     {#{ content.field_background_colour }#}
{#% endset %#}

{% set iconColour %}
    {{ content.processed_icon_colour }}
{% endset %}

<!--
	OTHER AVAILABLE VARS NEEDED FOR STYLING

	content.field_features_style - values: left_right or top_bottom
	content.field_number_of_columns - values: 1 or 2

 -->
{% set cols %}
    {{ content.field_number_of_columns.0 }}
{% endset %}

{% set field_features_style %}
 {{ content.field_features_style }}
{% endset %}

{% set class_number_of_columns = '---' %}

{% if cols|striptags|trim == '4' %}
    {% set class_number_of_columns = 'four' %}
{% endif %}

{% if cols|striptags|trim == '3' %}
    {% set class_number_of_columns = 'three' %}
{% endif %}

{#This boolean determines if we are showing a step by step feature list#}
{% set field_is_step_by_step %}
    {{ content.field_is_step_by_step }}
{% endset %}

  <div class="key-features-wrap text-center {{ field_features_style|striptags|trim }} {{ class_number_of_columns }}">
    <div class="para-header">
        {{ content.field_intro_text }}		
	</div>
    <div class="inner-wrapper">
     <div class="summary">
       <h3>{{ content.field_key_features_title }}</h3>
     </div>
     <div class="row">
	  {#Loop through each key feature item#}
      

      <!-- ICON COLOUR: {{ iconColour }} 
       
       NB: 
       
       - The .svg-convert class below is used by JS to extract the raw SVG code from the uploaded .svg file so it can be manipulated via CSS

       - The (fill) colour chosen by users is pulled through and apply to the raw SVG code

       -->

      {% for key_feature in content.key_feature_list %}
	 <div class="key-features-wrap-item">
       
       <div class="icon">
         <img src="{{ key_feature.field_icon_url }}" class="svg-convert" style="fill: {{ iconColour }}" />
       </div>
	   <div class="title-desc">
	     <span>{{ key_feature.field_feature_title }}</span>
	     {{ key_feature.field_feature_description|raw }}
	   </div>
	   <div class="arrow">
	   	<img src="{{ base_path ~ directory }}/images/icon-arrow.svg" class="svg-convert" style="fill: {{ iconColour }}" />
	   </div>

	</div>

      {#icon_target_id: {{ key_feature.icon_target_id }}<br>#}
	  {#file_fid: {{ key_feature.file_fid }}#}
      {% endfor %}
	</div>
	<div class="more-link">
	  {{ content.field_find_out_more_link }}
	</div>
  </div>
 </div>
