    {# Hide the paragraph if no articles were returned #}
    {%  if (content.selected_blogs.has_articles >= 1) %}

    {# Check the max articles to display as set in the paragraph settings and output a class to indicate this #}
    {# class name variable: css_class_max_articles #}

    {% if content.selected_blogs.field_quantity_to_show == 2 %}
        {% set css_class_max_articles = 'two' %}
    {% elseif content.selected_blogs.field_quantity_to_show == 4 %}
        {% set css_class_max_articles = 'four' %}
    {% elseif content.selected_blogs.field_quantity_to_show == 6 %}
        {% set css_class_max_articles = 'six' %}
    {% elseif content.selected_blogs.field_quantity_to_show == 8 %}
        {% set css_class_max_articles = 'eight' %}
    {% else %}
        {% set css_class_max_articles = 'four' %}
    {% endif %}

    {# Create a class that represents the ACTUAL number of articles been returned #}
        {# class name variable: css_class_num_articles #}
    {% if content.selected_blogs.has_articles == 1 %}
        {% set css_class_num_articles = 'one' %}
    {% elseif content.selected_blogs.has_articles == 2 %}
        {% set css_class_num_articles = 'two' %}
    {% elseif content.selected_blogs.has_articles == 3 %}
        {% set css_class_num_articles = 'three' %}
    {% elseif content.selected_blogs.has_articles == 4 %}
        {% set css_class_num_articles = 'four' %}
    {% elseif content.selected_blogs.has_articles == 5 %}
        {% set css_class_num_articles = 'five' %}
    {% elseif content.selected_blogs.has_articles == 6 %}
        {% set css_class_num_articles = 'six' %}
    {% elseif content.selected_blogs.has_articles == 7 %}
        {% set css_class_num_articles = 'seven' %}
    {% elseif content.selected_blogs.has_articles == 8 %}
        {% set css_class_num_articles = 'eight' %}
    {% endif %}

    {% if content.selected_blogs.has_articles >= content.selected_blogs.field_quantity_to_show %}
        {% set css_class_num_articles = css_class_max_articles %}
    {% endif %}

    {%
        set classes = [
            'paragraph',
            'paragraph--type--' ~ paragraph.bundle|clean_class,
            view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
            css_class_num_articles
        ]
    %}

{% block paragraph %}
{#Max Articles[{{ content.selected_blogs.field_quantity_to_show }}] ... Num Articles[{{ content.selected_blogs.has_articles }}] => Class name[{{ css_class_num_articles }}]#}

<div{{ attributes.addClass(classes) }}>
  <div>

  {% block content %}

  {% if (paragraph.field_show_as_curious.value == '1') %}

    <div class="curious center-block text-center svg">
      <a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/magazine" title="Cazenove + Loyd Magazine Homepage"><img src="{{ base_path ~ directory }}/images/curious-logo.svg" /></a>
    </div>

    <span class="subtitle center-block text-center">
      {{ content.field_subtitle }}
    </span>

    <div class="curious-intro center-block text-center">
      {{ content.field_curious_intro }}
    </div>

  {% else %}

    <div class="row not-curious subtitle-title-desc-wrap clear">

      <span class="subtitle center-block text-center">
        {{ content.field_subtitle }}
      </span>

      <h3 class="center-block text-center text-center">
        {{ content.field_title }}
      </h3>
    </div>

  {% endif %}

  <div>
    <div class="view-wrapper no-padding cherry-picked-blogs">
      <div class="inner blog-filtered">
        <div class="view-content">


          {# For each blog in the list that the content editor has selected #}
          {% for blog in content.selected_blogs.blog_list %}

           <div class="views-row">

          {# Do not show more articles than what the content editor has specified as the maximum #}
          {% if loop.index <= content.selected_blogs.field_quantity_to_show %}

            <div class="teaser-image"><img src="{{ blog.image_style_path }}" /></div>

            <div class="teaser-title-summary">

            {% if blog.title|striptags|trim != '' %}
              <div class="teaser-title"><a href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}{{ blog.alias|striptags|trim }}">{{ blog.title|raw }}</a></div>
            {% endif %}

            {% if blog.author_for_teaser_display != '' %}
                <div class="by">Written by {{ blog.author_for_teaser_display|striptags|trim }}</div>
            {% endif %}

            {# Hide the blog summaries if the content editor has set the flag for it to not be shown #}
            {% if content.hide_summary != 1 %}

              {% if blog.summary|raw is not empty %}
                <div class="teaser-summary">{{ blog.summary|striptags }}</div>
              {% else %}
                <div class="teaser-summary">{{ blog.body|striptags|slice(0,200) }}</div>
              {% endif %}

            {% endif %}

            </div>

          {% endif %}

          </div>
          {% endfor %}

      </div>
    </div>
   </div>
  </div>

  <div class="row center-block text-center">
    <a class="btn transparent clear move-right" href="{% if 'en-US' in cazloyd_url_language %}/en-US{% else %}/en{% endif %}/magazine">MORE INSPIRATION</a>
  </div>

  {% endblock %}

  </div>
</div>

{% endblock paragraph %}

{% endif %}
